a.dbShop-ui-appBtn {
    color: white;
    !important;
}

a.dbShop-ui-appBtn:link, a.dbShop-ui-appBtn:active,  a.dbShop-ui-appBtn:visited, a.dbShop-ui-appBtn:hover {
    display: block;
    float: left;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Arial, Tahoma, PMingLiu, sans-serif;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #666666;
}

a.dbShop-ui-continue_shopping:link, a.dbShop-ui-continue_shopping:active,  a.dbShop-ui-continue_shopping:visited, a.dbShop-ui-continue_shopping:hover {
    font-size: 12px;
    line-height: 150%;
    height: 14px;
    padding: 4px 7px 10px 25px;
    *padding: 4px 7px 10px 25px;
    _padding: 4px 7px 4px 25px;
    background: #636363 url(../images/back_Btn.png) no-repeat 0px 3px;
    *background: #636363 url(../images/back_Btn.gif) no-repeat 0px 3px;
}

a.dbShop-ui-continue_shopping:hover {
    background: #61b09f url(../images/back_Btn.png) no-repeat 0px 3px;
    *background: #61b09f url(../images/back_hover_Btn.gif) no-repeat 0px 3px;
}

a.dbShop-ui-refresh:link, a.dbShop-ui-refresh:active,  a.dbShop-ui-refresh:visited, a.dbShop-ui-refresh:hover {
    font-size: 12px;
    line-height: 150%;
    height: 14px;
    padding: 5px 7px 9px 30px;
    *padding: 4px 7px 10px 30px;
    _padding: 4px 7px 4px 30px;
    background: #636363 url(../images/refresh_Btn.png) no-repeat 3px 4px;
    *background: #636363 url(../images/refresh_Btn.gif) no-repeat 3px 3px;
}

a.dbShop-ui-refresh:hover {
    background: #61b09f url(../images/refresh_Btn.png) no-repeat 3px 4px;
    *background: #61b09f url(../images/refresh_hover_Btn.gif) no-repeat 3px 3px;
}

a.dbShop-ui-checkout:link, a.dbShop-ui-checkout:active,  a.dbShop-ui-checkout:visited, a.dbShop-ui-checkout:hover {
    font-size: 12px;
    line-height: 140%;
    height: 14px;
    padding: 5px 7px 9px 28px;
    *padding: 5px 7px 9px 28px;
    _padding: 5px 7px 5px 28px;
    background: #636363 url(../images/checkout_Btn.png) no-repeat 3px 3px;
    *background: #636363 url(../images/checkout_Btn.gif) no-repeat 3px 3px;
}

a.dbShop-ui-checkout:hover {
    background: #61b09f url(../images/checkout_Btn.png) no-repeat 3px 3px;
    *background: #61b09f url(../images/checkout_hover_Btn.gif) no-repeat 3px 3px;
}

a.dbShop-ui-save:link, a.dbShop-ui-save:active,  a.dbShop-ui-save:visited, a.dbShop-ui-save:hover {
    font-size: 12px;
    line-height: 150%;
    height: 14px;
    padding: 5px 7px 9px 28px;
    *padding: 4px 7px 10px 28px;
    _padding: 4px 7px 4px 28px;
    background: #61b09f url(../images/checkout_Btn.png) no-repeat 3px 3px;
    *background: #61b09f url(../images/save_Btn.gif) no-repeat 3px 3px;
}

a.dbShop-ui-save:hover {
    background: #73d3be url(../images/checkout_Btn.png) no-repeat 3px 3px;
    *background: #73d3be url(../images/save_hover_Btn.gif) no-repeat 3px 3px;
}

a.dbShop-ui-back, a.dbShop-ui-back:link, a.dbShop-ui-back:active,  a.dbShop-ui-back:visited, a.dbShop-ui-back:hover {
    font-size: 12px;
    line-height: 140%;
    height: 14px;
    padding: 5px 7px 9px 25px;
    *padding: 5px 7px 9px 25px;
    _padding: 5px 7px 5px 25px;
    background: #636363 url(../images/back_Btn.png) no-repeat 0px 3px;
    *background: #636363 url(../images/back_Btn.gif) no-repeat 0px 3px;
}

a.dbShop-ui-back:hover {
    background: #61b09f url(../images/back_Btn.png) no-repeat 0px 3px;
    *background: #61b09f url(../images/back_hover_Btn.gif) no-repeat 0px 3px;
}

a.dbShop-ui-cancel, a.dbShop-ui-cancel:link, a.dbShop-ui-cancel:active,  a.dbShop-ui-cancel:visited, a.dbShop-ui-cancel:hover {
    font-size: 12px;
    line-height: 140%;
    height: 14px;
    padding: 5px 7px 9px 28px;
    *padding: 5px 7px 9px 25px;
    _padding: 5px 7px 5px 28px;
    background: #636363 url(../images/cancel_Btn.png) no-repeat 2px 3px;
    *background: #636363 url(../images/cancel_Btn.gif) no-repeat 2px 3px;
}

a.dbShop-ui-cancel:hover {
    background: #61b09f url(../images/cancel_Btn.png) no-repeat 2px 3px;
    *background: #61b09f url(../images/cancel_hover_Btn.gif) no-repeat 2px 3px;
}

a.dbShop-ui-delete_bo, a.dbShop-ui-delete_bo:link, a.dbShop-ui-delete_bo:active,  a.dbShop-ui-delete_bo:visited, a.dbShop-ui-delete_bo:hover {
    font-size: 12px;
    line-height: 140%;
    height: 14px;
    padding: 5px 15px 9px 15px;
    *padding: 5px 15px 9px 15px;
    _padding: 5px 15px 5px 15px;
    background: #CC0000;
    *background: #CC0000 url(../images/cancel_Btn.gif) no-repeat 2px 3px;
}

a.dbShop-ui-delete_bo:hover {
    background: #FF0000;
    *background: #FF0000;
}

a.dbShop-ui-addapointment_bo, a.dbShop-ui-addapointment_bo:link, a.dbShop-ui-addapointment_bo:active,  a.dbShop-ui-addapointment_bo:visited, a.dbShop-ui-addapointment_bo:hover {
    font-size: 12px;
    line-height: 140%;
    height: 14px;
    padding: 5px 15px 9px 15px;
    *padding: 5px 15px 9px 15px;
    _padding: 5px 15px 5px 15px;
    background: #61B09F;
    *background: #CC0000 url(../images/cancel_Btn.gif) no-repeat 2px 3px;
}

a.dbShop-ui-addapointment_bo:hover {
    background: #73D3BE;
    *background: #73D3BE;
}

a.dbShop-ui-restore_bo, a.dbShop-ui-restore_bo:link, a.dbShop-ui-restore_bo:active,  a.dbShop-ui-restore_bo:visited, a.dbShop-ui-restore_bo:hover {
    font-size: 12px;
    line-height: 140%;
    height: 14px;
    padding: 5px 15px 9px 15px;
    *padding: 5px 15px 9px 15px;
    _padding: 5px 15px 5px 15px;
    background: #636363;
}

a.dbShop-ui-restore_bo:hover {
    background: #B8B8B8;
}

a.dbShop-ui-continue:link, a.dbShop-ui-continue:active,  a.dbShop-ui-continue:visited, a.dbShop-ui-continue:hover {
    font-size: 12px;
    line-height: 140%;
    height: 14px;
    padding: 5px 7px 9px 25px;
    *padding: 5px 7px 9px 25px;
    _padding: 5px 7px 5px 25px;
    background: #636363 url(../images/continue_Btn.png) no-repeat 0px 3px;
    *background: #636363 url(../images/continue_Btn.gif) no-repeat 0px 3px;
}

a.dbShop-ui-continue:hover {
    background: #61b09f url(../images/continue_Btn.png) no-repeat 0px 3px;
    *background: #61b09f url(../images/continue_hover_Btn.gif) no-repeat 0px 3px;
}

a.dbShop-ui-addcategory, a.dbShop-ui-addcategory:link, a.dbShop-ui-addcategory:active,  a.dbShop-ui-addcategory:visited, a.dbShop-ui-addcategory:hover {
    float: left;
    font-size: 12px;
    line-height: 140%;
    height: 14px;
    padding: 5px 7px 9px 28px;
    background: #B8B8B8 url(../images/add_Btn.gif) no-repeat 2px 2px;
    *padding: 5px 7px 9px 28px;
    _padding: 5px 7px 5px 28px;
}

a.dbShop-ui-addcategory:hover {
    float: left;
    background: #666666 url(../images/add_Btn.gif) no-repeat 2px 2px;
}

a.dbShop-ui-addproduct, a.dbShop-ui-addproduct:link, a.dbShop-ui-addproduct:active,  a.dbShop-ui-addproduct:visited, a.dbShop-ui-addproduct:hover {
    float: left;
    font-size: 12px;
    line-height: 140%;
    height: 14px;
    padding: 6px 7px 8px 28px;
    background: #666666 url(../images/add_Btn.gif) no-repeat 2px 3px;
    *padding: 5px 7px 9px 28px;
    _padding: 5px 7px 5px 28px;
}

a.dbShop-ui-addproduct:hover {
    float: left;
    background: #B8B8B8 url(../images/add_Btn.gif) no-repeat 2px 3px;
}

a.dbShop-ui-addprofile:link, a.dbShop-ui-addprofile:active,  a.dbShop-ui-addprofile:visited, a.dbShop-ui-addprofile:hover {
    font-size: 12px;
    line-height: 140%;
    height: 14px;
    padding: 5px 7px 9px 28px;
    *padding: 5px 7px 9px 28px;
    _padding: 5px 7px 5px 28px;
    background: #61b09f url(../images/add_Btn.png) no-repeat 2px 2px;
    *background: #61b09f url(../images/add_Btn.gif) no-repeat 2px 2px;
}

a.dbShop-ui-addprofile:hover {
    background: #73d3be url(../images/add_Btn.png) no-repeat 2px 2px;
    *background: #73d3be url(../images/add_hover_Btn.gif) no-repeat 2px 2px;
}

a.dbShop-ui-delete_big:link, a.dbShop-ui-delete_big:active,  a.dbShop-ui-delete_big:visited, a.dbShop-ui-delete_big:hover {
    font-size: 12px;
    line-height: 140%;
    height: 14px;
    padding: 5px 7px 9px 27px;
    *padding: 5px 7px 9px 27px;
    _padding: 5px 7px 5px 27px;
    background: #b8b8b8 url(../images/delete_big_Btn.png) no-repeat 3px 3px;
    *background: #b8b8b8 url(../images/delete_big_Btn.gif) no-repeat 3px 3px;
}

a.dbShop-ui-delete_big:hover {
    background: #666666 url(../images/delete_big_Btn.png) no-repeat 3px 3px;
    *background: #666666 url(../images/delete_big_hover_Btn.gif) no-repeat 3px 3px;
}

a.dbShop-ui-editimage_big:link, a.dbShop-ui-editimage_big:active,  a.dbShop-ui-editimage_big:visited, a.dbShop-ui-editimage_big:hover {
    font-size: 12px;
    line-height: 140%;
    height: 14px;
    padding: 5px 7px 9px 35px;
    *padding: 5px 7px 9px 35px;
    _padding: 5px 7px 5px 35px;
    background: #b8b8b8 url(../images/editimage_big_Btn.png) no-repeat 5px 3px;
    *background: #b8b8b8 url(../images/editimage_big_Btn.gif) no-repeat 5px 3px;
}

a.dbShop-ui-editimage_big:hover {
    background: #666666 url(../images/editimage_big_Btn.png) no-repeat 5px 3px;
    *background: #666666 url(../images/editimage_big_hover_Btn.gif) no-repeat 5px 3px;
}

a.dbShop-ui-apply:link, a.dbShop-ui-apply:active,  a.dbShop-ui-apply:visited, a.dbShop-ui-apply:hover, a.dbShop-ui-applyOn {
    font-size: 12px;
    line-height: 110%;
    height: 14px;
    padding: 4px 10px 2px 10px;
    padding: 3px 10px 4px 10px\0;
	 background: #636363;	
}

a.dbShop-ui-apply:hover, a.dbShop-ui-applyOn {

    background: #61b09f;
}







a.dbShop-ui-apply-next:link, a.dbShop-ui-apply-next:active,  a.dbShop-ui-apply-next:visited, a.dbShop-ui-apply-next:hover {
    font-size: 12px;
    line-height: 110%;
    height: 14px;
    padding: 4px 10px 2px 10px;
    padding: 2px 10px 5px 10px\0;
    background: #636363 url(../images/back_end/next_arrow.gif) no-repeat 5px 2px;
}

a.dbShop-ui-apply-next:hover {
    background: #61b09f url(../images/back_end/next_arrow.gif) no-repeat 5px 2px;
}

a.dbShop-ui-apply-back:link, a.dbShop-ui-apply-back:active,  a.dbShop-ui-apply-back:visited, a.dbShop-ui-apply-back:hover {
    font-size: 12px;
    line-height: 110%;
    height: 14px;
    padding: 4px 10px 2px 10px;
    padding: 2px 10px 5px 10px\0;
    background: #636363 url(../images/back_end/back_arrow.gif) no-repeat 5px 2px;
}

a.dbShop-ui-apply-back:hover {
    background: #61b09f url(../images/back_end/back_arrow.gif) no-repeat 5px 2px;
}

a.dbShop-ui-addrule:link, a.dbShop-ui-addrule:active,  a.dbShop-ui-addrule:visited, a.dbShop-ui-addrule:hover {
    font-size: 10px;
    line-height: 95%;
    height: 10px;
    padding: 2px 10px 2px 10px;
    background: #636363;
}

a.dbShop-ui-addrule:hover {
    background: #61b09f;
}

a.dbShop-ui-delete:link, a.dbShop-ui-delete:active,  a.dbShop-ui-delete:visited, a.dbShop-ui-delete:hover {
    font-size: 10px;
    line-height: 95%;
    height: 10px;
    padding: 2px 10px 2px 10px;
    background: #636363;
}

a.dbShop-ui-delete:hover {
    background: #cc0101;
}

a.dbShop-ui-addcategory_action:link, a.dbShop-ui-addcategory_action:active,  a.dbShop-ui-addcategory_action:visited, a.dbShop-ui-addcategory_action:hover {
    font-size: 12px;
    line-height: 140%;
    height: 20px;
    padding: 0px 0px 0px 36px;
    background: #b8b8b8 url(../images/add_folder_Btn.png) no-repeat 0px 0px;
}

a.dbShop-ui-addcategory_action:hover {
    background: #666666 url(../images/add_folder_hover_Btn.png) no-repeat 0px 0px;
}

a.dbShop-ui-addproduct_action:link, a.dbShop-ui-addproduct_action:active,  a.dbShop-ui-addproduct_action:visited, a.dbShop-ui-addproduct_action:hover {
    font-size: 12px;
    line-height: 140%;
    height: 20px;
    padding: 0px 0px 0px 36px;
    background: #b8b8b8 url(../images/add_product_Btn.png) no-repeat 0px 0px;
}

a.dbShop-ui-addproduct_action:hover {
    background: #666666 url(../images/add_product_hover_Btn.png) no-repeat 0px 0px;
}

a.dbShop-ui-addname_action:link, a.dbShop-ui-addname_action:active,  a.dbShop-ui-addname_action:visited, a.dbShop-ui-addname_action:hover {
    font-size: 12px;
    line-height: 140%;
    height: 20px;
    padding: 0px 0px 0px 36px;
    background: #b8b8b8 url(../images/add_name_Btn.png) no-repeat 0px 0px;
    float: left!important;
}

a.dbShop-ui-addname_action:hover {
    background: #666666 url(../images/add_name_hover_Btn.png) no-repeat 0px 0px;
}

a.dbShop-ui-edit_action, a.dbShop-ui-edit_action:link, a.dbShop-ui-edit_action:active,  a.dbShop-ui-edit_action:visited, a.dbShop-ui-edit_action:hover {
    float: left;
    font-size: 12px;
    line-height: 140%;
    height: 20px;
    display: block;
    width: 36px;
    background: #b8b8b8 url(../images/edit_Btn.png) no-repeat 0px 0px;
    float: left!important;
}

a.dbShop-ui-edit_action:hover {
    float: left;
    background: #666666 url(../images/edit_hover_Btn.png) no-repeat 0px 0px;
}

a.dbShop-ui-adddelete_action:link, a.dbShop-ui-adddelete_action:active,  a.dbShop-ui-adddelete_action:visited, a.dbShop-ui-adddelete_action:hover {
    font-size: 12px;
    line-height: 140%;
    height: 20px;
    padding: 0px 0px 0px 36px;
    background: #b8b8b8 url(../images/add_delete_Btn.png) no-repeat 0px 1px;
    float: left!important;
}

a.dbShop-ui-adddelete_action:hover {
    background: #666666 url(../images/add_delete_hover_Btn.png) no-repeat 0px 1px;
}

a.dbShop-ui-adddelete_action_list:link, a.dbShop-ui-adddelete_action_list:active,  a.dbShop-ui-adddelete_action_list:visited, a.dbShop-ui-adddelete_action_list:hover {
    dispaly: block;
    float: right;
    font-size: 12px;
    line-height: 140%;
    height: 20px;
    background: #b8b8b8 url(../images/add_delete_Btn.png) no-repeat 0px 1px;
    margin-top: -18px;
    width: 35px;
}

a.dbShop-ui-adddelete_action_list:hover {
    background: #666666 url(../images/add_delete_hover_Btn.png) no-repeat 0px 1px;
}

a.dbShop-ui-adddelete_action_list_top:link, a.dbShop-ui-adddelete_action_list_top:active,  a.dbShop-ui-adddelete_action_list_top:visited, a.dbShop-ui-adddelete_action_list_top:hover {
    dispaly: block;
    float: right;
    font-size: 12px;
    line-height: 140%;
    height: 20px;
    background: #b8b8b8 url(../images/add_delete_Btn.png) no-repeat 0px 1px;
    margin: -3px 10px 0px 0px;
    ; width: 35px;
}

a.dbShop-ui-adddelete_action_list_top:hover {
    background: #666666 url(../images/add_delete_hover_Btn.png) no-repeat 0px 1px;
}

a.dbShop-ui-addcopylink_action, a.dbShop-ui-addcopylink_action:link, a.dbShop-ui-addcopylink_action:active,  a.dbShop-ui-addcopylink_action:visited, a.dbShop-ui-addcopylink_action:hover {
    float: left;
    font-size: 12px;
    line-height: 140%;
    height: 20px;
    padding: 0px 0px 0px 36px;
    margin-left: 5px;
    background: #b8b8b8 url(../images/add_copylink_Btn.png) no-repeat 0px 0px;
}

a.dbShop-ui-addcopylink_action:hover {
    float: left;
    background: #666666 url(../images/add_copylink_hover_Btn.png) no-repeat 0px 0px;
}

a.dbShop-ui-addcopylink_actionOff {
    dispaly: none;
}

a.dbShop-ui-addeditproduct_action:link, a.dbShop-ui-addeditproduct_action:active,  a.dbShop-ui-addeditproduct_action:visited, a.dbShop-ui-addeditproduct_action:hover {
    font-size: 12px;
    line-height: 140%;
    height: 20px;
    padding: 0px 0px 0px 36px;
    background: #b8b8b8 url(../images/edit_Btn.png) no-repeat 0px 1px;
}

a.dbShop-ui-addeditproduct_action:hover {
    background: #666666 url(../images/edit_hover_Btn.png) no-repeat 0px 1px;
}

a.dbShop-ui-view_action:link, a.dbShop-ui-view_action:active,  a.dbShop-ui-view_action:visited, a.dbShop-ui-view_action:hover {
    font-size: 12px;
    line-height: 140%;
    height: 20px;
    padding: 0px 0px 0px 36px;
    background: #b8b8b8 url(../images/add_view_Btn.png) no-repeat 0px 0px;
}

a.dbShop-ui-view_action:hover {
    background: #666666 url(../images/add_view_hover_Btn.png) no-repeat 0px 0px;
}

a.dbShop-ui-copy_action:link, a.dbShop-ui-copy_action:active,  a.dbShop-ui-copy_action:visited, a.dbShop-ui-copy_action:hover {
    font-size: 12px;
    line-height: 140%;
    height: 20px;
    padding: 0px 0px 0px 36px;
    background: #b8b8b8 url(../images/add_copy_Btn.png) no-repeat 0px 0px;
}

a.dbShop-ui-copy_action:hover {
    background: #666666 url(../images/add_copy_hover_Btn.png) no-repeat 0px 0px;
}

a.dbShop-ui-shootad_action, a.dbShop-ui-shootad_action:link, a.dbShop-ui-shootad_action:active,  a.dbShop-ui-shootad_action:visited, a.dbShop-ui-shootad_action:hover {
    float: left;
    font-size: 12px;
    line-height: 140%;
    height: 20px;
    padding: 0px 0px 0px 36px;
    background: #b8b8b8 url(../images/shoot_ad_Btn.png) no-repeat 0px 0px;
    margin-left: 5px;
}

a.dbShop-ui-shootad_action:hover {
    float: left;
    background: #666666 url(../images/shoot_ad_hover_Btn.png) no-repeat 0px 0px;
    margin-left: 5px;
}

a.dbShop-ui-reshootad_action, a.dbShop-ui-reshootad_action:link, a.dbShop-ui-reshootad_action:active,  a.dbShop-ui-reshootad_action:visited, a.dbShop-ui-reshootad_action:hover {
    float: left;
    font-size: 12px;
    line-height: 140%;
    height: 20px;
    padding: 0px 0px 0px 36px;
    background: #b8b8b8 url(../images/reshoot_ad_Btn.png) no-repeat 0px 0px;
    margin-left: 5px;
}

a.dbShop-ui-reshootad_action:hover {
    float: left;
    background: #666666 url(../images/reshoot_ad_hover_Btn.png) no-repeat 0px 0px;
    margin-left: 5px;
}

a.dbShop-ui-hide_action:link, a.dbShop-ui-hide_action:active,  a.dbShop-ui-hide_action:visited, a.dbShop-ui-hide_action:hover {
    font-size: 12px;
    line-height: 140%;
    height: 20px;
    padding: 0px 0px 0px 36px;
    background: #b8b8b8 url(../images/hide_Btn.png) no-repeat 0px 0px;
    margin-left: 5px;
}

a.dbShop-ui-hide_action:hover {
    background: #666666 url(../images/hide_hover_Btn.png) no-repeat 0px 0px;
}

a.dbShop-ui-show_action:link, a.dbShop-ui-show_action:active,  a.dbShop-ui-show_action:visited, a.dbShop-ui-show_action:hover {
    font-size: 12px;
    line-height: 140%;
    height: 20px;
    padding: 0px 0px 0px 36px;
    background: #b8b8b8 url(../images/show_Btn.png) no-repeat 0px 0px;
    margin-left: 5px;
}

a.dbShop-ui-show_action:hover {
    background: #666666 url(../images/show_hover_Btn.png) no-repeat 0px 0px;
}

.dbShop-ui-hotItem_t {
    display: block;
    float: left;
    height: 18px;
    width: 4px;
    padding: 0px;
    background: url(../images/hot_a.png) no-repeat 0px 0px;
}

.dbShop-ui-hotItem_b {
    display: block;
    float: left;
    font-size: 10px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Arial, Tahoma, PMingLiu, sans-serif;
    line-height: 90%;
    height: 14px;
    padding: 2px 10px 2px 5px;
    background: url(../images/hot_b.png) no-repeat right 0px;
    *background: url(../images/hot_b.gif) no-repeat right 0px;
}

.dbShop-ui-newItem_t {
    display: block;
    float: left;
    height: 18px;
    width: 4px;
    padding: 0px;
    background: url(../images/new_a.png) no-repeat 0px 0px;
}

.dbShop-ui-newItem_b {
    display: block;
    float: left;
    font-size: 10px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Arial, Tahoma, PMingLiu, sans-serif;
    line-height: 90%;
    height: 14px;
    padding: 2px 10px 2px 5px;
    background: url(../images/new_b.png) no-repeat right 0px;
    *background: url(../images/new_b.gif) no-repeat right 0px;
}

.dbShop-ui-saleItem_t {
    display: block;
    float: left;
    height: 18px;
    width: 4px;
    padding: 0px;
    background: url(../images/sale_a.png) no-repeat 0px 0px;
}

.dbShop-ui-saleItem_b {
    display: block;
    float: left;
    font-size: 10px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Arial, Tahoma, PMingLiu, sans-serif;
    line-height: 90%;
    height: 14px;
    padding: 2px 10px 2px 5px;
    background: url(../images/sale_b.png) no-repeat right 0px;
    *background: url(../images/sale_b.gif) no-repeat right 0px;
}

.noimage {
    display: block;
    float: left;
    height: 160px;
    width: 160px;
    padding: 0px;
    background: #666666;
}

.noimage_text {
    display: block;
    float: left;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Tahoma, PMingLiu, sans-serif;
    line-height: 100%;
    width: 160px;
    padding-top: 65px;
}

a.dbShop-ui-sorMoveUpBtn:link, a.dbShop-ui-sorMoveUpBtn:active, a.dbShop-ui-sorMoveUpBtn:visited {
    display: block;
    float: left;
    width: 36px!important;
    height: 20px;
    background: url("../images/icon_blkArrow.gif") no-repeat scroll 0 0 #B8B8B8!important;
    padding: 0;
    margin: 0 0 0 5px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #666666;
}

a.dbShop-ui-sorMoveUpBtn:hover {
    display: block;
    float: left;
    width: 36px!important;
    height: 20px;
    background: url("../images/icon_blkArrow.gif") no-repeat scroll 0 0 #666666!important;
    padding: 0;
    margin: 0 0 0 5px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #666666;
}

a.dbShop-ui-sorMoveDnBtn:link, a.dbShop-ui-sorMoveDnBtn:active, a.dbShop-ui-sorMoveDnBtn:visited {
    display: block;
    float: left;
    width: 36px!important;
    height: 20px;
    background: url("../images/icon_blkArrow.gif") no-repeat scroll -36px 0 #B8B8B8!important;
    padding: 0;
    margin: 0 0 0 5px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #666666;
}

a.dbShop-ui-sorMoveDnBtn:hover {
    display: block;
    float: left;
    width: 36px!important;
    height: 20px;
    background: url("../images/icon_blkArrow.gif") no-repeat scroll -36px 0 #666666!important;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #666666;
}

a.dbShop-ui-sorMoveUpBtnDis:link, a.dbShop-ui-sorMoveUpBtnDis:active, a.dbShop-ui-sorMoveUpBtnDis:visited, a.dbShop-ui-sorMoveUpBtnDis:hover {
    display: block;
    float: left;
    width: 36px!important;
    height: 20px;
    background: url("../images/icon_blkArrow.gif") no-repeat scroll 0 0 #ebebeb!important;
    cursor: default!important;
    padding: 0;
    margin: 0 0 0 5px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #666666;
}

a.dbShop-ui-sorMoveDnBtnDis:link, a.dbShop-ui-sorMoveDnBtnDis:active, a.dbShop-ui-sorMoveDnBtnDis:visited, a.dbShop-ui-sorMoveDnBtnDis:hover {
    display: block;
    float: left;
    width: 36px!important;
    height: 20px;
    background: url("../images/icon_blkArrow.gif") no-repeat scroll -36px 0 #ebebeb!important;
    cursor: default!important;
    padding: 0;
    margin: 0 0 0 5px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #666666;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    body {
        -webkit-text-size-adjust: none;
    };
}

/*-----------------------------Customize Buttons Set-------------------------------*/


/*Universal Button */

a.dbShop-ui-PrimaryBtn:link, a.dbShop-ui-PrimaryBtn:visited, a.dbShop-ui-PrimaryBtn:hover, a.dbShop-ui-PrimaryBtn:active, .detailprd a.dbShop-ui-PrimaryBtn {
    display: block;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-family: Arial, Tahoma, PMingLiu, sans-serif;
    position: relative;
    background-color: #CC0000;
    color: #FFF;
}

a.dbShop-ui-PrimaryBtn:hover {
    background-color: #FF0000;
    color: #FFF;
}

a.dbShop-ui-SecondaryBtn:link, a.dbShop-ui-SecondaryBtn:visited, a.dbShop-ui-SecondaryBtn:hover, a.dbShop-ui-SecondaryBtn:active, .detailprd a.dbShop-ui-SecondaryBtn {
    display: block;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-family: Arial, Tahoma, PMingLiu, sans-serif;
    position: relative;
    background-color: #666666;
    color: #FFF;
}

a.dbShop-ui-SecondaryBtn:hover {
    background-color: #999;
    color: #FFF;
}

.dbShop-ui-inner_text {
	line-height:120%\9;
    display: block;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	
}

.dbShop-ui-CutomIcon {
    display: block;
    background: url("../images/custom_ico_arrow.gif") no-repeat scroll 0 0 transparent;
    position: absolute;
}

/*End Of Universal Button */





/*Button Form Back*/
a.dbShop-ui-FormBack {
    padding: 7px 15px 6px 30px;
    width: auto;
    float: left;
	line-height:100%
}

a.dbShop-ui-FormBack .dbShop-ui-inner_text {
	line-height:100%
    cursor: pointer;
    font-weight: bold;
}

.dbShop-ui-BackIco_White {
    height: 20px;
    width: 25px;
    left: 5px;
    top: 5px;
	top: 3px\9;
    background-position: -1px -60px!important;
}

.dbShop-ui-BackIco_Gray {
    height: 20px;
    width: 25px;
    left: 5px;
    top: 5px;
	top: 3px\9;
    background-position: -1px -80px!important;
}

.dbShop-ui-BackIco_Black {
    height: 20px;
    width: 25px;
    left: 5px;
    top: 5px;
	top: 3px\9;
    background-position: -1px -100px!important;
}

/*End Of Button Form Back*/


/*Button Form Next*/
a.dbShop-ui-FormNext {
    padding: 7px 30px 6px 15px;
    width: auto;
    float: right;
	line-height:100%;
}

a.dbShop-ui-FormNext .dbShop-ui-inner_text {
    cursor: pointer;
    font-weight: bold;
}

a.dbShop-ui-FormNext .dbShop-ui-inner_text {
	line-height:100%
    cursor: pointer;
    font-weight: bold;
}

.dbShop-ui-NextIco_White {
    height: 20px;
    width: 15px;
    right: 10px;
    top: 5px;
	top: 3px\9;
    background-position: -1px 0px!important;
}

.dbShop-ui-NextIco_Gray {
    height: 20px;
    width: 15px;
    right: 10px;
    top: 5px;
	top: 3px\9;
    background-position: -1px -20px!important;
}

.dbShop-ui-NextIco_Black {
    height: 20px;
    width: 15px;
    right: 15px;
    top: 5px;
	top: 3px\9;
    background-position: -1px -40px!important;
}

/*End Of Button Form Next*/



/*Button Text*/
a.dbShop-ui-BtnText_R {
	line-height:120%\9;
    padding: 7px 15px 6px 15px;
    width: auto;
    float: right;
    margin-right: 10px;
}

a.dbShop-ui-BtnText {
	line-height:100%\9;
    padding: 7px 15px 6px 15px;
    width: auto;
    float: left;
}

a.dbShop-ui-BtnText .dbShop-ui-inner_text, a.dbShop-ui-BtnText_R .dbShop-ui-inner_text {
    cursor: pointer;
    font-weight: bold;
}
/* End of Button Text*/




/* Progress Bar */
.ProgressBar {
    display: block;
    width: 970px;
    padding: 0px 10px 30px 10px;
}

.dbShop-ui-title_container {
    display: inline-block;
    vertical-align: top;
    padding-left: 35px;
}

.step_one, .step_two, .step_three {
    padding-right: 10px;
}

.dbShop-ui-Progress_normal, .dbShop-ui-Progress_active, a.dbShop-ui-Progress_visited, a.dbShop-ui-Progress_visited:link, a.dbShop-ui-Progress_visited:visited, a.dbShop-ui-Progress_visited:hover, a.dbShop-ui-Progress_visited:active {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 210px;
	width: 209px\9;
    padding: 5px 10px 5px 10px;
    position: relative;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-family: Arial, Tahoma, PMingLiu, sans-serif;
    position: relative;
}
@-moz-document url-prefix() { 
  .dbShop-ui-Progress_normal, .dbShop-ui-Progress_active, a.dbShop-ui-Progress_visited, a.dbShop-ui-Progress_visited:link, a.dbShop-ui-Progress_visited:visited, a.dbShop-ui-Progress_visited:hover, a.dbShop-ui-Progress_visited:active 
  {
     width: 209px;
  }
}



.dbShop-ui-Progress_normal {
    border: 1px solid #CCC;
    background-color: #f6f6f6;
    color: #999;
    pointer-events: none;
}

.dbShop-ui-Progress_active {
    border: 1px solid #CC0000;
    background-color: #CC0000;
    color: #FFF;
}

a.dbShop-ui-Progress_visited {
    border: 1px solid #999;
    background-color: #999;
    color: #FFF;
    cursor: pointer;
}

a.dbShop-ui-Progress_visited:hover {
    border: 1px solid #CC0000;
    background-color: #CC0000;
    color: #FFF;
}

.dbShop-ui-Progress_normal .dbShop-ui-Progress_step, .dbShop-ui-Progress_active .dbShop-ui-Progress_step, a.dbShop-ui-Progress_visited .dbShop-ui-Progress_step {
    display: block;
    position: absolute;
    left: 5px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    line-height: 70%;
}

.dbShop-ui-Progress_normal .dbShop-ui-Progress_title, .dbShop-ui-Progress_active .dbShop-ui-Progress_title, a.dbShop-ui-Progress_visited .dbShop-ui-Progress_title {
    display: block;
    width: 170px;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 3px;
}

.dbShop-ui-Progress_normal .dbShop-ui-Progress_detail, .dbShop-ui-Progress_active .dbShop-ui-Progress_detail, a.dbShop-ui-Progress_visited .dbShop-ui-Progress_detail {
    display: block;
    width: 175px;
    height: 28px;
    line-height: 120%;
    font-size: 11px;
    font-weight: normal;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}


.dbShop-ui-Progress_detail p {
margin:0px;	
}

/* End of Progress Bar */



/*-----------------------------End Of Customize Buttons Set----------------------------------*/