a.dbShop-ui-appBtn
{
	color:white; !important
}

a.dbShop-ui-Btn-right {
    margin-left: 5px;
}

a.dbShop-ui-appBtn:link, a.dbShop-ui-appBtn:active,  a.dbShop-ui-appBtn:visited, a.dbShop-ui-appBtn:hover {display:block; float:left; color:#FFFFFF; text-decoration:none;  font-family:Arial, Tahoma, PMingLiu, sans-serif; border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 1px #666666;}

a.dbShop-ui-continue_shopping:link, a.dbShop-ui-continue_shopping:active,  a.dbShop-ui-continue_shopping:visited, a.dbShop-ui-continue_shopping:hover {  font-size:12px; line-height:150%; height:14px; padding:4px 7px 10px 25px;*padding:4px 7px 10px 25px;_padding:4px 7px 4px 25px; background:#636363 url(../images/back_Btn.png) no-repeat 0px 3px;*background:#636363 url(../images/back_Btn.gif) no-repeat 0px 3px;}
a.dbShop-ui-continue_shopping:hover {background:#61b09f url(../images/back_Btn.png) no-repeat 0px 3px;*background:#61b09f url(../images/back_hover_Btn.gif) no-repeat 0px 3px; }
   
a.dbShop-ui-refresh:link, a.dbShop-ui-refresh:active,  a.dbShop-ui-refresh:visited, a.dbShop-ui-refresh:hover {  font-size:12px; line-height:150%; height:14px; padding:5px 7px 9px 30px;*padding:4px 7px 10px 30px;_padding:4px 7px 4px 30px; background:#636363 url(../images/refresh_Btn.png) no-repeat 3px 4px;*background:#636363 url(../images/refresh_Btn.gif) no-repeat 3px 3px;}
a.dbShop-ui-refresh:hover {background:#61b09f url(../images/refresh_Btn.png) no-repeat 3px 4px; *background:#61b09f url(../images/refresh_hover_Btn.gif) no-repeat 3px 3px;}

a.dbShop-ui-checkout:link, a.dbShop-ui-checkout:active,  a.dbShop-ui-checkout:visited, a.dbShop-ui-checkout:hover {  font-size:12px; line-height:140%; height:14px; padding:5px 7px 9px 28px;*padding:5px 7px 9px 28px;_padding:5px 7px 5px 28px; background:#636363 url(../images/checkout_Btn.png) no-repeat 3px 3px;*background:#636363 url(../images/checkout_Btn.gif) no-repeat 3px 3px;}
a.dbShop-ui-checkout:hover {background:#61b09f url(../images/checkout_Btn.png) no-repeat 3px 3px;*background:#61b09f url(../images/checkout_hover_Btn.gif) no-repeat 3px 3px; }

a.dbShop-ui-save:link, a.dbShop-ui-save:active,  a.dbShop-ui-save:visited, a.dbShop-ui-save:hover {  font-size:12px; line-height:150%; height:14px; padding:5px 7px 9px 28px;*padding:4px 7px 10px 28px;_padding:4px 7px 4px 28px; background:#61b09f url(../images/checkout_Btn.png) no-repeat 3px 3px;*background:#61b09f url(../images/save_Btn.gif) no-repeat 3px 3px;}
a.dbShop-ui-save:hover {background:#73d3be url(../images/checkout_Btn.png) no-repeat 3px 3px;*background:#73d3be url(../images/save_hover_Btn.gif) no-repeat 3px 3px; }

a.dbShop-ui-back, a.dbShop-ui-back:link, a.dbShop-ui-back:active,  a.dbShop-ui-back:visited, a.dbShop-ui-back:hover {  font-size:12px; line-height:140%; height:14px; padding:5px 7px 9px 25px;*padding:5px 7px 9px 25px;_padding:5px 7px 5px 25px; background:#636363 url(../images/back_Btn.png) no-repeat 0px 3px;*background:#636363 url(../images/back_Btn.gif) no-repeat 0px 3px;}
a.dbShop-ui-back:hover {background:#61b09f url(../images/back_Btn.png) no-repeat 0px 3px;*background:#61b09f url(../images/back_hover_Btn.gif) no-repeat 0px 3px; }

a.dbShop-ui-continue:link, a.dbShop-ui-continue:active,  a.dbShop-ui-continue:visited, a.dbShop-ui-continue:hover {  font-size:12px; line-height:140%; height:14px; padding:5px 7px 9px 25px;*padding:5px 7px 9px 25px;_padding:5px 7px 5px 25px; background:#636363 url(../images/continue_Btn.png) no-repeat 0px 3px;*background:#636363 url(../images/continue_Btn.gif) no-repeat 0px 3px;}
a.dbShop-ui-continue:hover {background:#61b09f url(../images/continue_Btn.png) no-repeat 0px 3px;*background:#61b09f url(../images/continue_hover_Btn.gif) no-repeat 0px 3px; }

a.dbShop-ui-plain-core, a.dbShop-ui-plain-core:link, a.dbShop-ui-plain-core:active,  a.dbShop-ui-plain-core:visited, a.dbShop-ui-plain-core:hover { float:left;  font-size:12px; line-height:150%; height:14px; padding:5px 7px 9px 7px;*padding:4px 7px 10px 7px;_padding:4px 7px 4px 7px; background:#61b09f ;*background:#61b09f ;}
a.dbShop-ui-plain-core:hover {background:#73d3be ;*background:#73d3be; }

a.dbShop-ui-addcategory, a.dbShop-ui-addcategory:link, a.dbShop-ui-addcategory:active,  a.dbShop-ui-addcategory:visited, a.dbShop-ui-addcategory:hover { float:left;  font-size:12px; line-height:140%; height:14px; padding:6px 7px 8px 28px; background:#B8B8B8 url(../images/add_Btn.gif) no-repeat 2px 2px; _padding:5px 7px 5px 28px; }
a.dbShop-ui-addcategory:hover { float:left; background:#666666 url(../images/add_Btn.gif) no-repeat 2px 2px;}

a.dbShop-ui-addproduct, a.dbShop-ui-addproduct:link, a.dbShop-ui-addproduct:active,  a.dbShop-ui-addproduct:visited, a.dbShop-ui-addproduct:hover { float:left;  font-size:12px; line-height:140%; height:14px; padding:5px 7px 9px 28px; background:#B8B8B8 url(../images/add_Btn.gif) no-repeat 2px 2px; *padding:5px 7px 9px 28px ;_padding:5px 7px 5px 28px; }
a.dbShop-ui-addproduct:hover { float:left; background:#666666 url(../images/add_Btn.gif) no-repeat 2px 2px;}

a.dbShop-ui-addprofile:link, a.dbShop-ui-addprofile:active,  a.dbShop-ui-addprofile:visited, a.dbShop-ui-addprofile:hover {  font-size:12px; line-height:140%; height:14px; padding:5px 7px 9px 28px;*padding:5px 7px 9px 28px;_padding:5px 7px 5px 28px; background:#61b09f url(../images/add_Btn.png) no-repeat 2px 2px;*background:#61b09f url(../images/add_Btn.gif) no-repeat 2px 2px;}
a.dbShop-ui-addprofile:hover {background:#73d3be url(../images/add_Btn.png) no-repeat 2px 2px;*background:#73d3be url(../images/add_hover_Btn.gif) no-repeat 2px 2px; }

a.dbShop-ui-delete_big:link, a.dbShop-ui-delete_big:active,  a.dbShop-ui-delete_big:visited, a.dbShop-ui-delete_big:hover {  font-size:12px; line-height:140%; height:14px; padding:5px 7px 9px 27px;*padding:5px 7px 9px 27px;_padding:5px 7px 5px 27px; background:#b8b8b8 url(../images/delete_big_Btn.png) no-repeat 3px 3px;*background:#b8b8b8 url(../images/delete_big_Btn.gif) no-repeat 3px 3px;}
a.dbShop-ui-delete_big:hover {background:#666666 url(../images/delete_big_Btn.png) no-repeat 3px 3px;*background:#666666 url(../images/delete_big_hover_Btn.gif) no-repeat 3px 3px; }

a.dbShop-ui-editimage_big:link, a.dbShop-ui-editimage_big:active,  a.dbShop-ui-editimage_big:visited, a.dbShop-ui-editimage_big:hover {  font-size:12px; line-height:140%; height:14px; padding:5px 7px 9px 35px;*padding:5px 7px 9px 35px;_padding:5px 7px 5px 35px; background:#b8b8b8 url(../images/editimage_big_Btn.png) no-repeat 5px 3px;*background:#b8b8b8 url(../images/editimage_big_Btn.gif) no-repeat 5px 3px;}
a.dbShop-ui-editimage_big:hover {background:#666666 url(../images/editimage_big_Btn.png) no-repeat 5px 3px;*background:#666666 url(../images/editimage_big_hover_Btn.gif) no-repeat 5px 3px; }

a.dbShop-ui-apply:link, a.dbShop-ui-apply:active,  a.dbShop-ui-apply:visited, a.dbShop-ui-apply:hover {  font-size:12px; line-height:110%; height:14px; padding:5px 10px 3px 10px; background:#636363 ;}
a.dbShop-ui-apply:hover {background:#61b09f ; }


a.dbShop-ui-addrule:link, a.dbShop-ui-addrule:active,  a.dbShop-ui-addrule:visited, a.dbShop-ui-addrule:hover {  font-size:10px; line-height:95%; height:10px; padding:2px 10px 2px 10px; background:#636363 ;}
a.dbShop-ui-addrule:hover {background:#61b09f ; }

a.dbShop-ui-delete:link, a.dbShop-ui-delete:active,  a.dbShop-ui-delete:visited, a.dbShop-ui-delete:hover {  font-size:10px; line-height:95%; height:10px; padding:2px 10px 2px 10px; background:#636363 ;}
a.dbShop-ui-delete:hover {background:#cc0101 ; }

a.dbShop-ui-addcategory_action:link, a.dbShop-ui-addcategory_action:active,  a.dbShop-ui-addcategory_action:visited, a.dbShop-ui-addcategory_action:hover {  font-size:12px; line-height:140%; height:20px; padding:0px 0px 0px 36px; background:#b8b8b8 url(../images/add_folder_Btn.png) no-repeat 0px 0px;}
a.dbShop-ui-addcategory_action:hover {background:#666666 url(../images/add_folder_hover_Btn.png) no-repeat 0px 0px; }

a.dbShop-ui-addproduct_action:link, a.dbShop-ui-addproduct_action:active,  a.dbShop-ui-addproduct_action:visited, a.dbShop-ui-addproduct_action:hover {  font-size:12px; line-height:140%; height:20px; padding:0px 0px 0px 36px; background:#b8b8b8 url(../images/add_product_Btn.png) no-repeat 0px 0px;}
a.dbShop-ui-addproduct_action:hover {background:#666666 url(../images/add_product_hover_Btn.png) no-repeat 0px 0px; }


a.dbShop-ui-addname_action:link, a.dbShop-ui-addname_action:active,  a.dbShop-ui-addname_action:visited, a.dbShop-ui-addname_action:hover {  font-size:12px; line-height:140%; height:20px; padding:0px 0px 0px 36px; background:#b8b8b8 url(../images/add_name_Btn.png) no-repeat 0px 0px;}
a.dbShop-ui-addname_action:hover {background:#666666 url(../images/add_name_hover_Btn.png) no-repeat 0px 0px; }

a.dbShop-ui-adddelete_action:link, a.dbShop-ui-adddelete_action:active,  a.dbShop-ui-adddelete_action:visited, a.dbShop-ui-adddelete_action:hover {  font-size:12px; line-height:140%; height:20px; padding:0px 0px 0px 36px; background:#b8b8b8 url(../images/add_delete_Btn.png) no-repeat 0px 0px;}
a.dbShop-ui-adddelete_action:hover {background:#666666 url(../images/add_delete_hover_Btn.png) no-repeat 0px 0px; }

a.dbShop-ui-addeditproduct_action:link, a.dbShop-ui-addeditproduct_action:active,  a.dbShop-ui-addeditproduct_action:visited, a.dbShop-ui-addeditproduct_action:hover {  font-size:12px; line-height:140%; height:20px; padding:0px 0px 0px 36px; background:#b8b8b8 url(../images/edit_Btn.png) no-repeat 0px 0px;}
a.dbShop-ui-addeditproduct_action:hover {background:#666666 url(../images/edit_hover_Btn.png) no-repeat 0px 0px; }

a.dbShop-ui-view_action:link, a.dbShop-ui-view_action:active,  a.dbShop-ui-view_action:visited, a.dbShop-ui-view_action:hover {  font-size:12px; line-height:140%; height:20px; padding:0px 0px 0px 36px; background:#b8b8b8 url(../images/add_view_Btn.png) no-repeat 0px 0px;}
a.dbShop-ui-view_action:hover {background:#666666 url(../images/add_view_hover_Btn.png) no-repeat 0px 0px; }

a.dbShop-ui-copy_action:link, a.dbShop-ui-copy_action:active,  a.dbShop-ui-copy_action:visited, a.dbShop-ui-copy_action:hover {  font-size:12px; line-height:140%; height:20px; padding:0px 0px 0px 36px; background:#b8b8b8 url(../images/add_copy_Btn.png) no-repeat 0px 0px;}
a.dbShop-ui-copy_action:hover {background:#666666 url(../images/add_copy_hover_Btn.png) no-repeat 0px 0px; }
a.dbShop-ui-shootad_action, a.dbShop-ui-shootad_action:link, a.dbShop-ui-shootad_action:active,  a.dbShop-ui-shootad_action:visited, a.dbShop-ui-shootad_action:hover { float:left;  font-size:12px; line-height:140%; height:20px; padding:0px 0px 0px 36px; background:#b8b8b8 url(../images/shoot_ad_Btn.png) no-repeat 0px 0px;margin-left:5px;}
a.dbShop-ui-shootad_action:hover { float:left;background:#666666 url(../images/shoot_ad_hover_Btn.png) no-repeat 0px 0px; margin-left:5px;}
a.dbShop-ui-reshootad_action, a.dbShop-ui-reshootad_action:link, a.dbShop-ui-reshootad_action:active,  a.dbShop-ui-reshootad_action:visited, a.dbShop-ui-reshootad_action:hover { float:left;  font-size:12px; line-height:140%; height:20px; padding:0px 0px 0px 36px; background:#b8b8b8 url(../images/reshoot_ad_Btn.png) no-repeat 0px 0px;margin-left:5px;}
a.dbShop-ui-reshootad_action:hover { float:left;background:#666666 url(../images/reshoot_ad_hover_Btn.png) no-repeat 0px 0px; margin-left:5px;}


a.dbShop-ui-addjob_action:link, a.dbShop-ui-addjob_action:active,  a.dbShop-ui-addjob_action:visited, a.dbShop-ui-addjob_action:hover {  font-size:12px; line-height:140%; height:20px; padding:0px 0px 0px 36px; background:#b8b8b8 url(../images/addjob_Btn.png) no-repeat 0px 0px; margin-left:5px;}
a.dbShop-ui-addjob_action:hover {background:#666666 url(../images/addjob_hover_Btn.png) no-repeat 0px 0px; }

a.dbShop-ui-hide_action:link, a.dbShop-ui-hide_action:active,  a.dbShop-ui-hide_action:visited, a.dbShop-ui-hide_action:hover {  font-size:12px; line-height:140%; height:20px; padding:0px 0px 0px 36px; background:#b8b8b8 url(../images/hide_Btn.png) no-repeat 0px 0px; margin-left:5px;}
a.dbShop-ui-hide_action:hover {background:#666666 url(../images/hide_hover_Btn.png) no-repeat 0px 0px; }

a.dbShop-ui-show_action:link, a.dbShop-ui-show_action:active,  a.dbShop-ui-show_action:visited, a.dbShop-ui-show_action:hover {  font-size:12px; line-height:140%; height:20px; padding:0px 0px 0px 36px; background:#b8b8b8 url(../images/show_Btn.png) no-repeat 0px 0px; margin-left:5px;}
a.dbShop-ui-show_action:hover {background:#666666 url(../images/show_hover_Btn.png) no-repeat 0px 0px; }


.dbShop-ui-hotItem_t {display:block; float:left;height:18px; width:4px; padding:0px; background: url(../images/hot_a.png) no-repeat 0px 0px;}
.dbShop-ui-hotItem_b {display:block; float:left; font-size:10px; color:#FFFFFF; text-decoration:none;  font-family:Arial, Tahoma, PMingLiu, sans-serif;line-height:90%;height:14px;  padding:2px 10px 2px 5px; background: url(../images/hot_b.png) no-repeat right 0px;*background: url(../images/hot_b.gif) no-repeat right 0px;}

.dbShop-ui-newItem_t {display:block; float:left;height:18px; width:4px; padding:0px; background: url(../images/new_a.png) no-repeat 0px 0px;}
.dbShop-ui-newItem_b {display:block; float:left; font-size:10px; color:#FFFFFF; text-decoration:none;  font-family:Arial, Tahoma, PMingLiu, sans-serif;line-height:90%;height:14px;  padding:2px 10px 2px 5px; background: url(../images/new_b.png) no-repeat right 0px;*background: url(../images/new_b.gif) no-repeat right 0px;}

.dbShop-ui-saleItem_t {display:block; float:left;height:18px; width:4px; padding:0px; background: url(../images/sale_a.png) no-repeat 0px 0px;}
.dbShop-ui-saleItem_b {display:block; float:left; font-size:10px; color:#FFFFFF; text-decoration:none;  font-family:Arial, Tahoma, PMingLiu, sans-serif;line-height:90%;height:14px;  padding:2px 10px 2px 5px; background: url(../images/sale_b.png) no-repeat right 0px;*background: url(../images/sale_b.gif) no-repeat right 0px;}

.noimage {display:block; float:left; height:160px ;width:160px;  padding:0px; background: #666666;}
.noimage_text{display:block; float:left; font-size:20px; color:#FFFFFF; text-decoration:none; text-align:center;  font-family:Arial, Tahoma, PMingLiu, sans-serif; line-height:100%;width:160px; padding-top:65px; }

a.dbShop-ui-sorMoveUpBtn:link, a.dbShop-ui-sorMoveUpBtn:active, a.dbShop-ui-sorMoveUpBtn:visited  {display:block; float:left; width:36px!important; height:20px; background: url("../images/icon_blkArrow.gif") no-repeat scroll 0 0 #B8B8B8!important; padding:0; margin:0 0 0 5px; border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 1px #666666;}
a.dbShop-ui-sorMoveUpBtn.hover {display:block; float:left; width:36px!important; height:20px; background: url("../images/icon_blkArrow.gif") no-repeat scroll 0 0 #666666!important;padding:0; margin:0 0 0 5px;  border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 1px #666666;}
a.dbShop-ui-sorMoveDnBtn:link, a.dbShop-ui-sorMoveDnBtn:active, a.dbShop-ui-sorMoveDnBtn:visited  {display:block; float:left; width:36px!important; height:20px; background: url("../images/icon_blkArrow.gif") no-repeat scroll -36px 0 #B8B8B8!important;padding:0; margin:0 0 0 5px;  border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 1px #666666;}
a.dbShop-ui-sorMoveDnBtn.hover {display:block; float:left; width:36px!important; height:20px; background: url("../images/icon_blkArrow.gif") no-repeat scroll -36px 0 #666666!important;  border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 1px #666666;}
a.dbShop-ui-sorMoveUpBtnDis:link, a.dbShop-ui-sorMoveUpBtnDis:active, a.dbShop-ui-sorMoveUpBtnDis:visited, a.dbShop-ui-sorMoveUpBtnDis:hover {display:block; float:left; width:36px!important; height:20px; background: url("../images/icon_blkArrow.gif") no-repeat scroll 0 0 #ebebeb!important; cursor:default!important;padding:0; margin:0 0 0 5px;  border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 1px #666666;}
a.dbShop-ui-sorMoveDnBtnDis:link, a.dbShop-ui-sorMoveDnBtnDis:active, a.dbShop-ui-sorMoveDnBtnDis:visited, a.dbShop-ui-sorMoveDnBtnDis:hover {display:block; float:left; width:36px!important; height:20px; background: url("../images/icon_blkArrow.gif") no-repeat scroll -36px 0 #ebebeb!important; cursor:default!important;padding:0; margin:0 0 0 5px;  border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 1px #666666;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
body {-webkit-text-size-adjust: none;}
}
