/* GENERAL */
body{font-family:Arial,Tahoma,PMingLiu,sans-serif; margin:5px 0 0;padding:0;color:#000;background-color:#fff}
#wrapper{width:990px;margin:0 auto;position:relative}
h1,h2,h3,h4,h5,h6{color:#000;font-size:14pt;font-weight:bold;margin:5px 0 10px;letter-spacing:-0.04em; }
h2{margin:10px 0px 5px 0;margin:10px 0px 7px 10px\9;margin:10px 0px 7px 0px\0/; *margin:10px 0px 7px 0px;}
#dbShop-ui-mainLeft {width:190px;_width:170px;padding:0 1px;float:left;display:inline-block;padding-right:15px;margin-bottom:10px}
#kanan{width:748px;_width:730px;padding:0 1px;float:right;display:inline-block;padding-left:15px;_padding-left:0px;margin-bottom:10px;display:block;}
#main{margin-left:5px;padding:0 15px;width:748px; *width:745px; min-height:400px; _height:auto; float:left;display:block;border-right:0px dotted #ddd;border-left:1px dotted #ddd;margin-bottom:10px;}
a img{border:0}
a:focus img,a:hover img,a:active img{outline:none;border:0}
a:focus, div:focus, input:focus, textarea:focus, label:focus, select:focus{outline:none}
.spliter{display:block;width:100%; border-top: 1px dotted #DDDDDD;padding-bottom:10px;margin-top:10px;}
.itemContent {border-top:1px dotted #DDD; border-bottom:1px dotted #DDD; padding:10px 0px;margin:10px 0; _width:90%;font-size:13px;}
.itemContent p {margin:15px 0 10px 0; font-size:13px; line-height:150%;}
#footer {display:none;}
a.search_btn:link,a.search_btn:visited,a.search_btn:active,a.search_btn:hover {background:url('../../images/front_end/search_btn.gif') 0 0 no-repeat #fff; display:block; height:17px; width:19px; position:absolute;top:41px;right:19px;*right:18px;*top:42px; _top:4px; _right:6px;}
.dbShop-ui-left {float:left;}
.dbShop-ui-right {float:right;}
.dbShop-ui-clearboth {clear:both;}

/* PRODUCT DETAIL */
#image{float:left;margin-right:20px;margin-bottom:10px;}
/*#image a, #image div{display:block;padding:0px;border:0px solid #ccc;height:360px;width:430px;*width:400px;}*/
#image a:hover{border:0px solid #aaa}

span.compulsory {color:#FF0000;padding:0px 5px 0px 0px;}

/* BREADCRUMS */
#breadcrumb{border-bottom: 1px dotted #DDDDDD; padding-bottom:5px; _padding-bottom:0; _height:30px; _overflow:hidden; text-align:left;}
#breadcrumbs{margin:0;padding:5px 11px;display:inline-block; font-size:12px; color:#cc0000;max-width:550px;}
#breadcrumbs li{float:left;list-style:none;word-wrap:break-word; display:block; max-width:200px; max-height:60px; _width:200px; _height:14px; text-align:left;}
#breadcrumbs a{padding:0 5px 0 0;}
/*#breadcrumbs a:after{content:'>'; padding-left:5px;}*/
#breadcrumbs a:link, #breadcrumbs a:visited{color:#333;text-decoration:none}
#breadcrumbs a:hover{color:#cc0000}
#breadcrumbs .dbShop-ui-appBCrumbTxt {padding:0 5px; color:#333; float:left; *float:none; display:inline-block; _display:inline;}



/* KATEGORI MENU */
.dbShop-ui-cattitle{color:#636363;font-size:14pt;font-weight:bold;margin:10px 0 5px;letter-spacing:-0.04em;padding-left:9px;background-image:none;background-position:left top;background-repeat:no-repeat;display:block;*padding-top:0px;}
.dbShop-ui-cattitle:hover{color:#cc0000}
.navigation{display:block;padding:0;margin:0;list-style:none}
.navigation li{font-size:12px;font-weight:normal;padding:0;margin:5px 0;}
.navigation li a{color: #000000;display: block; margin-right:10px;overflow:hidden;padding:4px 15px 4px 10px;text-decoration:none;width:145px;padding:4px 15px 4px 10px\9;*padding:4px 15px 4px 10px; background-color:#f4f4f4; max-height:60px; line-height:130%; text-overflow: ellipsis; overflow:hidden; whitw-space:normal; }
@media screen and (-webkit-min-device-pixel-ratio:0){.navigation li a{padding:3px 10px 5px}}
.sub-level{display:block;padding:0;margin:0 0 0 10px;list-style:none;}
.navigation li a:hover{color:#ffffff;background-color:#cc0000;}
.navigation li a.current-category, .navigation li a.active{color:#ffffff;background-color:#cc0000;}
.sub-level{_margin-bottom:10px}
.sub-level li{font-size:12px;font-weight:normal;padding:0 0 4px 10px;padding:0 0 2px 10px\9;*padding:3px 0 2px 10px;_padding:10px 0 0px 10px;margin:2px 0 2px 0px;*margin:1px 0 0 0px;background-image:none;background-position:0 8px;background-repeat:no-repeat;*background:none;*list-style:outside none;*cursor:default}
.sub-level li:hover{background-image:none;background-position:0 8px;background-repeat:no-repeat;*background:none}
.sub-level li a{color:#000000;text-decoration:none;background:none;padding:2px 10px 0 0;padding-top:0\9;*padding-top:0;*padding-bottom:3px;}
.sub-level li a.current-category, .sub-level li a:hover, a.katalogOn:link, a.katalogOn:active, a.katalogOn:visited, a.katalogOn:hover {color:#cc0000; font-weight:normal; background:none; text-decoration:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){.sub-level li{padding:0 0 2px 10px}.sub-level li a{padding:0 10px 0 0}}

.dbShop-ui-warning {background:url('../../images/icon_warning.jpg') 10px 10px no-repeat #f4f4f4; padding:20px 10px 10px 58px; text-align:left; color:#666666; font-size:13px; width:680px; _width:670px; height:28px; vertical-align:middle; cursor:default;}

/*Sorting*/
#product_filter {width:748px; margin:5px -11px 0 0; *margin:5px -11px 0 0; _margin:15px -11px 0 0; z-index:100; background:none; padding:3px 4px 2px 4px; *height:21px; _height:19px; _padding:3px 10px 0 0;}
#product_filter .dbShop-ui-left {float:left;}
#product_filter label {font-size:11px; font-weight:bold; padding:3px 8px 1px 0; *padding:3px 0 1px 0; float:right;}
#product_filter select {width:130px; padding:2px 2px 3px 2px; margin-right:10px; *margin:0 5px; float:right; font-size:12px;}
#product_filter .dbShop-ui-price {/*position:relative;*/ float:right; *margin-left:3px; _position:relative;}
#product_filter .dbShop-ui-currTag {display:none; position:absolute; top:4px; left:10px; color:#999999; font-size:11px;}
#product_filter input {width:160px; margin:0 5px 0 0; padding:3px; font-size:11px;}
#product_filter .dbShop-ui-txt {color:#666666; font-weight:normal; float:right; margin-right:5px; *margin:0 3px;}



#product_filter label.dbShop-ui-left {float:left; margin-top:-1px; _padding-left:3px;}
#product_filter .dbShop-ui-left {font-size:11px; line-height:140%; color:#666666; margin-top:2px;}
#product_filter .dbShop-ui-left a:link, #product_filter .dbShop-ui-left a:active, #product_filter .dbShop-ui-left a:visited, #product_filter .dbShop-ui-left a:hover {padding:0 3px; font-size:11px; line-height:140%; color:#666666; text-decoration:none;}
#product_filter .dbShop-ui-left a:hover, #product_filter .dbShop-ui-left span {padding:0 3px; color:#cc0000; text-decoration:underline; font-weight:bold}


/* Job Listing Content*/
.jobheader{font-size:12px;font-weight:bold;color:#666666;cursor:default;display:inline-block;width:100%; *width:748px; _width:740px; background-color:#eee; margin-top:10px; padding:5px 0; _margin-left:0;}
.jobheader span{display:block;float:left;padding:5px;}
.ch01{width:250px;_width:245px; text-align:left;margin-left:10px}
.ch02{width:145px; text-align:left}
.ch03{width:120px; text-align:left}
.ch04{width:80px; text-align:left}
.ch05{width:70px;text-align:left}
.arrow_btn{margin-left:5px; padding:5px;cursor:pointer; position:absolute; background:#FFFFFF;}
.listcontent{border-bottom:1px dotted #ccc; display:block; width:100%; *width:748px; _width:740px; float:left; margin:0; _margin:0; padding:10px 0;}
.row2 {background-color:#f5f3f4;}
.listcontent span{float:left;display:table;color:#666;font-size:13px;padding:5px;margin-left:10px}
.listcontent .cc01{width:241px; _width:225px; overflow:hidden; display:block; text-align:left; font-weight:bold; max-height:30px; white-space:normal}
.listcontent .cc02{width:135px; overflow:hidden; display:block; text-align:left; font-weight:normal; max-height:30px; white-space:normal}
.listcontent .cc03{width:110px; overflow:hidden; display:block; text-align:left; max-height:30px; white-space:normal}
.listcontent .cc04{width:70px; overflow:hidden; display:block; text-align:left; max-height:30px; white-space:normal}
.listcontent .cc05{width:70px; overflow:hidden; display:block; text-align:left; max-height:30px; white-space:normal}
.row1{background:#ffffff;}
.row2{background:#f5f3f4;}
.listcontent:hover {background:#dfdfdf;cursor:pointer}
.listcontent:hover .cc01 {color:#000000}
.title {margin:0px}


@media screen and (-webkit-min-device-pixel-ratio:0) {

.ch01{width:34.3%;text-align:left}
.ch02{width:18%;text-align:left}
.ch03{width:16%;text-align:left}
.ch04{width:11%;text-align:left}
.ch05{width:10%;text-align:left}
#product_filter input {padding:2px;}
#product_filter select {padding:1px 2px 2px 2px; margin-top:0;}
.listcontent .cc01 {width:246px;}
.listcontent .cc02 {width:128px;}
.listcontent .cc03 {width:106px;}
.listcontent .cc04 {width:74px;}
}

/*Message Box*/
.dbShop-ui-msgBox {margin: 0 auto; margin-top:15px; width: 950px; background:#f5f3f4; padding:10px 10px 5px 10px;}
.dbShop-ui-msgArea {float:left;width:600px;}
.form-title_c { font-size:18px; font-weight:bold; margin-left:5px; }
.dbShop-ui-email_c {font-size:12px; color:#666666; margin:10px 0px 10px 5px;  }
.dbShop-ui-email_d {font-size:12px; color:#999999; margin: 0px 5px 0px 5px; *vertical-align:6px;}
.clip_img { margin-top:5px; width:5px }
.clip_img img {vertical-align:-5px;}
.dbShop-ui-uploadArea_c {display:block;}
.dbShop-ui-msgArea .txtArea {width:588px!important; height:115px; padding:5px; border:1px solid #ededed; border-top:1px solid #d7d7d7; background:#FFFFFF;border-radius:5px; font-size:12px;line-height:150%; font-family:Tahoma, Arial, PmingLiu, sans-serif;}
.dbShop-ui-msgArea .dbShop-ui-checkArea {margin:10px 0 0 2px; color:#666666; font-size:12px;}
.dbShop-ui-msgArea .dbShop-ui-checkArea .checkbox, .dbShop-ui-msgArea .dbShop-ui-checkArea .ckbIsPrivate {margin:0 10px 0 0; vertical-align:-1px;}
.dbShop-ui-mLogged .dbShop-ui-msgArea {width:930px;}
.dbShop-ui-mLogged .dbShop-ui-msgArea .txtArea {width:935px;}
.dbShop-ui-contactArea {width:300px; padding:10px; margin:0 0 0 15px; border-radius:5px;}
.dbShop-ui-mLogged .dbShop-ui-contactArea, .dbShop-ui-rlyLayerLogged  .dbShop-ui-contactArea {padding:0; margin:0; border-left:none;}
.dbShop-ui-contactArea .txtField {width:300px; padding:8px; border:1px solid #ededed; border-top:1px solid #d7d7d7; background:#FFFFFF;border-radius:5px;font-size:12px;line-height:150%; font-family:Tahoma, Arial, PmingLiu, sans-serif;}
.dbShop-ui-contactArea .dbShop-ui-rel .txtField  {width:270px;}
.txtField2 { padding:8px; border:1px solid #ededed; border-top:1px solid #d7d7d7; background:#FFFFFF;border-radius:5px;font-size:11px;line-height:100%; font-family:Tahoma, Arial, PmingLiu, sans-serif; width:230px!important;}
.dbShop-ui-mLogged .dbShop-ui-contactArea_c {display:none;}
.dbShop-ui-contactArea_c {margin:0 0 10px 0; position:relative;}
.dbShop-ui-contactArea .dbShop-ui-rel {margin-bottom:0!important;}
.dbShop-ui-contactArea .dbShop-ui-rel .dbShop-ui-vCode {position:absolute; top:7px; right:18px;}
.dbShop-ui-mLogged .dbShop-ui-contactArea .dbShop-ui-rel  {display:block!important; margin-top:10px;}
.dbShop-ui-refreshCode {display:block; width:25px; height:25px; background:url(../../images/btn_guestBook.gif) no-repeat -476px -64px; position:absolute; top:5px; right:-15px;}

.dbShop-ui-msgBox .dbShop-ui-btnArea, .dbShop-ui-rlyLayerUnLog .dbShop-ui-btnArea {clear:both; display:block; text-align:center; *padding:10px 0;}
.dbShop-ui-mLogged .dbShop-ui-btnArea, .dbShop-ui-rlyLayerLogged .dbShop-ui-btnArea {clear:none!important; float:right;  padding-top:10px; }
.dbShop-ui-mLogged .dbShop-ui-btnArea .dbShop-ui-left, .dbShop-ui-rlyLayerLogged .dbShop-ui-btnArea .dbShop-ui-left {float:right;}

.dbShop-ui-rlyLayer {padding:10px; background:#f5f3f4; box-shadow:5px 5px 10px #444444; border-radius:none;}
.dbShop-ui-rlyLayerUnLog, .dbShop-ui-rlyLayerLogged {width:500px; background:#D8D8D8; border-radius:5px; padding:10px;}
.dbShop-ui-rlyLayer h2 {font-family:Tahoma,Arial,PMingLiu,sans-serif; font-size:15px; font-weight:bold; margin:10px 0 5px;}
.dbShop-ui-rlyLayerUnLog .dbShop-ui-msgArea {width:auto; position:relative;}
.dbShop-ui-rlyLayerUnLog .dbShop-ui-msgArea .txtArea {width:467px!important; margin-bottom:10px;}
.dbShop-ui-rlyLayerLogged .dbShop-ui-msgArea {width:585px;}
.dbShop-ui-rlyLayerLogged .dbShop-ui-msgArea .txtArea {width:585px;}
.dbShop-ui-rlyLayer .dbShop-ui-btnAreaL {height:40px;}
.dbShop-ui-rlyLayer .dbShop-ui-btnAreaL .dbShop-ui-grey {*margin-top:-30px;} 
.dbShop-ui-rlyLayer .txtField2 {width:210px!important;}
 
.dbShop-ui-rlyLayerUnLog .dbShop-ui-contactArea {width:480px; margin:0; background:#F0F0F0; }
.dbShop-ui-rlyLayerLogged .dbShop-ui-contactArea {width:205px; padding:0 25px 0 0;}
.dbShop-ui-rlyLayer .dbShop-ui-contactArea .txtField {width:460px;}
..txtField2 {width:240px;}
.dbShop-ui-rlyLayer .dbShop-ui-contactArea .dbShop-ui-rel .txtField {width:175px;}
.dbShop-ui-rlyLayerLogged .dbShop-ui-contactArea_c {display:none;}
.dbShop-ui-rlyLayerLogged  .dbShop-ui-contactArea .dbShop-ui-rel  {display:block!important; margin-top:10px;}
.dbShop-ui-rlyLayerUnLog .dbShop-ui-refreshCode {right:-3px;}
.dbShop-ui-rlyLayerLogged .dbShop-ui-mTfix, .dbShop-ui-mLogged .dbShop-ui-mTfix {margin:10px 0; padding:6px 5px; float:left; border-left:1px solid #e0e0e0;}
.dbShop-ui-rlyLayerLogged .dbShop-ui-mTfix .checkbox, .dbShop-ui-mLogged .dbShop-ui-mTfix .checkbox {vertical-align:-2px!important;}
.dbShop-ui-mLogged .dbShop-ui-mTfix {margin:10px 0 10px 25px;}

.dbShop-ui-appLayer {width:500px; padding:10px; background:#f5f3f4; box-shadow:5px 5px 10px #444444}
.dbShop-ui-appLayer h1 {font-size:18px; font-family:Arial, Tahoma, PMingLiu, sans-serif; color:#666666; margin:0; padding:10px 0;}
.dbShop-ui-appLayer .dbShop-ui-wrapper20 {background:#ffffff; padding:10px;}
.dbShop-ui-appLayer .dbShop-ui-wrapper20 p {padding:0; margin:0; color:#666666; font-size:12px; font-family:Arial, Tahoma, PMingLiu, sans-serif;}
.dbShop-ui-appLayer .dbShop-ui-btnArea {padding:20px 0 0 0; height:30px; text-align:center;}

a.dbShop-ui-sendBtn:link, a.dbShop-ui-sendBtn:visited, a.dbShop-ui-sendBtn:active,  a.dbShop-ui-sendBtn:hover {display:inline; height:14px; line-height:150%; *line-height:200%; padding:6px 10px; margin: 0 10px 10px 0; color:#FFFFFF; font-size:12px; text-decoration:none; font-weight:bold; font-family: Tahoma, Arial, PMingLiu, sans-serif; background-color:#CC0000;}
a.dbShop-ui-sendBtn:hover {background-color:#df0000;}
a.dbShop-ui-cancelBtn:link, a.dbShop-ui-cancelBtn:visited, a.dbShop-ui-cancelBtn:active,  a.dbShop-ui-cancelBtn:hover {display:inline;  height:14px; line-height:150%; *line-height:200%; padding:6px 10px; margin: 0 10px 10px 0; color:#FFFFFF; font-size:12px; text-decoration:none; font-weight:bold; font-family: Tahoma, Arial, PMingLiu, sans-serif; background-color:#b6b6b6;}
a.dbShop-ui-cancelBtn:hover {background-color:#999999;}

a.dbShop-ui-midLink:link, a.dbShop-ui-midLink:active, a.dbShop-ui-midLink:visited, a.dbShop-ui-midLink:hover  {display:block; float:left; padding:7px 0 7px 10px ;}
a.dbShop-ui-pstMsgBtn:link, a.dbShop-ui-pstMsgBtn:active, a.dbShop-ui-pstMsgBtn:visited, a.dbShop-ui-pstMsgBtn:hover {display:block; float:left; height:14px; padding:7px 7px 7px 30px; color:#FFFFFF; font-size:12px; text-decoration:none; font-weight:bold; font-family: Tahoma, Arial, PMingLiu, sans-serif; background:url(../../images/btn_guestBook.gif) no-repeat -5px -3px; background-color:#CC0000;}
a.dbShop-ui-replyMsgBtn:link, a.dbShop-ui-replyMsgBtn:active, a.dbShop-ui-replyMsgBtn:visited, a.dbShop-ui-replyMsgBtn:hover {display:block; height:14px; color:#FFFFFF;  text-decoration:none; font-size:12px; font-weight:bold; font-family: Tahoma, Arial, PMingLiu, sans-serif; background-color:#FF0000; background:url(../../images/btn_guestBook.gif) no-repeat 0 -34px; background-color:#CC0000;}
a.dbShop-ui-replyBtn_s:link, a.dbShop-ui-replyBtn_s:active, a.dbShop-ui-replyBtn_s:visited, a.dbShop-ui-replyBtn_s:hover {position:absolute; top:0; right:15px; display:block; width:34px; height:30px;background:url(../../images/btn_guestBook.gif) no-repeat 0 -68px; background-color:#CC0000;}
a.dbShop-ui-spmBtn_s:link, a.dbShop-ui-spmBtn_s:active, a.dbShop-ui-spmBtn_s:visited, a.dbShop-ui-spmBtn_s:hover {position:absolute; bottom:0; right:15px; display:block; width:34px; height:30px; background:url(../../images/btn_guestBook.gif) no-repeat -436px -64px;}
a.dbShop-ui-spmBtn_s:hover {background:url(../../images/btn_guestBook.gif) no-repeat -402px -64px;}

.dbShop-ui-msgList {width:970px; margin:30px 0 0 0; border-top:1px dotted #e3e3e3;}
.dbShop-ui-msgThread .dbShop-ui-msg {padding:10px 50px 5px 10px; color:#666666; fonr-size:12px; line-height:140%; position:relative;}
.dbShop-ui-msgThread .dbShop-ui-mainMsg {background:#F5F3F4; border-bottom:1px dotted #ededed; min-height:60px; _height:60px;}
.dbShop-ui-msgThread .dbShop-ui-replyMsg { background:#ffffff; border-bottom:1px dotted #ededed; margin-left:80px; min-height:20px; _height:20px;}
.dbShop-ui-msgThread .dbShop-ui-msg .dbShop-ui-poName {font-size:15px; font-weight:bold;}
.dbShop-ui-msgThread .dbShop-ui-msg .dbShop-ui-poDate {font-size:11px; margin-left:7px;}
.dbShop-ui-msgThread .dbShop-ui-msg p{margin:0; padding:1px 0 5px;}
.note{ font-size:11px; color:#666666; float:right; padding-top:12px; width:290px; text-align:right }
.dbShop-ui-btnArea .note {float:none; display:block; margin:0 auto -10px; padding:15px 0 0 0; text-align:center; width:290px;}

/*Job Details*/
.tabs-Btn{display:block; padding:15px 0px 10px 0px; }
.tabs-Btn a.itemBtn-gray:link, .tabs-Btn a.itemBtn-gray:active, .tabs-Btn a.itemBtn-gray:visited, .tabs-Btn a.itemBtn-gray:hover {margin-left:0;}
.title-tabs{color:#000000; font-size:13px; font-weight:bold; padding-right:5px;}
.title{color:#000000; font-size:13px; font-weight:bold;  }
.title-content{color:#6000000; font-size:13px; font-weight:bold; display:block; padding-bottom:10px}
.title-info{dispaly:block;color:#000000; font-size:13px; font-weight:bold; display:block; padding-bottom:10px; float:left; padding-right:10px}
.detail-content{color:#000000; font-size:13px; font-weight:normal; display:block; }
.detail-row1{background:none repeat scroll 0 0 #f5f3f4;dispaly:block; padding:10px;}
.detail-row2{background:none repeat scroll 0 0 #ffffff;dispaly:block; padding:10px;}
.bottom-info{padding:10px 0px 10px 0px;}
.detail-title{width:739px; overflow:hidden; display:block; max-height:60px; white-space:normal}

a.dbShop-ui-backlink:link, a.dbShop-ui-backlink:active, a.dbShop-ui-backlink:visited, a.dbShop-ui-backlink:hover {color:#666666; font-size:12px; font-weight:bold; text-decoration:none; *margin-left:525px;  }
a.dbShop-ui-backlink:hover {color:#cc0000; font-size:12px; font-weight:bold; text-decoration:none; *margin-left:525px;}
a.itemBtn-red:link, a.itemBtn-red:active, a.itemBtn-red:visited, a.itemBtn-red:hover {padding:5px 10px 5px 10px; padding:6px 10px 4px 10px\9; padding:5px 10px 5px 10px\0; *padding:4px 10px 6px 10px; color:#ffffff; font-weight:bold; font-size:13px; line-height:150%; text-decoration:none; background:#CC0000; border-radius: 3px; margin-top:10px; 
-webkit-box-shadow: 0px 1px 1px #666666;
-moz-box-shadow:  0px 1px 1px #666666;
box-shadow:  0px 1px 1px #666666;
 }
 a.itemBtn-red:hover {color:#ffffff; font-weight:bold; font-size:13px; line-height:150%; text-decoration:none; background:#ff0303; border-radius: 3px; margin-top:10px;
-webkit-box-shadow: 0px 1px 1px #666666;
-moz-box-shadow:  0px 1px 1px #666666;
box-shadow:  0px 1px 1px #666666;
 }
 a.itemBtn-red2:link, a.itemBtn-red2:active, a.itemBtn-red2:visited, a.itemBtn-red2:hover { padding:4px 10px 6px 10px; color:#ffffff; font-weight:bold; font-size:13px; line-height:150%; text-decoration:none; background:#CC0000; border-radius: 3px; margin-top:10px; float:left; -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.6);-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.6);box-shadow: 0px 1px 2px rgba(0,0,0,0.6); }
 a.itemBtn-red2:hover { padding:4px 10px 6px 10px; color:#ffffff; font-weight:bold; font-size:13px; line-height:150%; text-decoration:none; background:#ff0303; border-radius: 3px; margin-top:10px; -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.6);-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.6);box-shadow: 0px 1px 2px rgba(0,0,0,0.6);}
  a.itemBtn-gray2:link, a.itemBtn-gray2:active, a.itemBtn-gray2:visited, a.itemBtn-gray2:hover { padding:4px 10px 6px 10px; color:#ffffff; font-weight:bold; font-size:13px; line-height:150%; text-decoration:none; background:#b6b6b6; border-radius: 3px; margin-top:10px; float:left; margin-left:5px; -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.6);-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.6);box-shadow: 0px 1px 2px rgba(0,0,0,0.6); }
 a.itemBtn-gray2:hover {  padding:4px 10px 6px 10px; color:#ffffff; font-weight:bold; font-size:13px; line-height:150%; text-decoration:none; background:#666666; border-radius: 3px; margin-top:10px; margin-left:5px;  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.6);-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.6);box-shadow: 0px 1px 2px rgba(0,0,0,0.6); }
 a.itemBtn-gray:link, a.itemBtn-gray:active, a.itemBtn-gray:visited, a.itemBtn-gray:hover {  padding:6px 10px 5px 10px; color:#ffffff; font-weight:bold; font-size:13px; line-height:150%; text-decoration:none; background:#b6b6b6; border-radius: 3px; margin-top:10px; margin-left:5px; box-shadow: 0 1px 2px rgba(0,0,0,0.6); -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.6); box-shadow: 0 1px 2px rgba(0,0,0,0.6);}
 a.itemBtn-gray:hover {  padding:6px 10px 5px 10px; color:#ffffff; font-weight:bold; font-size:13px; line-height:150%; text-decoration:none; background:#666666; border-radius: 3px; margin-top:10px;  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.6); -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.6); box-shadow: 0px 1px 2px rgba(0,0,0,0.6);}
.row-item tr.item-gbg td {background:#f5f3f4;}
/*.row-item tr.item-read td.item-title {font-weight:normal;}
.row-item tr.item-unread td.item-title {font-weight:bold; text-decoration:underline;}*/
.row-item tr:hover td {background:#dfdfdf; cursor:pointer;}
.row-item tr:hover td.item-title a:link, .row-item tr:hover td.item-title a:active, .row-item tr:hover td.item-title a:visited, .row-item tr:hover td.item-title a:hover {text-decoration:none; color:#111111;}
.row-item tr:hover td.item-date {color:#111111;}
.galleryBlk {width:510px; height:450px; overflow:hidden; margin:40px 119px; _margin:40px 100px;}
.ref-id {margin:0; font-size:13px; color:#444444; line-height:150%;margin-top:10px; display:block; clear:both;}
.news-date {margin:0; font-size:13px; color:#444444; line-height:150%;}
.shareBlk {margin-top:10px;}
a.dbShop-ui-getlink:link, a.dbShop-ui-getlink:visited, a.dbShop-ui-getlink:hover, a.dbShop-ui-getlink:active {
    background-image: linear-gradient(to bottom, #FEFEFE 0%, #EAEAEA 100%);
	background-color: #fefefe;
	background-color: #fefefe\0/;
    border: 1px solid #C0C0C0;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    display: block;
    float: left;
    font-family: Arial,Tahoma,PMingLiu,sans-serif;
    margin-left: 10px;
    margin-right: 0;
    padding: 3px 20px 0px 4px;
	padding: 2px 20px 2px 4px\0;
	*padding: 0px 20px 2px 4px;
    position: relative;
    text-decoration: none;
}
.share_ui {float:left;}
.dbShop-ui-inner_text_small {
	line-height:120%\9;
    cursor: pointer;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
	*line-height:90%;

}
.dbShop-ui-getlinkIco {
    background: url("../../images/front_end/getlink.gif") no-repeat scroll 0 0;
	background: url("../../images/front_end/getlink.gif") no-repeat scroll 0 0 \0/;
	*background: url("../../images/front_end/getlink.gif") no-repeat scroll 0 0 ;
    display: block;
    height: 7px;
    position: absolute;
    right: 3px;
    top: 5px;
	*top: 7px;
    width: 13px;
}


.item-desc {width:580px; overflow:hidden; white-space:normal; line-height:normal;}

.item-list {display:inline-block; margin-top:10px; width:100%; min-height:400px; _height:400px; position:relative;}
.item-list a.itemBtn-red:link, .item-list a.itemBtn-red:active, .item-list a.itemBtn-red:visited, .item-list a.itemBtn-red:hover {position:absolute; display:block; padding:5px 10px; color:#ffffff; font-weight:bold; font-size:13px; line-height:150%; text-decoration:none; background:#CC0000; top:0; right:15px; _right:20px;}
.item-list a.itemBtn-red:hover {background:#FF0303;}
.row-item {margin:-4px 10px 10px 0; font-family:Tahoma, Arial Verdana, Geneva, sans-serif;  border-top:1px dotted #d8d8d8;}
.row-item td {}
.row-item td.item-date  {width:85px; padding:15px; text-align:left; vertical-align:top; color:#444444; font-size:13px; line-height:150%;border-bottom:1px  dotted #d8d8d8; white-space:nowrap;}
.row-item td.item-remarks {width:23px; padding:8px 0; vertical-align:top;border-bottom:1px  dotted #d8d8d8;}
.row-item td.item-title {width:620px; padding:15px 15px 15px 20px; color:#444444; font-size:13px; line-height:150%;border-bottom:1px  dotted #d8d8d8;}
.row-item td.item-title a:link, .row-item td.item-title a:active, .row-item td.item-title a:visited, .row-item td.item-title a:hover {color:#666666; font-weight:bold; text-decoration:none; display:block; width:580px;}
.row-item td.item-title a:hover {color:#444444; text-decoration:none;}

.row-item tr.item-gbg td {background:#f5f3f4;}
/*.row-item tr.item-read td.item-title {font-weight:normal;}
.row-item tr.item-unread td.item-title {font-weight:bold; text-decoration:underline;}*/
.row-item tr:hover td {background:#dfdfdf; cursor:pointer;}
.row-item tr:hover td.item-title a:link, .row-item tr:hover td.item-title a:active, .row-item tr:hover td.item-title a:visited, .row-item tr:hover td.item-title a:hover {text-decoration:none; color:#111111;}
.row-item tr:hover td.item-date {color:#111111;}
.galleryBlk {width:510px; height:450px; overflow:hidden; margin:40px 119px; _margin:40px 100px;}
.item-desc {width:580px; overflow:hidden; white-space:normal; line-height:normal;}
.itemContent-des {color:#000000; font-size:13px; line-height:normal;}

/* PAGINATION */
#paging{clear: both; display:none;padding:2px 0;text-align:center; font-weight:normal; font-size:12px; padding:20px 0; margin:0; margin-top:10px\9; color:#666666}
#paging a:link, #paging a:visited, #paging a:active, #paging a:hover {color:#666666; padding:0 10px; margin:2px; line-height:130%; background:none; text-decoration:none; border-right:1px solid #666666;}
#paging a:hover {text-decoration:underline; color:#CC0000; background:none;}
#paging a.previous:link, #paging a.previous:visited, #paging a.previous:active, #paging a.previous:hover {color:#666666; padding:0 10px; line-height:100%; background:none; text-decoration:none; border:none;}
#paging a.previous:hover {text-decoration:underline; color:#CC0000; background:none;}
#paging a.next:link, #paging a.next:visited, #paging a.next:active, #paging a.next:hover {color:#666666; padding:0 10px; line-height:100%; background:none; text-decoration:none; border:none;}
#paging a.next:hover {text-decoration:underline; color:#CC0000; background:none;}
#paging a.last:link, #paging a.last:visited, #paging a.last:active, #paging a.last:hover {color:#666666; padding:0 10px; line-height:100%; background:none; text-decoration:none; border:none;}
#paging a.last:hover {text-decoration:underline; color:#CC0000; background:none;}
#paging strong{ padding:0 15px 0 10px; margin:2px; cursor:default; text-decoration:underline; color:#CC0000; border-right:1px solid #666666;}
#paging a.last:link strong, #paging a.last:visited strong, #paging a.last:active strong, #paging a.last:hover strong, #paging strong.last { padding:0; margin:2px; cursor:default; text-decoration:underline; color:#CC0000; border-right:none;}
#paging strong.last {padding:0 10px;}



/* SCROLLBAR MENU */
#mcs_container{position:relative;margin:0;width:100%;padding:0;}
#mcs_container .customScrollBox{position:relative;height:100%;overflow:hidden;}
#mcs_container .customScrollBox .container{position:relative;width:180px;top:0;float:left;}
#mcs_container .customScrollBox .content{clear:both;}
#mcs_container .dragger_container{position:absolute;top:0;right:0;width:13px;height:304px;float:right;margin:13px 0 0;background:url('../../images/scrollbar-bg.jpg') center center repeat-y #fff;}
#mcs_container .dragger{position:absolute;width:5px;height:60pxtext-align:center;line-height:60px;overflow:hidden;cursor:pointer;-moz-border-radius:2px;-khtml-border-radius:2px;margin-left:4px;background:#aaa;-webkit-border-radius:2px;border-radius:2px;}
#mcs_container .dragger:hover{background:#999}
#mcs_container .dragger_pressed{position:absolute;width:5px;height:60px;margin-left:4px;background:#999;text-align:center;overflow:hidden;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;cursor:s-resize;}
#mcs_container .scrollUpBtn,#mcs_container .scrollDownBtn{position:absolute;display:inline-block;width:13px;height:13px;text-decoration:none;right:0;filter:alpha(opacity=80);-moz-opacity:0.80;-khtml-opacity:0.80;opacity:0.80;}
#mcs_container .scrollUpBtn{top:0;background:url('../../images/scrollup-btn.png') center center no-repeat;}
#mcs_container .scrollDownBtn{bottom:0;background:url('../../images/scrolldown-btn.png') center center no-repeat;}
#mcs_container .scrollUpBtn:hover,#mcs_container .scrollDownBtn:hover{filter:alpha(opacity=100);-moz-opacity:1; -khtml-opacity:1;opacity:1;}

/*tooltips*/
.dbShop-ui-favTag {padding:2px; width:17px; height:17px; display:block; background:url(../images/icons.gif) no-repeat 2px -19px; zoom:1; z-index:10; text-decoration:none;}
.dbShop-ui-favTagOn {padding:2px; width:17px; height:17px; display:block; background:url(../images/icons.gif) no-repeat 2px 2px; zoom:1; z-index:10; text-decoration:none}
.dbShop-ui-favTag:hover, .dbShop-ui-favTagOn:hover {text-decoration:none;}
.dbShop-ui-favTag:hover .dbShop-ui-toolTips, .dbShop-ui-favTagOn:hover .dbShop-ui-toolTips {display:block;}
.dbShop-ui-toolTips {position:absolute; color:#666666; font-size:11px; font-weight:normal!important; line-height:13px; left:0; display:none; z-index:100;}
.dbShop-ui-toolTips .dbShop-ui-top {width:103px; height:auto; padding:16px 10px 3px 10px; _padding:16px 11px 3px 10px;  background:url(../images/bg_tipsTop_sr.png) no-repeat;  _background:url(../images/bg_tipsTop_sr.gif) no-repeat; font-family:Tahoma, Arial, PMingLiu, Verdana, sans-serif;}
.dbShop-ui-toolTips .dbShop-ui-btm {width:122px; height:7px; background:url(../images/bg_tipsBtm_s.png) no-repeat; *background:url(../images/bg_tipsBtm_s.gif) no-repeat; font-family:Tahoma, Arial, PMingLiu, Verdana, sans-serif;}
.dbShop-ui-mToolTips {position:absolute; color:#ffffff; font-size:11px; line-height:120%; z-index:99999!important; *zoom:1; *width:50px; _width:50px; text-shadow:none;}
.dbShop-ui-widArea .dbShop-ui-mToolTips {width:250px;}
.dbShop-ui-mTipsBRt {}
.dbShop-ui-mTipsBLt {text-align:left;}
.dbShop-ui-mToolTips .dbShop-ui-tipsCnt {background:#53b5f6; margin-top:-5px; padding:5px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; text-align:left; z-index:10; clear:both; -webkit-box-shadow:0 1px 3px #111111; -moz-box-shadow:0 1px 3px #111111; box-shadow:0 1px 3px #111111; *border-right:1px solid #666666; *border-bottom:1px solid #666666; font-weight:normal!important; *width:75px;}
.dbShop-ui-mToolTips .dbShop-ui-tipsPtr {display:block; width:7px; height:7px; _font-size:5px; _line-height:2px; _height:0px;}
.dbShop-ui-mTipsTLt .dbShop-ui-tipsPtr {margin-right:5px; float:right; background:url(../../images/ar_tooltips.gif) no-repeat -61px 0;  *background:url(../images/ar_tooltips.gif) no-repeat -20px 0;}
.dbShop-ui-mTipsTRt .dbShop-ui-tipsPtr {margin-left:5px; float:left; background:url(../../images/ar_tooltips.gif) no-repeat -68px 0;  *background:url(../images/ar_tooltips.gif) no-repeat -20px 0;}
.dbShop-ui-mTipsBLt .dbShop-ui-tipsPtr {margin-left:5px; float:left; background:url(../../images/ar_tooltips.gif) no-repeat -47px 0;  *background:url(../images/ar_tooltips.gif) no-repeat -20px 0;}
.dbShop-ui-mTipsBRt .dbShop-ui-tipsPtr {margin-right:5px; float:right; background:url(../../images/ar_tooltips.gif) no-repeat -54px 0;  *background:url(../images/ar_tooltips.gif) no-repeat -20px 0;}
.dbShop-ui-mTipsTLt .dbShop-ui-tipsCnt, .dbShop-ui-mTipsTRt .dbShop-ui-tipsCnt {*line-height:100%; *text-align:center; *margin:0; *padding:2px 2px 5px 2px;}
.dbShop-ui-mTipsBLt .dbShop-ui-tipsCnt, .dbShop-ui-mTipsBRt .dbShop-ui-tipsCnt {*line-height:100%; *text-align:center; *margin:0; *padding:3px 2px 6px 2px;}

/*Error message*/
.dbShop-ui-eMsg {position:absolute; color:#FFFFFF; font-size:11px; line-height:120%; z-index:99999!important; *zoom:1; *width:50px; _width:50px;}
.dbShop-ui-eMsgBRt {}
.dbShop-ui-eMsgBLt {text-align:left;}
.dbShop-ui-eMsg .dbShop-ui-eMsgCnt {background:#f54f52; margin-top:-5px; padding:5px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; text-align:left; z-index:10; clear:both; -webkit-box-shadow:0 1px 3px #111111; -moz-box-shadow:0 1px 3px #111111; box-shadow:0 1px 3px #111111; *border-right:1px solid #b04244; *border-bottom:1px solid #b04244; font-weight:normal!important; *white-space:nowrap; *width:150px;}
.dbShop-ui-eMsg .dbShop-ui-eMsgPtr {display:block; width:7px; height:7px; _font-size:5px; _line-height:2px; _height:0px;}
.dbShop-ui-eMsgTLt .dbShop-ui-eMsgPtr {margin-right:5px; float:right; background:url(../../images/ar_tooltips.gif) no-repeat -15px 0;}
.dbShop-ui-eMsgTRt .dbShop-ui-eMsgPtr {margin-left:5px; float:left; background:url(../../images/ar_tooltips.gif) no-repeat -20px 0;}
.dbShop-ui-eMsgBLt .dbShop-ui-eMsgPtr {margin-left:5px; float:left; background:url(../../images/ar_tooltips.gif) no-repeat -10px 0;}
.dbShop-ui-eMsgBRt .dbShop-ui-eMsgPtr {margin-right:5px; float:right; background:url(../../images/ar_tooltips.gifg) no-repeat -5px 0;}
.dbShop-ui-eMsgTLt .dbShop-ui-eMsgCnt, .dbShop-ui-eMsgTRt .dbShop-ui-eMsgCnt {*line-height:100%; *text-align:center; *margin:0; *padding:2px 2px 5px 2px;}
.dbShop-ui-eMsgBLt .dbShop-ui-eMsgCnt, .dbShop-ui-eMsgBRt .dbShop-ui-eMsgCnt {*line-height:100%; *text-align:center; *margin:0; *padding:3px 2px 6px 2px;}

/* add by developer */
#windownbg {
    background: none repeat scroll 0 0 #000000;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/*System issues*/
a.dbShop-ui-sendBtn:link, a.dbShop-ui-sendBtn:visited, a.dbShop-ui-sendBtn:active,  a.dbShop-ui-sendBtn:hover {
    display: inline;
    height: 14px;
    line-height: 150%;
    *line-height: 200%;
    padding: 6px 10px;
    margin: 0 10px 10px 0;
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    font-family: Tahoma, Arial, PMingLiu, sans-serif;
    background-color: #CC0000;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

a.dbShop-ui-sendBtn:hover {
    background-color: #df0000;
}

a.dbShop-ui-cancelBtn:link, a.dbShop-ui-cancelBtn:visited, a.dbShop-ui-cancelBtn:active,  a.dbShop-ui-cancelBtn:hover {
    display: inline;
    height: 14px;
    line-height: 150%;
    *line-height: 200%;
    padding: 6px 10px;
    margin: 0 10px 10px 0;
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    font-family: Tahoma, Arial, PMingLiu, sans-serif;
    background-color: #b6b6b6;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

a.dbShop-ui-cancelBtn:hover {
    background-color: #999999;
}


/*Layer*/
.dbShop-ui-wrapper20 .txtArea {
    width: 553px;
    height: 50px;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    border: 1px solid #ededed;
    border-top: 1px solid #d7d7d7;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 12px;
    line-height: 150%;
    font-family: Tahoma, Arial, PmingLiu, sans-serif;
    resize: none;
	word-break: break-all;
	
}

.dbShop-ui-nlayer, .dbShop-ui-nlayer_link  {
    position: relative;
    width: 400px;
    font-family: Tahoma,Arial,PMingLiu,Verdana,sans-serif;
    background: #d8d8d8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 3px 20px #333333;
    font-size: 12px;
    height: auto;
    overflow: visible;
    padding: 8px;
    text-align: left;
}

.dbShop-ui-nlayer_link{
	width:590px;
}

.dbShop-ui-nlayer h2, .dbShop-ui-nlayer_link h2 {
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    margin: 10px 10px 10px 5px;
    text-align: left;
}

.dbShop-ui-nlayer .dbShop-ui-wrapper20, .dbShop-ui-nlayer_link .dbShop-ui-wrapper20 {
    background: #F0F0F0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 15px 15px 15px 13px;
}

.dbShop-ui-nlayer p, .dbShop-ui-nlayer_link p {
    margin: 0;
    padding: 0;
    line-height: 150%;
}

.dbShop-ui-btnArea {
    padding: 20px 0 15px;
    text-align: center;
}

.dbShop-ui-container_text {
    margin: 10px 0px;
    line-height: 140%;
    word-warp: break-word;
    background-color: #FFF;
    padding: 5px 10px;
    word-break: break-all\0;
    word-break: break-all;
}

.dbShop-ui-container_link {
    margin: 10px 0px;
    line-height: 140%;
    word-warp: break-word;
    padding: 5px 10px;
    word-break: break-all\0;
    word-break: break-all;
}


.form_title_pop {
    dispaly: block;
    float: left;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 150%;
}

.dbShop-ui-selector {
    dispaly: block;
    width: 250px;
    float: left;
    text-align: left;
    padding: 7px 0px 0px 0px;
    margin-top: 10px;
}

.dbShop-ui-selector_btn {
    dispaly: block;
    width: 50px;
    float: left;
    text-align: left;
    padding: 0x 0px 0px 0px;
    margin-top: 80px;
    padding-left: 10px;
}


.msBtn {
    background: url(../../images/back_end/btn_editBtn.png);
    _background: url(../../images/back_end/btn_editBtn.gif);
    border: none;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    zoom: 1;
}

a.dbShop-ui-red:link, a.dbShop-ui-red:visited, a.dbShop-ui-red:active, a.dbShop-ui-red:hover {
    background-position: 0 -220px;
    margin-right: 8px;
    text-decoration: none;
    border-top: 1px solid #6eb0f4;
    border-left: 1px solid #378bd4;
    border-right: 1px solid #378bd4;
    border-bottom: 1px solid #277dc1;
    color: #FFFFFF;
    text-shadow: #175fb1 -1px -1px 0;
    font-size: 13px;
    line-height: 140%;
    padding: 5px 10px;
    *padding: 2px 10px;
    font-family: Tahoma, Arial, PMingLiu, Verdana, sans-serif;
    zoom: 1;
    -webkit-box-shadow: 0 1px 3px #111;
    -moz-box-shadow: 0 1px 3px #111;
    box-shadow: 0 1px 3px #111;
    white-space: nowrap;
    cursor: pointer;
}

a.dbShop-ui-red:hover {
    background-position: 0 -252px;
}

a.dbShop-ui-grey:link, a.dbShop-ui-grey:visited, a.dbShop-ui-grey:active, a.dbShop-ui-grey:hover {
    background-position: 0 -2786px;
    margin-right: 5px;
    text-decoration: none;
    border-top: 1px solid #b7b7b7;
    border-left: 1px solid #999797;
    border-right: 1px solid #999797;
    border-bottom: 1px solid #8b8888;
    color: #FFFFFF;
    text-shadow: #7c7b7b -1px -1px 0;
    font-size: 13px;
    line-height: 140%;
    padding: 5px 10px;
    *padding: 2px 10px;
    font-family: Tahoma, Arial, PMingLiu, Verdana, sans-serif;
    -webkit-box-shadow: 0 1px 3px #111;
    -moz-box-shadow: 0 1px 3px #111;
    box-shadow: 0 1px 3px #111;
}

a.dbShop-ui-grey:hover {
    background-position: 0 -2818px;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
body {-webkit-text-size-adjust: none;}
a.dbShop-ui-getlink:link, a.dbShop-ui-getlink:visited, a.dbShop-ui-getlink:hover, a.dbShop-ui-getlink:active {padding:2px 20px 2px 4px;}
}