/* GENERAL */
body {
    font-family: Arial,Tahoma,PMingLiu,sans-serif;
    margin: 5px 0 0;
    padding: 0;
    color: #000000;
    background-color: #fff;
}

#wrapper {
    width: 990px;
    margin: 0 auto;
    position: relative;
}

h1,h2,h3,h4,h5,h6 {
    color: #000000;
    font-size: 14pt;
    font-weight: bold;
    margin: 5px 0 10px;
    letter-spacing: -0.04em;
}

h2 {
    margin: 10px 0px 5px 0;
    margin: 10px 0px 7px 10px\9;
    margin: 10px 0px 7px 0px\0/;
    *margin: 10px 0px 7px 0px;
	letter-spacing: 0em;
}

#dbShop-ui-mainLeft {
    width: 195px;
    _width: 180px;
    padding: 0 10px 10px 10px;
    float: left;
    display: inline-block;
	overflow:hidden
}

#dbShop-ui-mainRight {
    width: 320px;
    _width: 320px;
    padding: 0 10px 10px 10px;
    float: right;
    display: inline-block;
}

#dbShop-ui-mainLeft2 {
    width: 280px;
    _width: 280px;
    padding: 0 1px;
    float: left;
    display: inline-block;
    padding-right: 15px;
    margin-bottom: 10px;
}

#kanan {
    width: 728px;
    _width: 730px;
    padding: 0 1px;
    float: right;
    display: inline-block;
    padding-left: 15px;
    _padding-left: 0px;
    margin-bottom: 10px;
    display: block;
}

#main {
    margin-left: 5px;
    padding: 0 15px;
    min-height: 400px;
    width: 728px;
    *width: 700px;
	_width: 700px;
    _height: auto;
    float: left;
    display: block;
    border-left: 1px dotted #ddd;
    margin-bottom: 10px;
}

#main2 {
    margin-left: 0px;
    padding: 0 10px;
    width: 610px;
    *width: 610px;
    display: block;
    border-right: 1px dotted #ddd;
    border-left: 0px dotted #ddd;
    margin-bottom: 10px;
}

#main_full {
    padding: 0px;
    width: 990px;
    *width: 990px;
    min-height: 400px;
    _height: auto;
    float: left;
    display: block;
    border-right: 0px dotted #ddd;
    border-left: 0px dotted #ddd;
    margin-bottom: 10px;
}

a img {
    border: 0;
}

a:focus img,a:hover img,a:active img {
    outline: none;
    border: 0;
}

a:focus, div:focus, input:focus, textarea:focus, label:focus, select:focus {
    outline: none;
}

.spliter {
    display: block;
    width: 100%;
    border-top: 1px dotted #DDDDDD;
    padding-bottom: 10px;
    margin-top: 10px;
}

.itemContent {
    border-top: 1px dotted #DDD;
    border-bottom: 1px dotted #DDD;
    padding: 10px 0px;
    margin: 10px 0;
    _width: 100%;
    font-size: 13px;
}

.itemContentOff {
     display:none;
}

.itemContent p {
    margin: 15px 0 10px 0;
    font-size: 13px;
    line-height: 150%;
}

#footer {
    display: none;
}

a.search_btn:link,a.search_btn:visited,a.search_btn:active,a.search_btn:hover {
    background: url('../../images/front_end/search_btn.gif') 0 0 no-repeat #fff;
    display: block;
    height: 17px;
    width: 19px;
    position: absolute;
    top: 41px;
    right: 19px;
    *right: 18px;
    *top: 42px;
    _top: 4px;
    _right: 6px;
}

.dbShop-ui-clearboth {
    clear: both;
    overflow: hidden\0;
}

span.compulsory {
    color: #FF0000;
    padding: 0px 5px 0px 0px;
}

/*time table*/

.time_table{
	padding-top:20px;
	display:inline-block;
	width:300px;
	_width:250px;
	padding-left:5px;
	
}
/*calendar block*/
.calendar_block{
	display:inline-block;
	float:left;
	width:300px;
}

/* Select Date */
.item_selectdate {
    border-bottom: 0px dotted #DDD;
    padding: 0px 0px 30px 0px;
    _width: 90%;
    font-size: 13px;
}

.item_selectdate h2{
	
	font-size: 15px;
	
}
.item_datetable {
    margin-left: -10px;
    width: 350px;
	*width: 300px;
	_width: 300px;
}

a.itemBtn-date:link, a.itemBtn-date:active, a.itemBtn-date:visited, a.itemBtn-date:hover {
    padding: 5px 15px 5px 15px;
    color: #000;
	border: 2px solid #666666;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    background: #ffffff;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
	position:relative;
}

a.itemBtn-date:hover {
    padding: 5px 15px 5px 15px;
    color: #cc0000;
	border: 2px solid #cc0000;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    background: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
}

.item_selectdate a.on {
    padding: 5px 15px 5px 15px;
	_padding: 5px 15px 5px 15px!important;
    color: #cc0000;
	border: 2px solid #cc0000;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    background: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
}

.itemBtn-dateselect{
	display: block;
    background: url("../../images/front_end/date_select.gif") no-repeat scroll 0 0 #cc0000;
    position: absolute;
}
 
 .ico_white_select{
	height: 13px;
    width: 13px;
    right: 0px;
    top: 17px;
	_right: -1px;
    _top: 16px;
    background-position: 1px -1px!important;
	 
	 
 }
 
  .ico_gray_select{
	height: 13px;
    width: 13px;
    right: 0px;
    top: 17px;
    background-position: -15px -1px!important;
	 
	 
 }
 
 
  .ico_black_select{
	height: 13px;
    width: 13px;
    right: 0px;
    top: 17px;
    background-position: -30px -1px!important;
	 
	 
 }

.datetimeSum{
	display:inline-block;
	*display:inline;
	*zoom:1;
	color: #000000;
    font-size: 15px!important;
    font-weight: bold;
    letter-spacing: -0.04em;
    padding: 10px 0px 0px 0px;
    overflow: hidden;
    white-space: nowrap;
}

.resettime{
	display:inline-block;
	*display:inline;
	*zoom:1;
	color: #000000;
    font-size: 13px!important;
    font-weight: normal;
	text-decoration:underline;
    letter-spacing: -0.04em;
    padding: 10px 0px 2px 10px;
    overflow: hidden;
    white-space: nowrap;
	cursor:pointer;

}
.resettime:hover{
	color:#cc0000;
}


/* PRODUCT DETAIL */
#image {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
/*#image a, #image div{display:block;padding:0px;border:0px solid #ccc;height:360px;width:430px;*width:400px;}*/
#image a:hover {
    border: 0px solid #aaa;
}

/* HEADER */
#header {
    border-bottom: 1px dotted #DDDDDD;
    padding-bottom: 35px;
    _padding-bottom: 0;
    _height: 30px;
    _overflow: hidden;
    text-align: left;
}

#headers {
    dispaly: block;
    float: left;
    margin: 0;
    padding: 5px 11px;
    *padding: 5px  0px 10px 10px !important;
    display: inline-block;
    font-size: 14pt;
    color: #000000;
    max-width: 550px;
    font-weight: bold;
}

#headers a {
    padding: 0 5px 0 0;
}

.login-link {
    dispaly: block;
    float: right;
    color: #CC0000;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    padding-top: 10px;
}

/*Custom Html*/
.CustomHtml {
    display: block;
    width: 970px;
    overflow: hidden;
    margin: 10px;
}

.dbShop-ui-clearboth {
    clear=both;
}









/* KATEGORI MENU */
.navTitle {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.04em;
    padding: 0px 0px 15px 0px;
    overflow: hidden;
    white-space: nowrap;
}

.dbShop-ui-cattitle {
    color: #636363;
    font-size: 14pt;
    font-weight: bold;
    margin: 10px 0 5px;
    letter-spacing: -0.04em;
    padding-left: 9px;
    background-image: none;
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    *padding-top: 0px;
}

.dbShop-ui-cattitle:hover {
    color: #cc0000;
}

.navigation {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navigation li {
    font-size: 12px;
    width: 200px;
    *width: 200px;
    _width: 200px;
    font-weight: bold;
    padding: 0;
    margin: 0px;
    border-bottom: 1px solid #d3d3d3;
    _background-color: #f4f4f4;
}

.navigation li a {
    color: #777777;
    display: block;
    margin-right: 10px;
    overflow: hidden;
    padding: 8px 10px 8px 10px;
    text-decoration: none;
    width: 180px;
    padding: 8px 10px 8px 10px\9;
    *padding: 8px 10px 8px 10px;
    background-color: #f4f4f4;
    max-height: 45px;
    line-height: 130%;
    text-overflow: ellipsis;
    overflow: hidden;
    whitw-space: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .navigation li a {
        padding: 8px 10px 8px;
        width: 160px;
    };
}

.sub-level {
    display: block;
    padding: 0;
    margin: 0 0 0 10px;
    list-style: none;
}

.navigation li a:hover {
    color: #cc0000;
    background-color: #f5f5f5;
}

.navigation li a.current-category, .navigation li a.active {
    color: #cc0000;
    background-color: #f5f5f5;
    font-weight: bold;
}

.sub-level {
    _margin-bottom: 10px;
}

.sub-level li {
    font-size: 12px;
    font-weight: normal;
    padding: 0 0 4px 10px;
    padding: 0 0 2px 10px\9;
    *padding: 3px 0 2px 10px;
    _padding: 10px 0 0px 10px;
    margin: 2px 0 2px 0px;
    *margin: 1px 0 0 0px;
    background-image: none;
    background-position: 0 8px;
    background-repeat: no-repeat;
    *background: none;
    *list-style: outside none;
    *cursor: default;
}

.sub-level li:hover {
    background-image: none;
    background-position: 0 8px;
    background-repeat: no-repeat;
    *background: none;
}

.sub-level li a {
    color: #777777;
    text-decoration: none;
    background: none;
    padding: 2px 10px 0 0;
    padding-top: 0\9;
    *padding-top: 0;
    *padding-bottom: 3px;
}

.sub-level li a.current-category, .sub-level li a:hover, a.katalogOn:link, a.katalogOn:active, a.katalogOn:visited, a.katalogOn:hover {
    color: #cc0000;
    font-weight: normal;
    background: none;
    text-decoration: none;
}

a.lastmenu:link, a.lastmenu:active, a.lastmenu:visited, a.lastmenu:hover {
    color: #777777;
    font-weight: bold;
    background: #f5f5f5;
    text-decoration: none;
    border-bottom: 1px solid #f5f5f5;
    _ border-bottom: 3px solid #f5f5f5;
    margin-bottom: -1px;
    _margin-bottom: 1px;
}

.last-menu {
    display: block;
    height: 20px;
    background-color: #f5f5f5;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .sub-level li {
        padding: 0 0 2px 10px;
    }

    .sub-level li a {
        padding: 0 10px 0 0;
    }

    .navigation li a {
        width: 180px;
    };
}

.SelectorList {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.SelectorList li {
    font-size: 12px;
    width: 310px;
    *width: 290px;
    _width: 290px;
    font-weight: bold;
    padding: 0;
    margin: 0px;
    border-bottom: 0px solid #d3d3d3;
	
}

.SelectorList li a {
    color: #000000;
    display: block;
    margin-right: 10px;
    overflow: hidden;
    text-decoration: none;
	max-width: 160px;
    *width: 160px;
    background-color: #ffff;
    max-height: 45px;
    line-height: 130%;
    text-overflow: ellipsis;
    overflow: hidden;
    whitw-space: normal;
}

.SelectorList li a:hover, .SelectorList li a.On {
    color: #000000;
    background-color: #FFFFF;
}

.SelectorList li a.Off {
    color: #d0d0d0;
    background-color: #FFFFF;
	cursor:default;
}

.SelectorList_container {
    display: inline-block;
    position: relative;
    padding: 10px 0px;
	width:300px;
	height:15px;
	
}

.SelectorList_radio {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 8px;
}

.SelectorList_text {
    display: inline-block;
    vertical-aligan: top;
    padding-left: 25px;
}

.SelectorList_text span{
	color:#777777;
	font-weight:normal;
	font-style:italic;
}






.SelectorList_viewdetail {
    display: inline-block;
	background: url("../../images/front_end/viewdetail.gif") no-repeat scroll 0 0 transparent;
    vertical-aligan: top;
	*margin-top:-15px;
	float:right;
	cursor:pointer;
	margin-right:5px;
	
}

.viewdetail_gray{
	width: 22px;
	height:22px;
	background-position: -23px -1px!important;
}

.viewdetail_white{
	width: 22px;
	height:22px;
	background-position: -1px -1px!important;
}

.viewdetail_black{
	width: 22px;
	height:22px;
	background-position: -44px -1px!important;
}


.SelectorList_viewdetail a {
	width:70px!important;
	font-size:11px!important;
	text-decoration:underline!important;
	font-weight:normal!important;
	
}


.SelectorList_avaliable{
	padding: 2px 4px;
	padding: 3px 5px 3px 5px\9;
	margin-top:-3px;
    color: #ffffff;
    font-weight: normal;
    font-size: 11px;
    line-height: 150%;
    text-decoration: none;
    background: #cc0000;
    border-radius: 3px 3px 3px 3px;
	*display:block;
	*float:right;
	*margin: -13px 5px 0px 0px;

	
}


.dbShop-ui-warning {
    background: url('../../images/icon_warning.jpg') 10px 10px no-repeat #f4f4f4;
    padding: 20px 10px 10px 58px;
    text-align: left;
    color: #666666;
    font-size: 13px;
    width: 680px;
    _width: 670px;
    height: 28px;
    vertical-align: middle;
    cursor: default;
}



@media screen and (-webkit-min-device-pixel-ratio:0) {

.SelectorList_viewdetail {
    display: inline-block;
    margin-top:0px;
	float:right;
}



}



/*Sorting*/
#product_filter {
    width: 748px;
    margin: 5px -11px 0 0;
    *margin: 5px -11px 0 0;
    _margin: 15px -11px 0 0;
    z-index: 100;
    background: none;
    padding: 3px 4px 2px 4px;
    *height: 21px;
    _height: 19px;
    _padding: 3px 10px 0 0;
}

#product_filter .dbShop-ui-left {
    float: left;
}

#product_filter label {
    font-size: 11px;
    font-weight: bold;
    padding: 3px 8px 1px 0;
    *padding: 3px 0 1px 0;
    float: right;
}

#product_filter select {
    width: 130px;
    padding: 2px 2px 3px 2px;
    margin-right: 10px;
    *margin: 0 5px;
    float: right;
    font-size: 12px;
}

#product_filter .dbShop-ui-price {
/*position:relative;*/
    float: right;
    *margin-left: 3px;
    _position: relative;
}

#product_filter .dbShop-ui-currTag {
    display: none;
    position: absolute;
    top: 4px;
    left: 10px;
    color: #999999;
    font-size: 11px;
}

#product_filter input {
    width: 160px;
    margin: 0 5px 0 0;
    padding: 3px;
    font-size: 11px;
}

#product_filter .dbShop-ui-txt {
    color: #666666;
    font-weight: normal;
    float: right;
    margin-right: 5px;
    *margin: 0 3px;
}

#product_filter label.dbShop-ui-left {
    float: left;
    margin-top: -1px;
    _padding-left: 3px;
}

#product_filter .dbShop-ui-left {
    font-size: 11px;
    line-height: 140%;
    color: #666666;
    margin-top: 2px;
}

#product_filter .dbShop-ui-left a:link, #product_filter .dbShop-ui-left a:active, #product_filter .dbShop-ui-left a:visited, #product_filter .dbShop-ui-left a:hover {
    padding: 0 3px;
    font-size: 11px;
    line-height: 140%;
    color: #666666;
    text-decoration: none;
}

#product_filter .dbShop-ui-left a:hover, #product_filter .dbShop-ui-left span {
    padding: 0 3px;
    color: #cc0000;
    text-decoration: underline;
    font-weight: bold;
}

/*Form_Section*/
.form_container_a {
    margin-top: 0px;
}

.form_container_b {
    margin-top: 15px;
}

.form_title {
    dispaly: block;
    width: 120px;
    float: left;
    text-align: right;
    padding: 7px 0px 0px 0px;
    font-size: 10pt;
    font-weight: bold;
    line-height: 150%;
}

.form_info {
    dispaly: block;
    width: 700px;
    height: auto;
    float: left;
    text-align: left;
    margin-left: 10px;
    padding: 7px 0px 0px 0px;
    font-size: 10pt;
    font-weight: normal;
    line-height: 150%;
}

.form_warn {
    dispaly: block;
    width: 950px;
    height: auto;
    float: left;
    background: #f5f3f4;
    text-align: left;
    margin: 0px 10px 10px 10px;
    *margin: 0px 10px 10px 10px;
    _margin: 0px 10px 10px 10px;
    padding: 7px 10px;
    font-size: 10pt;
    font-weight: normal;
    line-height: 150%;
}

.form_unavailable {
    dispaly: block;
    width: auto;
    height: auto;
    ;color: #cc0000;
    text-align: center;
    margin-top: 30px;
    *margin-left: 10px;
    _*margin-left: 5px;
    padding: 7px 10px;
    font-size: 14pt;
    font-weight: normal;
    line-height: 150%;
}

.checkbox {
    dispaly: block;
    float: left;
    padding-right: 5px;
}

.dbShop-ui-FormArea_a .txtField {
    dispaly: block;
    float: left;
    width: 150px;
	height: 15px\9;
    padding: 8px;
    border: 1px solid #ededed;
    border-top: 1px solid #d7d7d7;
    background: #FFFFFF;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 150%;
    font-family: Tahoma, Arial, PmingLiu, sans-serif;
    color: #000000;
}

.dbShop-ui-FormArea_b .txtField,.dbShop-ui-FormArea_b_Verify .txtField {
    dispaly: block;
    float: left;
    width: 327px;
    padding: 8px;
	padding: 8px\9;
	height: 18px\9;
    border: 1px solid #ededed;
    border-top: 1px solid #d7d7d7;
    background: #FFFFFF;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 150%;
    font-family: Tahoma, Arial, PmingLiu, sans-serif;
    color: #000000;
    position: relative;
}

.dbShop-ui-FormArea_b_Verify .txtField {
    width: 200px;
}

.dbShop-ui-FormArea_b .txtArea {
    dispaly: block;
    float: left;
    width: 327px!important;
	height: 100px!important;
    padding: 8px;
	line-height:100%\9;
    border: 1px solid #ededed;
    border-top: 1px solid #d7d7d7;
    background: #FFFFFF;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 150%;
    font-family: Tahoma, Arial, PmingLiu, sans-serif;
    color: #000000;
}

.dbShop-ui-FormArea_b label {
    dispaly: block;
    float: left;
    width: 327px;
    padding: 8px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 150%;
    font-family: Tahoma, Arial, PmingLiu, sans-serif;
}

.dbShop-ui-FormArea_b_Verify {
    display: block;
    position: relative;
    margin: 20px 0px 0px 120px;
}

.tabs-info {
    margin: 10px;
}

.tabs-info_contact_a {
    dispaly: block;
    position: relative;
    float: left;
    margin-top: 10px;
    width: 500px;
}

.tabs-info_contact_b {
    dispaly: block;
    float: right;
    margin-top: 10px;
    width: 460px;
    height: 320px;
    text-align: left;
    padding: 0px 0px 0px 20px;
    font-size: 10pt;
    font-weight: bold;
    line-height: 150%;
    border-left: 1px dotted #DDDDDD;
}

a.itemBtn-fb:link, a.itemBtn-fb:active, a.itemBtn-fb:visited, a.itemBtn-fb:hover {
    background: url("../../images/front_end/fb.png") no-repeat;
    width: 169px;
    height: 21px;
    padding: 5px 10px 5px 25px;
    float: left;
    margin-top: 15px;
}

a.itemBtn-fb:hover {
    background: url("../../images/front_end/fb.png") no-repeat;
    width: 169px;
    height: 21px;
    padding: 5px 10px 5px 25px;
    float: left;
    margin-top: 15px;
}

/*popup*/
.form_container_a_pop {
    margin-top: 5px;
}

.form_container_b_pop {
    margin-top: 0px;
}

.form_title_pop {
    dispaly: block;
    width: 60px;
    float: left;
    text-align: right;
    padding: 7px 0px 0px 0px;
    font-size: 12px;
    font-weight: bold;
    line-height: 150%;
}

.form_title2_pop {
    font-size: 12px;
    font-weight: bold;
    line-height: 150%;
}

.form_info_pop {
    dispaly: block;
    float: left;
    width: 400px;
    height: auto;
    float: left;
    text-align: left;
    margin-left: 10px;
    padding: 7px 0px 0px 0px;
    font-size: 12px;
    font-weight: normal;
    line-height: 150%;
}

/* Appointment Listing Content*/
.scheduled-container {
    margin-bottom: 20px;
}

.scheduled-header {
    font-size: 12px;
    font-weight: bold;
    color: #666666;
    cursor: default;
    display: inline-block;
    width: 100%;
    _width: 990px;
    *width: 990px;
    background-color: #eee;
    margin-top: 10px;
    padding: 5px 0;
    _margin-left: 0;
}

.scheduled-header span {
    display: block;
    float: left;
    padding: 5px;
}

.scheduled-container .listcontent {
    *padding-bottom: 3px;
}

.ch01 {
    width: 240px;
    _width: 240px;
    *width: 240px;
    text-align: left;
    margin-left: 10px;
}

.ch02 {
    width: 190px;
    _width: 180px;
    text-align: left;
}

.ch03 {
    width: 190px;
    width: 190px\0;
    *width: 190px;
    _width: 180px;
    text-align: left;
}

.ch04 {
    width: 100px;
    _width: 90px;
    text-align: left;
}

.ch05 {
    width: 70px;
    text-align: left;
}

.arrow_btn {
    padding: 5px;
    cursor: pointer;
    position: absolute;
}

.listcontent {
    border-bottom: 1px dotted #ccc;
    display: block;
    width: 100%;
    *width: 990px;
    _width: 990px;
    float: left;
    margin: 0;
    _margin: 0;
    padding: 10px 0;
}

.row2 {
    background-color: #f5f3f4;
}

.listcontent span {
    float: left;
    display: table;
    color: #666;
    font-size: 13px;
    padding: 5px;
    margin-left: 10px;
}

.listcontent .cc01 {
    width: 230px;
    _width: 230px;
    overflow: hidden;
    display: block;
    text-align: left;
    font-weight: bold;
    height: auto;
    white-space: normal;
}

.listcontent .cc02 {
    width: 180px;
    _width: 170px;
    overflow: hidden;
    display: block;
    text-align: left;
    font-weight: normal;
    height: auto;
    white-space: normal;
}

.listcontent .cc03 {
    width: 180px;
    _width: 170px;
    overflow: hidden;
    display: block;
    text-align: left;
    height: auto;
    white-space: normal;
}

.listcontent .cc04 {
    width: 90px;
    _width: 80px;
    overflow: hidden;
    display: block;
    text-align: left;
    height: auto;
    white-space: normal;
    word-break: break-all;
}

.listcontent .cc05 {
    width: 90px;
    _width: 90px;
    overflow: hidden;
    display: block;
    text-align: left;
    height: auto;
    white-space: normal;
    word-break: break-all;
}

.listcontent .btn_cancel {
    margin-top: -3px\0;
    *margin-top: -6px;
    _width: 70px;
}

.row1 {
    background: #ffffff;
}

.row2 {
    background: #f5f3f4;
}

.listcontent:hover {
    background: #dfdfdf;
    cursor: pointer;
}

.listcontent:hover .cc01,.listcontent:hover .cc02,.listcontent:hover .cc03 ,.listcontent:hover .cc04 ,.listcontent:hover .cc05 {
    color: #000000;
}

.title {
    margin: 0px;
}

.btn_confirm {
    float: left;
    *padding: 5px 0px 5px 0px;
}

.btn_cancel {
    float: right;
    margin-left: 0px;
    *padding: 5px 40px 5px 0px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .scheduled-container {
        margin-bottom: 20px;
    }

    .ch01 {
        width: 240px;
        text-align: left;
    }

    .ch02 {
        width: 190px;
        _width: 340px;
        text-align: left;
    }

    .ch03 {
        width: 190px;
        text-align: left;
    }

    .ch04 {
        width: 80px;
        text-align: left;
    }

    #product_filter input {
        padding: 2px;
    }

    #product_filter select {
        padding: 1px 2px 2px 2px;
        margin-top: 0;
    }

    .listcontent .cc01 {
        width: 230px;
    }

    .listcontent .cc02 {
        width: 180px;
    }

    .listcontent .cc03 {
        width: 180px;
    }

    .listcontent .cc04 {
        width: 70px;
    }

    .listcontent .cc05 {
        width: 100px;
    };
}

/*Message Box*/
.dbShop-ui-msgBox {
    margin: 0 auto;
    margin-top: 15px;
    width: 950px;
    background: #f5f3f4;
    padding: 10px 10px 5px 10px;
}

.dbShop-ui-msgArea {
    float: left;
    width: 600px;
}

.form-title_c {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}

.dbShop-ui-email_c {
    font-size: 12px;
    color: #666666;
    margin: 10px 0px 10px 5px;
}

.dbShop-ui-email_d {
    font-size: 12px;
    color: #999999;
    margin: 0px 5px 0px 5px;
}

.clip_img {
    margin-top: 5px;
    width: 5px;
}

.dbShop-ui-uploadArea_c {
    display: block;
}

.dbShop-ui-msgArea .txtArea {
    width: 588px!important;
    height: 115px;
    padding: 5px;
    border: 1px solid #ededed;
    border-top: 1px solid #d7d7d7;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 12px;
    line-height: 150%;
    font-family: Tahoma, Arial, PmingLiu, sans-serif;
}

.dbShop-ui-msgArea .dbShop-ui-checkArea {
    margin: 10px 0 0 2px;
    color: #666666;
    font-size: 12px;
}

.dbShop-ui-msgArea .dbShop-ui-checkArea .checkbox, .dbShop-ui-msgArea .dbShop-ui-checkArea .ckbIsPrivate {
    margin: 0 10px 0 0;
    vertical-align: -1px;
}

.dbShop-ui-mLogged .dbShop-ui-msgArea {
    width: 930px;
}

.dbShop-ui-mLogged .dbShop-ui-msgArea .txtArea {
    width: 935px;
}

.dbShop-ui-contactArea {
    float: left;
    width: 300px;
    padding: 0 0 0 15px;
    margin: 0 0 0 15px;
}

.dbShop-ui-mLogged .dbShop-ui-contactArea, .dbShop-ui-rlyLayerLogged  .dbShop-ui-contactArea {
    padding: 0;
    margin: 0;
    border-left: none;
}

.dbShop-ui-contactArea .txtField {
    width: 300px;
    padding: 8px;
    border: 1px solid #ededed;
    border-top: 1px solid #d7d7d7;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 12px;
    line-height: 150%;
    font-family: Tahoma, Arial, PmingLiu, sans-serif;
}

.dbShop-ui-contactArea .dbShop-ui-rel .txtField {
    width: 270px;
}

.txtField2 {
    padding: 8px;
    border: 1px solid #ededed;
    border-top: 1px solid #d7d7d7;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 11px;
    line-height: 100%;
    font-family: Tahoma, Arial, PmingLiu, sans-serif;
    width: 230px!important;
}

.dbShop-ui-mLogged .dbShop-ui-contactArea_c {
    display: none;
}

.dbShop-ui-contactArea_c {
    margin: 0 0 10px 0;
}

.dbShop-ui-contactArea .dbShop-ui-rel {
    margin-bottom: 0!important;
}

.dbShop-ui-contactArea .dbShop-ui-rel .dbShop-ui-vCode {
    position: absolute;
    top: 7px;
    right: 18px;
}

.dbShop-ui-mLogged .dbShop-ui-contactArea .dbShop-ui-rel {
    display: block!important;
    margin-top: 10px;
}

.dbShop-ui-refreshCode {
    display: block;
    width: 25px;
    height: 25px;
    background: url(../../images/btn_guestBook.gif) no-repeat -476px -64px;
    position: absolute;
    left: 240px;
    top: 5px;
    _left: 5px;
}

.dbShop-ui-vCode {
    position: absolute;
    left: 145px;
    top: 5px;
    _left: -80px;
}

.dbShop-ui-msgBox .dbShop-ui-btnArea, .dbShop-ui-rlyLayerUnLog .dbShop-ui-btnArea {
    clear: both;
    *padding: 0;
}

.dbShop-ui-mLogged .dbShop-ui-btnArea, .dbShop-ui-rlyLayerLogged .dbShop-ui-btnArea {
    clear: none!important;
    float: right;
    padding-top: 10px;
}

.dbShop-ui-mLogged .dbShop-ui-btnArea .dbShop-ui-left, .dbShop-ui-rlyLayerLogged .dbShop-ui-btnArea .dbShop-ui-left {
    float: right;
}

.dbShop-ui-rlyLayer {
    position: absolute;
    padding: 10px;
    background: #f5f3f4;
    box-shadow: 5px 5px 10px #444444;
    border-radius: none;
}

.dbShop-ui-rlyLayerUnLog, .dbShop-ui-rlyLayerLogged {
    width: 500px;
}

.dbShop-ui-rlyLayerUnLog .dbShop-ui-msgArea {
    width: 350px;
}

.dbShop-ui-rlyLayerUnLog .dbShop-ui-msgArea .txtArea {
    width: 488px!important;
    margin-bottom: 10px;
}

.dbShop-ui-rlyLayerLogged .dbShop-ui-msgArea {
    width: 585px;
}

.dbShop-ui-rlyLayerLogged .dbShop-ui-msgArea .txtArea {
    width: 585px;
}

.dbShop-ui-rlyLayerUnLog .dbShop-ui-contactArea {
    width: 500px;
    margin-left: -10px;
    margin-top: 10px;
    padding-left: 10px;
    _margin-left: -3px;
}

.dbShop-ui-rlyLayerLogged .dbShop-ui-contactArea {
    width: 205px;
    padding: 0 25px 0 0;
}

.dbShop-ui-rlyLayer .dbShop-ui-contactArea .txtField {
    width: 480px;
}

..txtField2 {
    width: 240px;
}

.dbShop-ui-rlyLayer .dbShop-ui-contactArea .dbShop-ui-rel .txtField {
    width: 175px;
}

.dbShop-ui-rlyLayerLogged .dbShop-ui-contactArea_c {
    display: none;
}

.dbShop-ui-rlyLayerLogged  .dbShop-ui-contactArea .dbShop-ui-rel {
    display: block!important;
    margin-top: 10px;
}

.dbShop-ui-rlyLayerUnLog .dbShop-ui-refreshCode {
    right: -3px;
}

.dbShop-ui-rlyLayerLogged .dbShop-ui-mTfix, .dbShop-ui-mLogged .dbShop-ui-mTfix {
    margin: 10px 0;
    padding: 6px 5px;
    float: left;
    border-left: 1px solid #e0e0e0;
}

.dbShop-ui-rlyLayerLogged .dbShop-ui-mTfix .checkbox, .dbShop-ui-mLogged .dbShop-ui-mTfix .checkbox {
    vertical-align: -2px!important;
}

.dbShop-ui-mLogged .dbShop-ui-mTfix {
    margin: 10px 0 10px 25px;
}

.dbShop-ui-appLayer {
    width: 500px;
    padding: 10px;
    background: #f5f3f4;
    box-shadow: 5px 5px 10px #444444;
}

.dbShop-ui-appLayer h1 {
    font-size: 18px;
    font-family: Arial, Tahoma, PMingLiu, sans-serif;
    color: #000000;
    margin: 0;
    padding: 10px 0;
}

.dbShop-ui-appLayer .dbShop-ui-wrapper20 {
    background: #ffffff;
    padding: 10px;
    zoom: 1;
}

.dbShop-ui-appLayer .dbShop-ui-wrapper20 p {
    padding: 0;
    margin: 0;
    color: #000000;
    font-size: 12px;
    font-family: Arial, Tahoma, PMingLiu, sans-serif;
    line-height: 180%;
}

.dbShop-ui-appLayer .dbShop-ui-wrapper20 ul {
    padding: 0 0 0 15px;
    font-size: 12px;
    color: #000000;
    font-size: 12px;
    font-family: Arial, Tahoma, PMingLiu, sans-serif;
    line-height: 180%;
}

.dbShop-ui-appLayer .dbShop-ui-btnArea {
    padding: 20px 0 0 0;
    height: 30px;
    text-align: center;
    *padding-bottom: 3px;
    white-space: nowrap;
}

a.dbShop-ui-sendBtn:link, a.dbShop-ui-sendBtn:visited, a.dbShop-ui-sendBtn:active,  a.dbShop-ui-sendBtn:hover {
    display: inline;
    height: 14px;
    line-height: 150%;
    *line-height: 200%;
    padding: 6px 10px;
    margin: 0 10px 10px 0;
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    font-family: Tahoma, Arial, PMingLiu, sans-serif;
    background-color: #CC0000;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 1px #666666;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
    white-space: nowrap;
}

a.dbShop-ui-sendBtn:hover {
    background-color: #df0000;
}

a.dbShop-ui-cancelBtn:link, a.dbShop-ui-cancelBtn:visited, a.dbShop-ui-cancelBtn:active,  a.dbShop-ui-cancelBtn:hover {
    display: inline;
    height: 14px;
    line-height: 150%;
    *line-height: 200%;
    padding: 6px 10px;
    margin: 0 10px 10px 0;
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    font-family: Tahoma, Arial, PMingLiu, sans-serif;
    background-color: #b6b6b6;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 1px #666666;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

a.dbShop-ui-cancelBtn:hover {
    background-color: #999999;
}

a.dbShop-ui-midLink:link, a.dbShop-ui-midLink:active, a.dbShop-ui-midLink:visited, a.dbShop-ui-midLink:hover {
    display: block;
    float: left;
    padding: 7px 0 7px 10px;
}

a.dbShop-ui-pstMsgBtn:link, a.dbShop-ui-pstMsgBtn:active, a.dbShop-ui-pstMsgBtn:visited, a.dbShop-ui-pstMsgBtn:hover {
    display: block;
    float: left;
    height: 14px;
    padding: 7px 7px 7px 30px;
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    font-family: Tahoma, Arial, PMingLiu, sans-serif;
    background: url(../../images/btn_guestBook.gif) no-repeat -5px -3px;
    background-color: #CC0000;
}

a.dbShop-ui-replyMsgBtn:link, a.dbShop-ui-replyMsgBtn:active, a.dbShop-ui-replyMsgBtn:visited, a.dbShop-ui-replyMsgBtn:hover {
    display: block;
    height: 14px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    font-family: Tahoma, Arial, PMingLiu, sans-serif;
    background-color: #FF0000;
    background: url(../../images/btn_guestBook.gif) no-repeat 0 -34px;
    background-color: #CC0000;
}

a.dbShop-ui-replyBtn_s:link, a.dbShop-ui-replyBtn_s:active, a.dbShop-ui-replyBtn_s:visited, a.dbShop-ui-replyBtn_s:hover {
    position: absolute;
    top: 0;
    right: 15px;
    display: block;
    width: 34px;
    height: 30px;
    background: url(../../images/btn_guestBook.gif) no-repeat 0 -68px;
    background-color: #CC0000;
}

a.dbShop-ui-spmBtn_s:link, a.dbShop-ui-spmBtn_s:active, a.dbShop-ui-spmBtn_s:visited, a.dbShop-ui-spmBtn_s:hover {
    position: absolute;
    bottom: 0;
    right: 15px;
    display: block;
    width: 34px;
    height: 30px;
    background: url(../../images/btn_guestBook.gif) no-repeat -436px -64px;
}

a.dbShop-ui-spmBtn_s:hover {
    background: url(../../images/btn_guestBook.gif) no-repeat -402px -64px;
}

.dbShop-ui-msgList {
    width: 970px;
    margin: 30px 0 0 0;
    border-top: 1px dotted #e3e3e3;
}

.dbShop-ui-msgThread .dbShop-ui-msg {
    padding: 10px 50px 5px 10px;
    color: #666666;
    fonr-size: 12px;
    line-height: 140%;
    position: relative;
}

.dbShop-ui-msgThread .dbShop-ui-mainMsg {
    background: #F5F3F4;
    border-bottom: 1px dotted #ededed;
    min-height: 60px;
    _height: 60px;
}

.dbShop-ui-msgThread .dbShop-ui-replyMsg {
    background: #ffffff;
    border-bottom: 1px dotted #ededed;
    margin-left: 80px;
    min-height: 20px;
    _height: 20px;
}

.dbShop-ui-msgThread .dbShop-ui-msg .dbShop-ui-poName {
    font-size: 15px;
    font-weight: bold;
}

.dbShop-ui-msgThread .dbShop-ui-msg .dbShop-ui-poDate {
    font-size: 11px;
    margin-left: 7px;
}

.dbShop-ui-msgThread .dbShop-ui-msg p {
    margin: 0;
    padding: 1px 0 5px;
}

.note {
    font-size: 11px;
    color: #666666;
    float: left;
    padding-top: 12px;
    margin-left: 218px;
    width: 280px;
    text-align: left;
}

.note_agreement {
    font-size: 11px;
    color: #666666;
    float: left;
    padding-top: 10px;
    margin-left: 140px;
    width: 280px;
    text-align: left;
}

.note_pop {
    font-size: 11px;
    color: #666666;
    float: left;
    padding-top: 20px;
    text-align: left;
}

.note a:link, .note a:hover, .note a:active, .note a:visited, .note_agreement a:link, .note_agreement a:hover, .note_agreement a:active, .note_agreement a:visited, .note_pop a:link, .note_pop a:hover, .note_pop a:active, .note_pop a:visited {
    color: #cc0000;
    text-decoration: none;
}

.note a:hover, .note_pop a:hover, .note_agreement a:hover {
    color: #cc0000;
    text-decoration: underline;
}

/*Job Details*/
.tabs-Btn {
    display: block;
    padding: 15px 0px 0px 0px;
    *padding: 0 0 5px 20px;
    _padding: 0 0 5px 20px;
}

.UI-Btn-Btm {
    display: table;
    _display: block;
    width: 100%;
    padding: 10px 0px 10px 0px;
    *padding: 0 0 5px 20px;
    _padding: 20px 0 5px 20px;
    position: relative;
}

.UI-Btn-Btm_narrow {
    display: table;
    width: 400px;
    padding: 10px 0px 10px 140px;
    *padding: 0 0 5px 140px;
    _padding: 20px 0 5px 140px;
    position: relative;
}

.UI-Btn-Top {
    display: table;
    width: 100%;
    padding: 0px 0px 0px 0px;
    *padding: 0 0 5px 20px;
    _padding: 0 0 5px 20px;
    position: relative;
}

.title-tabs {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    padding-right: 5px;
}


.service_notavailable{
	padding-left:5px;
	font-weight:bold;
}
.title-info {
    color: #cc0000;
    font-size: 13px;
    font-weight: bold;
    padding-right: 5px;
}

.title {
    color: #666666;
    font-size: 13px;
    font-weight: bold;
}

.title-content {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
}

.title-info {
    dispaly: block;
    color: #666666;
    font-size: 13px;
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
    float: left;
    padding-right: 10px;
}

.detail-content {
    color: #666666;
    font-size: 13px;
    font-weight: normal;
    display: block;
}

.detail-row1 {
    background: none repeat scroll 0 0 #f5f3f4;
    dispaly: block;
    padding: 10px;
}

.detail-row2 {
    background: none repeat scroll 0 0 #ffffff;
    dispaly: block;
    padding: 10px;
}

.bottom-info {
    padding: 10px 0px 10px 0px;
}

.detail-title {
    width: 600px;
    *width: 550px;
    overflow: hidden;
    display: block;
    max-height: 60px;
    white-space: normal;
}

a.dbShop-ui-backlink:link, a.dbShop-ui-backlink:active, a.dbShop-ui-backlink:visited, a.dbShop-ui-backlink:hover {
    float: right;
    padding: 5px 10px 5px 10px;
    padding: 6px 10px 4px 10px\9;
    padding: 5px 10px 5px 10px\0;
    *padding: 4px 10px 6px 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    background: #CC0000;
    border-radius: 3px;
    margin-top: -3px;
    -webkit-box-shadow: 0px 1px 1px #666666;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

a.dbShop-ui-backlink:hover {
    float: right;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    background: #ff0303;
    border-radius: 3px;
    margin-top: -3px;
    -webkit-box-shadow: 0px 1px 1px #666666;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

a.itemBtn-red:link, a.itemBtn-red:active, a.itemBtn-red:visited, a.itemBtn-red:hover {
    padding: 5px 10px 5px 10px;
    padding: 6px 10px 4px 10px\9;
    padding: 5px 10px 5px 10px\0;
    *padding: 4px 10px 6px 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    background: #CC0000;
    border-radius: 3px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 1px 1px #666666;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

a.itemBtn-red:hover {
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    background: #ff0303;
    border-radius: 3px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 1px 1px #666666;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

a.itemBtn-red2:link, a.itemBtn-red2:active, a.itemBtn-red2:visited, a.itemBtn-red2:hover {
    background: url("../../images/front_end/next_red_a_btn.png") no-repeat scroll 10px 8px #cc0000;
    float: right;
    padding: 5px 10px 5px 30px;
    padding: 5px 10px 5px 30px\9;
    padding: 5px 10px 5px 30px\0;
    *padding: 5px 10px 5px 30px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 1px 1px #666666;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

a.itemBtn-red2:hover {
    background: url("../../images/front_end/next_red_b_btn.png") no-repeat scroll 10px 8px #ff0033;
    float: right;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 1px 1px #666666;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

.itemBtn-red2_disable {
    display: none;
}

a.itemBtn-red2-left:link, a.itemBtn-red2-left:active, a.itemBtn-red2-left:visited, a.itemBtn-red2-left:hover {
    background: url("../../images/front_end/next_red_a_btn.png") no-repeat scroll 135px 6px #cc0000;
    background: url("../../images/front_end/next_red_a_btn.png") no-repeat scroll 135px 7px #cc0000\0;
    float: left;
    margin-left: 20px;
    padding: 5px 25px 5px 10px;
    padding: 6px 25px 4px 10px\9;
    padding: 5px 25px 5px 10px\0;
    *padding: 4px 25px 6px 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 1px 1px #666666;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

a.itemBtn-red2-left:hover {
    background: url("../../images/front_end/next_red_b_btn.png") no-repeat scroll 135px 6px #ff0033;
    background: url("../../images/front_end/next_red_b_btn.png") no-repeat scroll 135px 7px #ff0033\0;
    float: left;
    margin-left: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 1px 1px #666666;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

a.itemBtn-red3:link, a.itemBtn-red3:active, a.itemBtn-red3:visited, a.itemBtn-red3:hover {
    float: left;
    margin-left: 130px;
    padding: 5px 10px 5px 10px;
    padding: 6px 10px 4px 10px\9;
    padding: 5px 10px 5px 10px\0;
    *padding: 4px 10px 6px 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    background: #CC0000;
    border-radius: 3px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 1px 1px #666666;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

a.itemBtn-red3:hover {
    float: left;
    margin-left: 130px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    background: #ff0303;
    border-radius: 3px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 1px 1px #666666;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

a.itemBtn-gray2:link, a.itemBtn-gray2:active, a.itemBtn-gray2:visited, a.itemBtn-gray2:hover {
    background: url("../../images/front_end/back_gray_a_btn.png") no-repeat scroll 5px 8px #b6b6b6;
    padding: 6px 10px 5px 25px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
    float: left;
    -webkit-box-shadow: 0px 1px 1px #666666;
    margin-left: 5px;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

a.itemBtn-gray2:hover {
    background: url("../../images/front_end/back_gray_b_btn.png") no-repeat scroll 5px 8px #666666;
    padding: 6px 10px 5px 25px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
    float: left;
    -webkit-box-shadow: 0px 1px 1px #666666;
    margin-left: 5px;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

a.itemBtn-gray2_speacial:link, a.itemBtn-gray2_speacial:active, a.itemBtn-gray2_speacial:visited, a.itemBtn-gray2_speacial:hover {
    background: url("../../images/front_end/back_gray_a_btn.png") no-repeat scroll 5px 6px #b6b6b6;
    padding: 5px 10px 5px 25px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
    float: left;
    -webkit-box-shadow: 0px 1px 1px #666666;
    margin-left: 130px;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

a.itemBtn-gray2_speacial:hover {
    background: url("../../images/front_end/back_gray_b_btn.png") no-repeat scroll 5px 6px #666666;
    padding: 5px 10px 5px 25px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 130px;
    -webkit-box-shadow: 0px 1px 1px #666666;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

a.itemBtn-gray3:link, a.itemBtn-gray3:active, a.itemBtn-gray3:visited, a.itemBtn-gray3:hover {
    padding: 5px 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    background: #b6b6b6;
    border-radius: 3px;
    margin-top: 10px;
    float: left;
    -webkit-box-shadow: 0px 1px 1px #666666;
    margin-left: 20px;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

a.itemBtn-gray3:hover {
    padding: 5px 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    background: #666666;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 20px;
    -webkit-box-shadow: 0px 1px 1px #666666;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

a.itemBtn-gray:link, a.itemBtn-gray:active, a.itemBtn-gray:visited, a.itemBtn-gray:hover {
    padding: 4px 10px 6px 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    background: #b6b6b6;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 5px;
    -webkit-box-shadow: 0px 1px 1px #666666;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

a.itemBtn-gray:hover {
    padding: 4px 10px 6px 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    background: #666666;
    border-radius: 3px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 1px 1px #666666;
    -moz-box-shadow: 0px 1px 1px #666666;
    box-shadow: 0px 1px 1px #666666;
}

.row-item tr.item-gbg td {
    background: #f5f3f4;
}
/*.row-item tr.item-read td.item-title {font-weight:normal;}
.row-item tr.item-unread td.item-title {font-weight:bold; text-decoration:underline;}*/
.row-item tr:hover td {
    background: #dfdfdf;
    cursor: pointer;
}

.row-item tr:hover td.item-title a:link, .row-item tr:hover td.item-title a:active, .row-item tr:hover td.item-title a:visited, .row-item tr:hover td.item-title a:hover {
    text-decoration: none;
    color: #111111;
}

.row-item tr:hover td.item-date {
    color: #111111;
}

.galleryBlk {
    width: 510px;
    height: 450px;
    overflow: hidden;
    margin: 40px 119px;
    _margin: 40px 100px;
}

.duration {
    margin: 0;
    font-size: 13px;
    color: #cc0000;
    font-weight: bold;
    line-height: 150%;
    margin-top: 10px;
	width:300px;
}

.cost {
    margin: 0;
    font-size: 13px;
    color: #cc0000;
    font-weight: bold;
    line-height: 150%;
	width:300px;
}

.item-desc {
    width: 580px;
    overflow: hidden;
    white-space: normal;
    line-height: normal;
}

.item-list {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    min-height: 400px;
    _height: 400px;
    position: relative;
}

.item-list a.itemBtn-red:link, .item-list a.itemBtn-red:active, .item-list a.itemBtn-red:visited, .item-list a.itemBtn-red:hover {
    position: absolute;
    display: block;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    text-decoration: none;
    background: #CC0000;
    top: 0;
    right: 15px;
    _right: 20px;
}

.item-list a.itemBtn-red:hover {
    background: #FF0303;
}

.row-item {
    margin: -4px 10px 10px 0;
    font-family: Tahoma, Arial Verdana, Geneva, sans-serif;
    border-top: 1px dotted #d8d8d8;
}

.row-item td {
}

.row-item td.item-date {
    width: 85px;
    padding: 15px;
    text-align: left;
    vertical-align: top;
    color: #444444;
    font-size: 13px;
    line-height: 150%;
    border-bottom: 1px  dotted #d8d8d8;
    white-space: nowrap;
}

.row-item td.item-remarks {
    width: 23px;
    padding: 8px 0;
    vertical-align: top;
    border-bottom: 1px  dotted #d8d8d8;
}

.row-item td.item-title {
    width: 620px;
    padding: 15px 15px 15px 20px;
    color: #444444;
    font-size: 13px;
    line-height: 150%;
    border-bottom: 1px  dotted #d8d8d8;
}

.row-item td.item-title a:link, .row-item td.item-title a:active, .row-item td.item-title a:visited, .row-item td.item-title a:hover {
    color: #666666;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: 580px;
}

.row-item td.item-title a:hover {
    color: #444444;
    text-decoration: none;
}

.row-item tr.item-gbg td {
    background: #f5f3f4;
}
/*.row-item tr.item-read td.item-title {font-weight:normal;}
.row-item tr.item-unread td.item-title {font-weight:bold; text-decoration:underline;}*/
.row-item tr:hover td {
    background: #dfdfdf;
    cursor: pointer;
}

.row-item tr:hover td.item-title a:link, .row-item tr:hover td.item-title a:active, .row-item tr:hover td.item-title a:visited, .row-item tr:hover td.item-title a:hover {
    text-decoration: none;
    color: #111111;
}

.row-item tr:hover td.item-date {
    color: #111111;
}

.galleryBlk {
    width: 510px;
    height: 450px;
    overflow: hidden;
    margin: 40px 119px;
    _margin: 40px 100px;
}

.item-desc {
    width: 580px;
    overflow: hidden;
    white-space: normal;
    line-height: normal;
}

.itemContent-des {
    color: #000000;
    font-size: 13px;
    line-height: normal;
}

/* PAGINATION */
#paging {
    clear: both;
    display: none;
    padding: 2px 0;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    padding: 20px 0;
    margin: 0;
    margin-top: 10px\9;
    color: #666666;
}

#paging a:link, #paging a:visited, #paging a:active, #paging a:hover {
    color: #666666;
    padding: 0 10px;
    margin: 2px;
    line-height: 130%;
    background: none;
    text-decoration: none;
    border-right: 1px solid #666666;
}

#paging a:hover {
    text-decoration: underline;
    color: #CC0000;
    background: none;
}

#paging a.previous:link, #paging a.previous:visited, #paging a.previous:active, #paging a.previous:hover {
    color: #666666;
    padding: 0 10px;
    line-height: 100%;
    background: none;
    text-decoration: none;
    border: none;
}

#paging a.previous:hover {
    text-decoration: underline;
    color: #CC0000;
    background: none;
}

#paging a.next:link, #paging a.next:visited, #paging a.next:active, #paging a.next:hover {
    color: #666666;
    padding: 0 10px;
    line-height: 100%;
    background: none;
    text-decoration: none;
    border: none;
}

#paging a.next:hover {
    text-decoration: underline;
    color: #CC0000;
    background: none;
}

#paging a.last:link, #paging a.last:visited, #paging a.last:active, #paging a.last:hover {
    color: #666666;
    padding: 0 10px;
    line-height: 100%;
    background: none;
    text-decoration: none;
    border: none;
}

#paging a.last:hover {
    text-decoration: underline;
    color: #CC0000;
    background: none;
}

#paging strong {
    padding: 0 15px 0 10px;
    margin: 2px;
    cursor: default;
    text-decoration: underline;
    color: #CC0000;
    border-right: 1px solid #666666;
}

#paging a.last:link strong, #paging a.last:visited strong, #paging a.last:active strong, #paging a.last:hover strong, #paging strong.last {
    padding: 0;
    margin: 2px;
    cursor: default;
    text-decoration: underline;
    color: #CC0000;
    border-right: none;
}

#paging strong.last {
    padding: 0 10px;
}

/*CALENDAR*/
#calendar_container {
    position: relative;
    margin: 0;
    width: 280px;
    padding: 0;
}

/* SCROLLBAR MENU */
#mcs_container {
    position: relative;
    margin: 0;
    width: 100%;
    padding: 0;
}

#mcs_container .customScrollBox {
    position: relative;
    width: 100%;
}

#mcs_container .customScrollBox .container {
    position: relative;
    width: 180px;
    top: 0;
    float: left;
}

#mcs_container .customScrollBox .content {
    clear: both;
}

#mcs_container .dragger_container {
    position: absolute;
    top: 0;
    right: 0;
    width: 13px;
    height: 304px;
    float: right;
    margin: 13px 0 0;
    background: url('../../images/scrollbar-bg.jpg') center center repeat-y #fff;
}

#mcs_container .dragger {
    position: absolute;
    width: 5px;
    height: 60pxtext-align:center;
    line-height: 60px;
    overflow: hidden;
    cursor: pointer;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    margin-left: 4px;
    background: #aaa;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#mcs_container .dragger:hover {
    background: #999;
}

#mcs_container .dragger_pressed {
    position: absolute;
    width: 5px;
    height: 60px;
    margin-left: 4px;
    background: #999;
    text-align: center;
    overflow: hidden;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: s-resize;
}

#mcs_container .scrollUpBtn,#mcs_container .scrollDownBtn {
    position: absolute;
    display: inline-block;
    width: 13px;
    height: 13px;
    text-decoration: none;
    right: 0;
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.80;
    opacity: 0.80;
}

#mcs_container .scrollUpBtn {
    top: 0;
    background: url('../../images/scrollup-btn.png') center center no-repeat;
}

#mcs_container .scrollDownBtn {
    bottom: 0;
    background: url('../../images/scrolldown-btn.png') center center no-repeat;
}

#mcs_container .scrollUpBtn:hover,#mcs_container .scrollDownBtn:hover {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

/*Error message*/
.dbShop-ui-eMsg {
    position: absolute;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 120%;
    z-index: 99;
    *zoom: 1;
    *width: 50px;
    _width: 50px;
}

.dbShop-ui-eMsgBRt {
}

.dbShop-ui-eMsgBLt {
    text-align: left;
}

.dbShop-ui-eMsg .dbShop-ui-eMsgCnt {
    background: #f54f52;
    margin-top: -5px;
    padding: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    text-align: left;
    z-index: 99;
    clear: both;
    -webkit-box-shadow: 0 1px 3px #111111;
    -moz-box-shadow: 0 1px 3px #111111;
    box-shadow: 0 1px 3px #111111;
    *border-right: 1px solid #b04244;
    *border-bottom: 1px solid #b04244;
    font-weight: normal!important;
    *white-space: nowrap;
    *width: 150px;
}

.dbShop-ui-eMsg .dbShop-ui-eMsgPtr {
    display: block;
    width: 7px;
    height: 7px;
    _font-size: 5px;
    _line-height: 2px;
    _height: 0px;
}

.dbShop-ui-eMsgTLt .dbShop-ui-eMsgPtr {
    margin-right: 5px;
    float: right;
    background: url(../../images/ar_tooltips.gif) no-repeat -15px 0;
}

.dbShop-ui-eMsgTRt .dbShop-ui-eMsgPtr {
    margin-left: 5px;
    float: left;
    background: url(../../images/ar_tooltips.gif) no-repeat -20px 1px;
}

.dbShop-ui-eMsgBLt .dbShop-ui-eMsgPtr {
    margin-left: 5px;
    float: left;
    background: url(../../images/ar_tooltips.gif) no-repeat -10px 0;
}

.dbShop-ui-eMsgBRt .dbShop-ui-eMsgPtr {
    margin-right: 5px;
    float: right;
    background: url(../../images/ar_tooltips.gifg) no-repeat -5px 0;
}

.dbShop-ui-eMsgTLt .dbShop-ui-eMsgCnt, .dbShop-ui-eMsgTRt .dbShop-ui-eMsgCnt {
    *line-height: 100%;
    *text-align: center;
    *margin: 0;
    *padding: 2px 2px 5px 2px;
}

.dbShop-ui-eMsgBLt .dbShop-ui-eMsgCnt, .dbShop-ui-eMsgBRt .dbShop-ui-eMsgCnt {
    *line-height: 100%;
    *text-align: center;
    *margin: 0;
    *padding: 3px 2px 6px 2px;
}






/*Layer*/
.dbShop-ui-nlayer, .dbShop-ui-nlayer_link  {
    position: relative;
    width: 400px;
    font-family: Tahoma,Arial,PMingLiu,Verdana,sans-serif;
    background: #d8d8d8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 3px 20px #333333;
    font-size: 12px;
    height: auto;
    overflow: visible;
    padding: 8px;
    text-align: left;
}

.dbShop-ui-nlayer_link{
	width:500px;
}

.dbShop-ui-nlayer h2, .dbShop-ui-nlayer_link h2 {
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    margin: 10px 10px 10px 5px;
    text-align: left;
}

.dbShop-ui-nlayer .dbShop-ui-wrapper20, .dbShop-ui-nlayer_link .dbShop-ui-wrapper20 {
    background: #F0F0F0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 15px 15px 15px 13px;
}

.dbShop-ui-nlayer p, .dbShop-ui-nlayer_link p {
    margin: 0;
    padding: 0;
}




.dbShop-ui-btnArea {
    padding: 20px 0 15px;
    text-align: center;
}

.msBtn {
    background: url(../../images/back_end/btn_editBtn.png);
    _background: url(../../images/back_end/btn_editBtn.gif);
    border: none;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    zoom: 1;
}

a.dbShop-ui-red:link, a.dbShop-ui-red:visited, a.dbShop-ui-red:active, a.dbShop-ui-red:hover {
    background-position: 0 -220px;
    margin-right: 8px;
    text-decoration: none;
    border-top: 1px solid #6eb0f4;
    border-left: 1px solid #378bd4;
    border-right: 1px solid #378bd4;
    border-bottom: 1px solid #277dc1;
    color: #FFFFFF;
    text-shadow: #175fb1 -1px -1px 0;
    font-size: 13px;
    line-height: 140%;
    padding: 5px 10px;
    *padding: 2px 10px;
    font-family: Tahoma, Arial, PMingLiu, Verdana, sans-serif;
    zoom: 1;
    -webkit-box-shadow: 0 1px 3px #111;
    -moz-box-shadow: 0 1px 3px #111;
    box-shadow: 0 1px 3px #111;
    white-space: nowrap;
    cursor: pointer;
}

a.dbShop-ui-red:hover {
    background-position: 0 -252px;
}



a.dbShop-ui-popDelete:link, a.dbShop-ui-popDelete:visited, a.dbShop-ui-popDelete:active, a.dbShop-ui-popDelete:hover {
    background-image:none;
	background-color:#717171;
    margin-right: 8px;
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: #333333 -1px -1px 0;
    font-size: 13px;
    line-height: 140%;
    padding: 5px 105px;
    *padding: 5px 105px;
    font-family: Tahoma, Arial, PMingLiu, Verdana, sans-serif;
    zoom: 1;
    white-space: nowrap;
    cursor: pointer;
}

a.dbShop-ui-popDelete:hover {
    background-color: #cc0000;
	text-shadow: #930101 -1px -1px 0;
}





a.dbShop-ui-grey:link, a.dbShop-ui-grey:visited, a.dbShop-ui-grey:active, a.dbShop-ui-grey:hover {
    background-position: 0 -2786px;
    margin-right: 5px;
    text-decoration: none;
    border-top: 1px solid #b7b7b7;
    border-left: 1px solid #999797;
    border-right: 1px solid #999797;
    border-bottom: 1px solid #8b8888;
    color: #FFFFFF;
    text-shadow: #7c7b7b -1px -1px 0;
    font-size: 13px;
    line-height: 140%;
    padding: 5px 10px;
    *padding: 2px 10px;
    font-family: Tahoma, Arial, PMingLiu, Verdana, sans-serif;
    -webkit-box-shadow: 0 1px 3px #111;
    -moz-box-shadow: 0 1px 3px #111;
    box-shadow: 0 1px 3px #111;
}

a.dbShop-ui-grey:hover {
    background-position: 0 -2818px;
}

.dbShop-ui-nlayer_settings {
    position: relative;
    width: 600px;
    font-family: Tahoma,Arial,PMingLiu,Verdana,sans-serif;
    background: #d8d8d8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 3px 20px #333333;
    font-size: 12px;
    height: auto;
    overflow: visible;
    padding: 8px;
    text-align: left;
}

.dbShop-ui-nlayer_settings h2 {
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    margin: 10px 10px 10px 5px;
    text-align: left;
}

.dbShop-ui-nlayer_settings .dbShop-ui-wrapper20 {
    background: #F0F0F0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 15px 15px 15px 13px;
}

.dbShop-ui-nlayer_settings p {
    margin: 0;
    padding: 0;
}

.dbShop-ui-container_text_settings {
    display:block
	margin: 10px 0px;
    line-height: 140%;
    word-warp: break-word;
    padding: 0px;
    width: 575px;
    max-height: 300px;
	*height: 300px;
	_height: 300px;
    word-break: break-all\0;
    word-break: keep-all;
    overflow-y: auto;
    overflow-x: hidden;
}


/*addon box*/
.addonbox01{
	display:block;
	position:relative;
	
}

.addonbox02{
	display:inline-block;
	position:absolute;
	right:0px;
	top:5px;
}

/* add by developer */
#windownbg {
    background: none repeat scroll 0 0 #000000;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

input,textarea {
    color: #000000;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    body {
        -webkit-text-size-adjust: none;
    };
}