/* GENERAL */
body{font-family:Arial,Tahoma,PMingLiu,sans-serif; margin:0;padding:0;color:#000;background-color:#fff; font-size:12px;}
h1,h2,h3,h4,h5,h6{margin:0;font-size:14pt;font-weight:bold;color:#000}
#wrapper{width:990px;margin:0 auto;position:relative}
#footer{display:none}
a:focus{outline:none}
a:link{text-decoration:none}
a:hover{text-decoration:none}
a:active{text-decoration:none}
a:visited{text-decoration:none}
span.error{display:block;clear:both;font-size:8pt;color:red;margin-left:165px;margin-top:5px;font-weight:bold}
.fl a{float:left}
.pageBlank{clear:both}
.dbShop-ui-clearboth {clear:both;}
.dbShop-ui-rel {position:relative;}
/*input:focus{outline:none;border:none}*/

/* LOGIN AREA */
#login-wrapper{width:397px;margin:70px auto 0;font-family:'Magra','lucida sans',arial,verdana,tahoma;position:relative\9;margin:70px 29%\9}
.login-title{display:block;font-size:30pt;text-align:center;color:#766048;margin-bottom:10px}
.login-title span.ttl-head{padding-left:65px;background:url('../../images/back_end/icon-admin.jpg') left center no-repeat #fff}
#container{display:block;width:397px;height:297px;background:url('../../images/back_end/login-area-bg.jpg') center center no-repeat #fff}
.login-intro{color:#53422e;display:inline-block;;font-weight:bold;font-size:10pt;margin-top:38px;position:absolute;padding-left:70px;text-shadow:1px 1px #e1caaa, 1px 1px #e1caaa}
div.login-form{display:inline-block;margin-top:20px;padding-top:48px;padding-left:42px;padding-top:67px\9}
div.login-form form p input{font-family:'Magra','lucida sans',arial,verdana,tahoma}
.login-area{margin:0;display:inline-block}
div.login-form form{display:inline}
.login-area input, #login-area input{border:none;padding:12px 10px 16px;color:#90785b;text-align:center;font-size:12pt;background:url('../../images/back_end/login-form-bg.jpg') 0 0 no-repeat transparent;width:320px\9;height:50px\9}
#login-area{margin:5px 0 0;display:inline-block}
#password-clear{display:none}
.login-btn{display:inline-block;margin:48px 0 0 200px;margin-left:100px\9;margin-top:40px\9;}
@media screen and (-webkit-min-device-pixel-ratio:0){.login-btn{margin-top:42px}.login-area input, #login-area input{padding:12px 2px 16px}div.login-form{padding-left:40px}div.error{padding-top:5px}}
.submit-login{display:block;border:none;padding:22px 10px;width:114px;font-size:0px;text-indent:-100000px;background:url('../../images/back_end/login-button.png') 0 0 no-repeat transparent;cursor:pointer}
.submit-login:hover{background:url('../../images/back_end/login-button.png') 0 -48px no-repeat transparent}
.submit-login:focus{background:url('../../images/back_end/login-button.png') 0 -96px no-repeat transparent}
.login-form form div.error{display:block;width:190px;position:absolute;margin-top:-37px;margin-top:-35px\9;color:#3a2c23;font-size:11pt;text-shadow:1px 1px #c3a37d, 1px 1px #c3a37d}
.login-footer{font-size:8pt;color:#90785b;text-align:center}
.login-footer a:link,.login-footer a:visited{color:#90785b;text-decoration:none;font-weight:bold}
.login-footer a:hover{color:#443625;text-decoration:underline}

/* CONTENT */
#main-content{display:block;border:1px solid #aaa;padding:10px; _padding:15px; margin-bottom:10px;  margin-bottom:-5px\0; width:968px; _width:990px; font-family:Arial, Tahoma, PMinLiu, sans-serif;}
/* .pageTitle h2{text-transform:uppercase;padding-bottom:10px;border-bottom:1px solid #ccc} */
.pageTitle h2{text-transform:uppercase; color:#000; margin:0; padding-bottom:10px;border-bottom:0px solid #ccc}
.pageTitle h2 span {color:#666666; font-size:12px; margin-left:10px; text-transform:none;}
.Action{display:block;margin:5px 0;padding:0;border:0px solid #ccc;border-top:none;}
p.dbShop-ui-content {color:#000; font-size:12px; font-family:Arial, Tahoma, PMingLiu, sans-serif; margin:0 0 10px 0; padding:0;}
.dbShop-ui-feedLinkSel {text-align:right; float:right; margin-top:-2px; margin-bottom:-3px;}
.dbShop-ui-feedLinkSel label {color:#000; font-size:11px; font-weight:bold; }
.dbShop-ui-feedLinkSel .selectbox {width:100px; font-size:11px;}

/* HEADER */
#header{display:inline-block;width:990px;height:30px;border:none; background:url('../../images/back_end/bg_boTool.jpg') left top repeat-x #474747; height:33px\9;}
#header, #head-navigation{margin:0;padding:0;}
#head-navigation ul{list-style-type:none;padding:0;margin:0}
li.catalogue-menu{display:block;float:left;margin:0;padding:0}
li.catalogue-logout{display:block;float:left;margin:0;padding:0}
#head-navigation ul li:first-child{border-left:none}
#head-navigation ul li a{display:block; font-weight:bold;font-size:8pt;padding:12px 10px 9px 10px;text-decoration:none;padding:9px 20px\9;}
/*@media screen and (-webkit-min-device-pixel-ratio:0){#head-navigation ul li a{padding:9px 20px}}*/
#head-navigation li.catalogue-menu a:hover{color:#fff;background:url('../../images/back_end/bg_boToolOn.jpg') left top repeat-x #535353;text-decoration:none}
li.catalogue-menu a{text-shadow:-1px -1px #000, -1px -1px #000;color:#cccccc}
li.catalogue-logout a{background:url('../../images/back_end/main-menubar-logout.jpg') left center repeat-x transparent;text-shadow:-1px -1px #680301, -1px -1px #680301;color:#fff}
li.catalogue-logout a:hover{background:url('../../images/back_end/main-menubar-logout-mo.jpg') center center no-repeat #000;text-decoration:none}

#head-navigation ul li.catalogue-menu a.products {background:url('../../images/back_end/btn_appsBO.png') left 0 no-repeat;_background:url('../../images/back_end/btn_appsBO.gif') left 0 no-repeat; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.products:hover, #head-navigation ul li.catalogue-menu a.productsOn {background:url('../../images/back_end/btn_appsBO.png') left -30px no-repeat;_background:url('../../images/back_end/btn_appsBO.gif') left -30px no-repeat; color:#fff; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.imcOrder {background:url('../../images/back_end/btn_appsBO.png') left -60px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -60px no-repeat; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.imcOrder:hover, #head-navigation ul li.catalogue-menu a.imcOrderOn {background:url('../../images/back_end/btn_appsBO.png') left -90px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -90px no-repeat; color:#fff; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.cOrder {background:url('../../images/back_end/btn_appsBO.png') left -120px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -120px no-repeat; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.cOrder:hover, #head-navigation ul li.catalogue-menu a.cOrderOn {background:url('../../images/back_end/btn_appsBO.png') left -150px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -150px no-repeat; color:#fff; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.feeds {background:url('../../images/back_end/btn_appsBO.png') left -420px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -420px no-repeat; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.feeds:hover, #head-navigation ul li.catalogue-menu a.feedsOn {background:url('../../images/back_end/btn_appsBO.png') left -450px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -450px no-repeat; color:#fff; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.layout {background:url('../../images/back_end/btn_appsBO.png') left -180px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -180px no-repeat; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.layout:hover, #head-navigation ul li.catalogue-menu a.layoutOn {background:url('../../images/back_end/btn_appsBO.png') left -210px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -210px no-repeat; color:#fff; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.settings {background:url('../../images/back_end/btn_appsBO.png') left -240px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -240px no-repeat; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.settings:hover, #head-navigation ul li.catalogue-menu a.settingsOn {background:url('../../images/back_end/btn_appsBO.png') left -270px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -270px no-repeat; color:#fff; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.shipping {background:url('../../images/back_end/btn_appsBO.png') left -600px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -600px no-repeat; padding:8px 5px 8px 33px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.shipping:hover, #head-navigation ul li.catalogue-menu a.shippingOn {background:url('../../images/back_end/btn_appsBO.png') left -630px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -630px no-repeat; color:#fff; padding:8px 5px 8px 33px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.postAd {background:url('../../images/back_end/btn_appsBO.png') left -660px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -660px no-repeat; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.postAd:hover, #head-navigation ul li.catalogue-menu a.postAdOn {background:url('../../images/back_end/btn_appsBO.png') left -690px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -690px no-repeat; color:#fff; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.manageGBook {background:url('../../images/back_end/btn_appsBO.png') left -300px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -300px no-repeat; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.manageGBook:hover, #head-navigation ul li.catalogue-menu a.manageGBookOn {background:url('../../images/back_end/btn_appsBO.png') left -330px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -330px no-repeat; color:#fff;  padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.news {background:url('../../images/back_end/btn_appsBO.png') left -480px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -480px no-repeat; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.news:hover, #head-navigation ul li.catalogue-menu a.newsOn {background:url('../../images/back_end/btn_appsBO.png') left -510px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -510px no-repeat; color:#fff; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.cat {background:url('../../images/back_end/btn_appsBO.png') left -540px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -540px no-repeat; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.cat:hover, #head-navigation ul li.catalogue-menu a.catOn {background:url('../../images/back_end/btn_appsBO.png') left -570px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -570px no-repeat; color:#fff; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.postAd {background:url('../../images/back_end/btn_appsBO.png') left -660px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -660px no-repeat; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.postAd:hover, #head-navigation ul li.catalogue-menu a.postAdOn {background:url('../../images/back_end/btn_appsBO.png') left -690px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -690px no-repeat; color:#fff; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.jobs {background:url('../../images/back_end/btn_appsBO.png') left -720px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -720px no-repeat; padding:8px 5px 8px 28px; margin-left:5px;}
#head-navigation ul li.catalogue-menu a.jobs:hover, #head-navigation ul li.catalogue-menu a.jobsOn {background:url('../../images/back_end/btn_appsBO.png') left -750px no-repeat; _background:url('../../images/back_end/btn_appsBO.gif') left -750px no-repeat; color:#fff; padding:8px 5px 8px 28px; margin-left:5px;}

.dbShop-ui-mngTab {height:50px; width:950px; margin:15px 20px -66px 20px; margin:15px 20px -68px 20px\9; padding:0}
.dbShop-ui-mngTab li {float:left; display:inline; margin:0; padding:0;}
.dbShop-ui-mngTab li a.dbShop-ui-tabOff:link, .dbShop-ui-mngTab li a.dbShop-ui-tabOff:active, .dbShop-ui-mngTab li a.dbShop-ui-tabOff:visited {display:block; border:none; margin:1px 1px 0 1px; padding:10px 15px; font-size:15px; font-weight:bold; color:#444444; text-decoration:none;}
.dbShop-ui-mngTab li a.dbShop-ui-tabOn:link, .dbShop-ui-mngTab li a.dbShop-ui-tabOn:active, .dbShop-ui-mngTab li a.dbShop-ui-tabOn:visited, .dbShop-ui-mngTab li a.dbShop-ui-tabOn:hover, .dbShop-ui-mngTab li a.dbShop-ui-tabOff:hover  {display:block; border:1px solid #D9D9D9; border-bottom:none; padding:10px 15px; font-size:15px; font-weight:bold; color:#444444; text-decoration:none; background:#FFFFFF; margin:0}

.dbShop-ui-mngContent {margin: 20px 0 0 ; padding: 0;   width: 990px;}
.dbShop-ui-mngContent_c {height:100%;  padding:0;}

/*.dbShop-ui-msgList {width:940px; margin:10px; border-top:1px dotted #e3e3e3;}
.dbShop-ui-msgThread .dbShop-ui-msg {padding:10px 50px 5px 10px; color:#666666; fonr-size:12px; line-height:140%; position:relative;}
.dbShop-ui-msgThread .dbShop-ui-mainMsg {background:#F5F3F4; border-bottom:1px dotted #ededed; min-height:60px; _height:60px;}
.dbShop-ui-msgThread .dbShop-ui-replyMsg { background:#ffffff; border-bottom:1px dotted #ededed; margin-left:80px; min-height:20px; _height:20px;}
.dbShop-ui-msgThread .dbShop-ui-msg .dbShop-ui-poName {font-size:15px; font-weight:bold;}
.dbShop-ui-msgThread .dbShop-ui-msg .dbShop-ui-poDate {font-size:11px; margin-left:7px;}
.dbShop-ui-msgThread .dbShop-ui-msg p{margin:0; padding:1px 0 5px;}*/

.dbShop-ui-mngMsg {width:970px; margin:10px; font-family:Arial, Tahoma, PMingLiu, sans-serif;}
.dbShop-ui-mngMsg td {vertical-align:top;}
.dbShop-ui-mngMsgTit td {background:#dfdfdf; padding:10px 10px 8px 10px; color:#666666; font-size:11px; font-weight:bold; text-align:left; border-bottom:1px dotted #dddbdc; }
.dbShop-ui-mngMsgThread td {background:#f5f3f4; padding:10px 10px 8px 10px; border-top:1px solid #FFFFFF; border-bottom:1px dotted #dddbdc; }
.dbShop-ui-mngMsg td .dbShop-ui-msg  {position:relative; width:495px; overflow:hidden; white-spacing:normal; padding:0 0 0 30px; font-size:12px; color:#666666;}
.dbShop-ui-mngMsg td .dbShop-ui-postBy  {width:100px; overflow:hidden; font-size:12px; color:#666666; font-weight:bold; white-spacing:normal;}
.dbShop-ui-mngMsg td .dbShop-ui-postDate  {width:100px; overflow:hidden; font-size:11px; color:#666666; font-weight:normal; white-spacing:normal;}
.dbShop-ui-mngMsg td .dbShop-ui-postAction  {width:110px; margin-top:-10px;}
.dbShop-ui-mngMsgThread td .dbShop-ui-msg .dbShop-ui-msgIcon {position:absolute; top:0; left:0; width:17px; height:18px; background:url(../../images/btn_guestBook.gif) no-repeat -378px -68px;}
.dbShop-ui-mngMsgReply td {background:#FFFFFF; padding:10px 10px 8px 10px; border-top:1px solid #FFFFFF; border-bottom:1px dotted #dddbdc;}
.dbShop-ui-mngMsg .dbShop-ui-mngMsgReply td .dbShop-ui-msg {width:435px;}
.dbShop-ui-mngMsgReply td .dbShop-ui-msg .dbShop-ui-msgIcon {position:absolute; top:0; left:0; width:21px; height:18px; background:url(../../images/btn_guestBook.gif) no-repeat -341px -68px;}
.dbShop-ui-mngMsg .dbShop-ui-report td {padding:3px 10px; color:#FFFFFF; background:#CC0000; font-size:11px;}
.dbShop-ui-mngMsgReply td.dbShop-ui-msgIndent, .dbShop-ui-report td.dbShop-ui-msgIndent {width:40px; border-bottom:none; background:#FFFFFF;}
.dbShop-ui-mngMsg .dbShop-ui-report td .dbShop-ui-left {float:left}
.dbShop-ui-mngMsg .dbShop-ui-report td .dbShop-ui-right {float:right}
.dbShop-ui-mngMsg .dbShop-ui-report td .dbShop-ui-right a:link, .dbShop-ui-mngMsg .dbShop-ui-report td .dbShop-ui-right a:active, .dbShop-ui-mngMsg .dbShop-ui-report td .dbShop-ui-right a:visited, .dbShop-ui-mngMsg .dbShop-ui-report td .dbShop-ui-right a:hover  {color:#FFFFFF; text-decoration:underline;}

a.dbShop-ui-actBtn {display:block; float:left; width:33px; height:28px; margin-left:2px;}
a.dbShop-ui-show:link, a.dbShop-ui-show:active, a.dbShop-ui-show:visited {background:#b6b6b6 url(../../images/btn_guestBook.gif) no-repeat -102px -68px;}
a.dbShop-ui-show:hover {background:#999999 url(../../images/btn_guestBook.gif) no-repeat -102px -68px; }
a.dbShop-ui-disShow:link, a.dbShop-ui-disShow:active, a.dbShop-ui-disShow:visited, a.dbShop-ui-disShow:hover {background:#ebebeb url(../../images/btn_guestBook.gif) no-repeat -102px -68px; cursor:default;}
a.dbShop-ui-hide:link, a.dbShop-ui-hide:active, a.dbShop-ui-hide:visited {background:#b6b6b6 url(../../images/btn_guestBook.gif) no-repeat -136px -68px;}
a.dbShop-ui-hide:hover {background:#999999 url(../../images/btn_guestBook.gif) no-repeat -136px -68px;}
a.dbShop-ui-disHide:link, a.dbShop-ui-disHide:active, a.dbShop-ui-disHide:visited, a.dbShop-ui-disHide:hover {background:#ebebeb url(../../images/btn_guestBook.gif) no-repeat -136px -68px; cursor:default;}
a.dbShop-ui-delete:link, a.dbShop-ui-delete:active, a.dbShop-ui-delete:visited {background:#b6b6b6 url(../../images/btn_guestBook.gif) no-repeat -35px -68px;}
a.dbShop-ui-delete:hover {background:#999999 url(../../images/btn_guestBook.gif) no-repeat -35px -68px;}
a.dbShop-ui-disDelete:link, a.dbShop-ui-disDelete:active, a.dbShop-ui-disDelete:visited, a.dbShop-ui-disDelete:hover {background:#ebebeb url(../../images/btn_guestBook.gif) no-repeat -35px -68px; cursor:default;}
a.dbShop-ui-block:link, a.dbShop-ui-block:active, a.dbShop-ui-block:visited {background:#b6b6b6 url(../../images/btn_guestBook.gif) no-repeat -70px -68px;}
a.dbShop-ui-block:hover {background:#999999 url(../../images/btn_guestBook.gif) no-repeat -70px -68px;}
a.dbShop-ui-disBlock:link, a.dbShop-ui-disBlock:active, a.dbShop-ui-disBlock:visited, a.dbShop-ui-disBlock:hover {background:#ebebeb url(../../images/btn_guestBook.gif) no-repeat -70px -68px; cursor:default;}

.dbShop-ui-appLayer {width:500px; padding:10px; background:#f5f3f4; box-shadow:5px 5px 10px #444444}
.dbShop-ui-appLayer h1 {font-size:18px; font-family:Arial, Tahoma, PMingLiu, sans-serif; color:#666666; margin:0; padding:10px 0;}
.dbShop-ui-appLayer .dbShop-ui-wrapper20 {background:#ffffff; padding:10px;}
.dbShop-ui-appLayer .dbShop-ui-wrapper20 p {padding:0; margin:0; color:#666666; font-size:12px; font-family:Arial, Tahoma, PMingLiu, sans-serif;}
.dbShop-ui-appLayer .dbShop-ui-btnArea {padding:20px 0 0 0; height:30px; text-align:center;}

a.dbShop-ui-sendBtn:link, a.dbShop-ui-sendBtn:visited, a.dbShop-ui-sendBtn:active,  a.dbShop-ui-sendBtn:hover {display:inline; height:14px; line-height:150%; *line-height:200%; padding:6px 10px; margin: 0 10px 10px 0; color:#FFFFFF; font-size:12px; text-decoration:none; font-weight:bold; font-family: Tahoma, Arial, PMingLiu, sans-serif; background-color:#CC0000;}
a.dbShop-ui-sendBtn:hover {background-color:#df0000;}
a.dbShop-ui-cancelBtn:link, a.dbShop-ui-cancelBtn:visited, a.dbShop-ui-cancelBtn:active,  a.dbShop-ui-cancelBtn:hover {display:inline;  height:14px; line-height:150%; *line-height:200%; padding:6px 10px; margin: 0 10px 10px 0; color:#FFFFFF; font-size:12px; text-decoration:none; font-weight:bold; font-family: Tahoma, Arial, PMingLiu, sans-serif; background-color:#b6b6b6;}
a.dbShop-ui-cancelBtn:hover {background-color:#999999;}
a.dbShop-ui-disBtn:link, a.dbShop-ui-disBtn:visited, a.dbShop-ui-disBtn:active,  a.dbShop-ui-disBtn:hover {display:inline;  height:14px; line-height:150%; *line-height:200%; padding:6px 10px; color:#FFFFFF; font-size:12px; text-decoration:none; font-weight:bold; font-family: Tahoma, Arial, PMingLiu, sans-serif; background-color:#e6e6e6; cursor:default;}
.dbShop-ui-mngContent_c a.dbShop-ui-disBtn:link, .dbShop-ui-mngContent_c a.dbShop-ui-disBtn:visited, .dbShop-ui-mngContent_c a.dbShop-ui-disBtn:active,  .dbShop-ui-mngContent_c a.dbShop-ui-disBtn:hover, .dbShop-ui-mngContent_c a.dbShop-ui-sendBtn:link, .dbShop-ui-mngContent_c a.dbShop-ui-sendBtn:visited, .dbShop-ui-mngContent_c a.dbShop-ui-sendBtn:active,  .dbShop-ui-mngContent_c a.dbShop-ui-sendBtn:hover, .dbShop-ui-mngContent_c a.dbShop-ui-cancelBtn:link, .dbShop-ui-mngContent_c a.dbShop-ui-cancelBtn:visited, a.dbShop-ui-cancelBtn:active, .dbShop-ui-mngContent_c a.dbShop-ui-cancelBtn:hover   {margin:10px 10px 0 0; padding:6px 10px 10px 10px;}


a.dbShop-ui-midLink:link, a.dbShop-ui-midLink:active, a.dbShop-ui-midLink:visited, a.dbShop-ui-midLink:hover  {display:block; float:left; padding:7px 0 7px 10px ;}
a.dbShop-ui-pstMsgBtn:link, a.dbShop-ui-pstMsgBtn:active, a.dbShop-ui-pstMsgBtn:visited, a.dbShop-ui-pstMsgBtn:hover {display:block; float:left; height:14px; padding:7px 7px 7px 30px; color:#FFFFFF; font-size:12px; text-decoration:none; font-weight:bold; font-family: Tahoma, Arial, PMingLiu, sans-serif; background:url(../../images../../images/btn_guestBook.gif) no-repeat -5px -3px; background-color:#CC0000;}
a.dbShop-ui-replyMsgBtn:link, a.dbShop-ui-replyMsgBtn:active, a.dbShop-ui-replyMsgBtn:visited, a.dbShop-ui-replyMsgBtn:hover {display:block; height:14px; color:#FFFFFF;  text-decoration:none; font-size:12px; font-weight:bold; font-family: Tahoma, Arial, PMingLiu, sans-serif; background-color:#FF0000; background:url(../../images../../images/btn_guestBook.gif) no-repeat 0 -34px; background-color:#CC0000;}
a.dbShop-ui-replyBtn_s:link, a.dbShop-ui-replyBtn_s:active, a.dbShop-ui-replyBtn_s:visited, a.dbShop-ui-replyBtn_s:hover {position:absolute; top:0; right:15px; display:block; width:34px; height:30px;background:url(../../images../../images/btn_guestBook.gif) no-repeat 0 -68px; background-color:#CC0000;}
a.dbShop-ui-spmBtn_s:link, a.dbShop-ui-spmBtn_s:active, a.dbShop-ui-spmBtn_s:visited, a.dbShop-ui-spmBtn_s:hover {position:absolute; bottom:0; right:15px; display:block; width:34px; height:30px; background:url(../../images../../images/btn_guestBook.gif) no-repeat -436px -64px;}
a.dbShop-ui-spmBtn_s:hover {background:url(../../images/btn_guestBook.gif) no-repeat -402px -64px;}

.dbShop-ui-optTable {width:970px; margin:10px; font-family:Arial, Tahoma, PMingLiu, sans-serif; border-top:1px solid #dddbdc; border-bottom:1px solid #dddbdc;}
.dbShop-ui-optTable td {padding:10px 10px 8px 10px; color:#666666; font-size:12px; background:#f5f3f4;}
.dbShop-ui-optTable td input.checkbox {margin:0 10px 0 0;}

/*layout edit panel*/
.dbShop-ui-appLayoutEditPanel {width:990px; margin:0 auto; font-family:Tahoma, Arial, PMingLiu, sans-serif; margin-top:-5px\9; *margin-top:0;}
.dbShop-ui-appLayoutEditPanel_c {width:100%;height:160px; overflow:hidden; background:#535353;}
.dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditMainMenu {width:100px; min-height:160px; *height:160px; overflow-x:hidden; overflow-y:auto; background:#1a1a1a; border-left:1px solid #0c0c0c; float:left;}
.dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditSubMenu {width:100px; min-height:160px; *height:160px; overflow-x:hidden; overflow-y:auto; background:#393939; border-left:1px solid #1a1a1a; float:left;}
.dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditMainMenu ul, .dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditSubMenu ul {width:90px; height:auto; margin:0; padding:5px;}
.dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditMainMenu ul li, .dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditSubMenu ul li {width:90px; height:auto; margin:0; padding:0;}
.dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditMainMenu ul li a, .dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditSubMenu ul li a  {display:block; padding:3px 5px; color:#a0a0a0; font-size:12px; font-weight:bold; text-decoration:none;}
.dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditMainMenu ul li a:hover, .dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditMainMenu ul li a.on, .dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditSubMenu ul li a:hover, .dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditSubMenu ul li a.on {display:block; padding:3px 5px; color:#FFFFFF; font-size:12px; font-weight:bold; text-decoration:none;}
.dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditMainMenu ul li a:hover, .dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditMainMenu ul li a.on {background:#393939;}
.dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditSubMenu ul li a:hover, .dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditSubMenu ul li a.on {background:#000000;}
.dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditContent {width:788px; float:left;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-actTit {width:771px; border-bottom:1px solid #424242; margin-left:2px; height:25px; *height:35px; padding:5px 5px 5px 10px; *padding:3px 5px 0 10px; *overflow:hidden;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-actTit label {color:#dfdede; font-size:12px; text-align:left; float:left; padding:6px 0;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-actTit .dbShop-ui-btnArea {float:right; height:25px; margin:3px -5px 0 0;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-appEditContent_c {width:786px; border-top:1px solid #757575; margin-left:2px; max-height:125px; overflow-x:hidden; overflow-y:auto;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-appLayoutEditPanel_b {background:url(../../images/back_end/bg_boToolBtm.jpg) repeat-x; width:990px; height:5px; clear:both; line-height:0; font-size:1px;}

.msBtn {background:url(../../images/back_end/btn_editBtn.png); _background:url(../../images/back_end/btn_editBtn.gif); border:none; text-align:center; color:#FFFFFF; font-weight:700; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; zoom:1;}
a.dbShop-ui-red:link, a.dbShop-ui-red:visited, a.dbShop-ui-red:active, a.dbShop-ui-red:hover {background-position:0 -220px; margin-right:8px; text-decoration:none; border-top:1px solid #6eb0f4; border-left:1px solid #378bd4; border-right:1px solid #378bd4; border-bottom:1px solid #277dc1; color:#FFFFFF; text-shadow:#175fb1 -1px -1px 0; font-size:13px; line-height:140%; padding:5px 10px; *padding:2px 10px; font-family:Tahoma, Arial, PMingLiu, Verdana, sans-serif; zoom:1; -webkit-box-shadow:0 1px 3px #111; -moz-box-shadow:0 1px 3px #111; box-shadow:0 1px 3px #111; white-space:nowrap; cursor:pointer;}
a.dbShop-ui-red:hover {background-position:0 -252px;}
a.dbShop-ui-grey:link, a.dbShop-ui-grey:visited, a.dbShop-ui-grey:active, a.dbShop-ui-grey:hover {background-position:0 -2786px; margin-right:5px; text-decoration:none; border-top:1px solid #b7b7b7; border-left:1px solid #999797; border-right:1px solid #999797; border-bottom:1px solid #8b8888; color:#FFFFFF; text-shadow:#7c7b7b -1px -1px 0; font-size:13px; line-height:140%; padding:5px 10px; *padding:2px 10px; font-family:Tahoma, Arial, PMingLiu, Verdana, sans-serif; -webkit-box-shadow:0 1px 3px #111; -moz-box-shadow:0 1px 3px #111; box-shadow:0 1px 3px #111;}
a.dbShop-ui-grey:hover {background-position:0 -2818px;}

.dbShop-ui-appLayoutEditPanel .dbShop-ui-gFrom { margin:10px;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-formCol {float:left;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-formCol01 {background:url(../../images/back_end/line_v.jpg) right 0 repeat-y; padding:0; margin-right:20px; float:left;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-form_c { margin:0 5px 3px 0}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-lbl {float:left; width:200px; margin:5px 10px 5px 0; vertical-align:middle; text-align:left; color:#FFFFFF;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-lblB {float:left; width:200px; margin:5px 10px 5px 0; vertical-align:middle; text-align:left; color:#FFFFFF; font-weight:bold; }
.dbShop-ui-appLayoutEditPanel .dbShop-ui-txtHandle {float:left;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-txtColor {border-top:1px solid #1E1E1E; border-left:1px solid #414141;  border-right:1px solid #414141; border-bottom:1px solid #626262; border-style:solid; border-width:1px; margin-left:2px; margin-right:7px; width:95px; background:#414141; color:#FFFFFF; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-txtColor input.txtfield {background:#414141; border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; -o-border-radius:4px 0 0 4px; color:#FFFFFF; display:inline; float:left; padding:4px; width:57px; width:57px\9; *width:61px; height:20px; height:20px\9; font-size:13px; line-height:20px; margin-bottom:2px; text-align:left; border:none;}
.dbShop-ui-appLayoutEditPanel .miniColors-trigger {background:url("../../images/miniColors/trigger_edit.png") no-repeat scroll center center; float:left; height:30px; margin:0!important; width:30px; border-radius:0 4px 4px 0; -moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; -o-border-radius:0 4px 4px 0;}

/* BUTTON ADD CATEGORY */
.Action .btnAdd span{display:block;width:159px;height:30px;background:url('../../images/back_end/tambah-kategori-btn.png') 0 0 no-repeat transparent;text-decoration:none;text-indent:-1000000px;cursor:pointer}
.Action .btnAdd span:hover{background:url('../../images/back_end/tambah-kategori-btn.png') 0 -30px no-repeat transparent}
.Action .btnAdd span:focus, .Action .btnAdd-sub span:focus{outline:none}

.Action .btnAdd-shipping span{display:block;width:159px;height:30px;background:url('../../images/back_end/add-profile.gif') 0 0 no-repeat transparent;text-decoration:none;text-indent:-1000000px;cursor:pointer}
.Action .btnAdd-shipping span:hover{background:url('../../images/back_end/add-profile.gif') 0 -29px no-repeat transparent}
.Action .btnAdd-shipping span:focus, .Action .btnAdd-sub span:focus{outline:none}

.Action a:link{text-decoration:none}
.Action a:hover{color:red;text-decoration:none}
.Action .btnAdd,.btnSearch, .Action .btnAdd-sub{padding:0;border:none}
.Action .btnAdd-sub span{display:block;width:175px;height:30px;background:url('../../images/back_end/tambah-sub-kategori-btn.png') 0 0 no-repeat transparent;text-decoration:none;text-indent:-1000000px;cursor:pointer}
.Action .btnAdd-sub span:hover{background:url('../../images/back_end/tambah-sub-kategori-btn.png') 0 -30px no-repeat transparent}
.Action .btnAdd-prd span{display:block;width:142px;height:30px;background:url('../../images/back_end/tambah-produk-btn.png') 0 0 no-repeat transparent;text-decoration:none;text-indent:-1000000px;cursor:pointer}
.Action .btnAdd-prd span:hover{background:url('../../images/back_end/tambah-produk-btn.png') 0 -30px no-repeat transparent}
a.listing-back-btn{display:block;width:98px;margin-left:5px;margin-top:10px;height:30px;background:url('../../images/back_end/back-btn.png') 0 0 no-repeat transparent;text-indent:-1000000px}
a.listing-back-btn:hover{background:url('../../images/back_end/back-btn.png') 0 -30px no-repeat transparent}


/* CATEGORY LISTING */
.datagrid2{border-collapse:collapse;width:100%}
.datagrid2 thead{font-size:8pt;font-weight:bold;color:#fff}
.datagrid2 tbody tr li{background-color:#f5f3f4; border-bottom:1px solid #FFFFFF; margin-left:0; padding:5px 0 0 0;}
.datagrid2 tbody tr .subSortable li {border-top:1px solid #FFFFFF; border-bottom:none; padding:5px 0 0 0;} 
.datagrid2 tbody td{border:1px solid #fff;font-size:13px;word-wrap:break-word;}
.datagrid2 tbody td span.txtBlk {display:block; overflow:hidden; text-overflow:ellipsis; background:none; padding:0; margin:0;}
#category-table-grid tbody > tr > td{padding:0px}
.datagrid2 tbody td a{color:#000;cursor:pointer}
.datagrid2 tbody td a:hover{color:#C00;text-decoration:none}
.catalogue-listing-ttl{padding:10px!important; height:auto!important; white-space:nowrap; font-weight:bold; float:left; line-height:120%; text-align:left!important;}
.catalogue-listing-ttl, .category-pagination{background-color:#dfdfdf; color:#000; text-align:left; font-family:Arial, Tahoma, PMingLiu, sans-serif; font-size:11px; padding:5px 10px;}
background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(97,97,97) 100%);
background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(97,97,97) 100%);
background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(97,97,97) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(97,97,97) 100%);
background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(97,97,97) 100%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(0,0,0)),color-stop(1, rgb(97,97,97)));text-shadow:-1px -1px #000, -1px -1px #000}
.category-pagination{padding:5px 5px 5px 10px}
.category-pagination span a,.category-pagination span strong{margin-right:4px}
.category-pagination span a,.category-pagination span strong,.category-pagination span a:link{color:#fff}
.sortable, .sortable .subSortable {margin:0; padding:0; list-style:none outside none;}
.category-pagination span a:hover{color:#FF0;font-weight:bold}
.catalogue-num{text-align:left;cursor:default;padding:5px 0 5px 10px;/*width:120px;*/}
td.catalogue-opt {padding:3px 0 3px 5px;}
.catalogue-published{text-align:left;padding:5px 0 5px 5px; }
.catalogue-published span.txtBlk {width:61px;}
.catalogue-published span.txtBlk p {margin:0;}
.catalogue-num p{padding:0 5px 0 0;margin:0;float:left;width:inherit;}
.sortable .subSortable .catalogue-ttl {margin-left:30px; width:755px; *width:775px; _width:760px; *padding-left:10px; _margin-left:15px; _padding-left:0;}
.catalogue-mid{text-align:center;cursor:default;padding:5px}
.catalogue-ttl, .catalogue-feeds-ttl{text-align:left; font-weight:bold; padding:0 5px 0 0;  margin-bottom:5px; border-right:1px dotted #B8B8B8; width:785px; *width:790px; _width:780px; float:left}
.catalogue-ttl .category-name {display:block; margin-left:10px; _margin-left:5px; float:left; padding:3px 0 3px 25px;background:url('../../images/icon_menuMain.gif') left top no-repeat transparent; display:block; width:665px; *width:670px; _width:675px; overflow:hidden; white-space:normal;}
.catalogue-feeds-ttl {padding:2px 5px 1px 27px; margin-left:10px; width:927px; *width:922px; border-right:none;}
.catalogue-ftCatLvl {background:url('../../images/icon_menuMain.gif') left top no-repeat transparent;}
.catalogue-subCatLvl {background:url('../../images/icon_menuSub.gif') left top no-repeat transparent;}
.catalogue-topCat {background:url('../../images/icon_topNews.gif') left -3px no-repeat transparent;}
.catalogue-allCat {background:url('../../images/icon_allCat.gif') left top no-repeat transparent;}
.catalogue-groupedCat {background:url('../../images/icon_groupedCat.gif') left top no-repeat transparent;}
.catalogue-feeds-links {font-size:11px; font-weight:normal; margin-top:2px; color:#CC0000; display:block;}
.catalogue-ttl a{display:block; margin-left:10px; _margin-left:5px; float:left; padding:3px 0 3px 25px;background:url('../../images/icon_menuMain.gif') left top no-repeat transparent; display:block; width:665px; *width:690px; overflow:hidden; white-space:normal;}
.datagrid2 tbody td .catalogue-ttl a {float:left;}
.sortable .subSortable .catalogue-ttl .category-name{width: 635px; background: url("../../images/icon_menuSub.gif") no-repeat scroll left top transparent;}
.sortable .subSortable .catalogue-ttl, .sortable .subSortable .catalogue-feeds-ttl {margin-left:30px; width:755px; *width:775px; _width:760px; *padding-left:10px; _margin-left:15px; _padding-left:0;}
.sortable .subSortable .catalogue-feeds-ttl {width:906px; *width:901px; *padding-left:27px;}
.sortable .subSortable .catalogue-ttl a { width:635px; *width:665px; _width:660px; background: url("../../images/icon_menuSub.gif") no-repeat scroll left top transparent; }
.catalogue-opt {float:left; text-align:left!important; padding-left:10px; *padding-left:5px; *padding-right:5px;}
.catalogue-action .selectbox {width:155px;}
.catalogue-order{text-align:left;font-weight:bold;padding:5px}
.catalogue-order a{margin-left:10px;float:left;padding-left:25px;background:url('../../images/back_end/order-img.png') left center no-repeat transparent}
.catalogue-order-selesai{text-align:left;font-weight:bold;padding:5px}
.catalogue-order-selesai a{margin-left:10px;float:left;padding-left:25px;cursor:default;background:url('/assets/css/backend/indonesia../../images/back_end/order-finish-img.png') left center no-repeat transparent}
.datagrid2 tbody tr.Confirmed,.datagrid2 tbody tr.Konfimasi{background-color:#ff0;}
.catalogue-order span{margin-left:10px;float:left;padding-left:25px;cursor:default;background:url('../../images/back_end/order-cancel-img.png') left center no-repeat transparent}
.catalogue-tgl-order{text-align:center;font-weight:normal;padding:5px}
.catalogue-general-left{text-align:left;font-weight:normal;padding:5px}
.catalogue-general-leftX{text-align:left;font-weight:normal;padding:5px 5px 5px 10px;}
.catalogue-general-center{text-align:center;font-weight:normal;padding:5px}
#order-Batal,#order-status-Batal{color:#999}
#order-Pending{color:#333}
#order-status-Pending{font-weight:bold;color:#F00}
#order-Konfirmasi,#order-status-Konfirmasi{color:#333}
.catalogue-price{padding:5px}
.catalogue-date{padding:5px; text-align:left;}
.price-tag{display:inline-block;float:left;margin-left:5px;text-align:left;margin:0}
td.catalogue-date p {margin:0; padding;:0;}
td.catalogue-date {vertical-align:top;}
.price-num{display:inline-block;float:right;margin-right:5px;text-align:right;margin:0}
.menu-link{text-align:left;padding:0 0 0 0}
a.menu-edit{display:block;height:20px;width:75px;text-indent:-1000000px;margin-top:-5px;margin-right:5px;float:left;background:url('../../images/back_end/edit-nama.png') 0 0 no-repeat transparent}
a.menu-edit:hover{background:url('../../images/back_end/edit-nama.png') 0 -20px no-repeat transparent}
a.menu-delete,a#menu-delete{display:block;height:20px;width:57px;text-indent:-1000000px;margin-top:-5px;margin-right:5px;float:left;background:url('../../images/back_end/hapus-btn.png') 0 0 no-repeat transparent}
a.menu-delete:hover,a#menu-delete:hover{background:url('../../images/back_end/hapus-btn.png') 0 -20px no-repeat transparent}
a#confirmPemesanan{display:block;height:20px;width:57px;text-indent:-1000000px;margin-top:-5px;margin-right:5px;float:left;background:url('../../images/back_end/finish-transaction.png') 0 0 no-repeat transparent}
a#confirmPemesanan:hover{background:url('../../images/back_end/finish-transaction.png') 0 -20px no-repeat transparent}
a.menu-proses,a#menu-proses{display:block;height:20px;width:57px;text-indent:-1000000px;margin-top:-5px;margin-right:5px;float:left;background:url('../../images/back_end/proses-btn.png') 0 0 no-repeat transparent}
a.menu-proses:hover,a#menu-proses:hover{background:url('../../images/back_end/proses-btn.png') 0 -20px no-repeat transparent}
a.menu-view{display:block;height:20px;width:57px;text-indent:-1000000px;margin-top:-5px;margin-right:5px;float:left;background:url('../../images/back_end/lihat-btn.png') 0 0 no-repeat transparent}
a.menu-view:hover{background:url('../../images/back_end/lihat-btn.png') 0 -20px no-repeat transparent}
.category-pagination{font-size:8pt}
.category-pagination span{font-size:8pt}
a.menu-add{display:block;height:20px;width:57px;text-indent:-1000000px;margin-top:-5px;margin-right:5px;float:left;background:url('../../images/back_end/upload-produk.png') 0 0 no-repeat transparent}
a.menu-add:hover{background:url('../../images/back_end/upload-produk.png') 0 -20px no-repeat transparent}
a.menu-add-rule{display:block;height:20px;width:63px;text-indent:-1000000px;margin-top:-5px;margin-right:5px;float:left;background:url('../../images/back_end/add-rule.png') 0 0 no-repeat transparent}
a.menu-add-rule:hover{background:url('../../images/back_end/add-rule.png') 0 -20px no-repeat transparent}
a.menu-sub{display:block;height:20px;width:84px;text-indent:-1000000px;margin-top:-5px;margin-right:5px;float:left;background:url('../../images/back_end/add-subcat.png') 0 0 no-repeat transparent}
a.menu-sub:hover{background:url('../../images/back_end/add-subcat.png') 0 -20px no-repeat transparent}

a.menu-copy{display:block;height:20px;width:57px;text-indent:-1000000px;margin-top:-5px;margin-right:5px;float:left;background:url('../../images/back_end/copy-btn.gif') 0 0 no-repeat transparent}
a.menu-copy:hover{background:url('../../images/back_end/copy-btn.gif') 0 -20px no-repeat transparent}

.menu-error{padding:100px 0;background-color:#fff;text-align:center;font-size:8pt;color:#777}
a.product-edit{display:block;height:20px;width:80px;text-indent:-1000000px;margin-top:-5px;margin-right:5px;float:left;background:url('../../images/back_end/edit-produk.png') 0 0 no-repeat transparent}
a.product-edit:hover{background:url('../../images/back_end/edit-produk.png') 0 -20px no-repeat transparent}
.catalogue-product{text-align:left;font-weight:bold;padding:5px}
.catalogue-product span.txtBlk {}
.catalogue-product a{margin-left:5px;float:left;}
.sub-category{padding-left:20px;}
.catalogue-opt-right{align:right;}
.datagrid2 .catalogue-product a{margin:0 0 0 5px; padding:0; display:block; /*width:480px;*/ line-height:120%; max-height:30x; _height:30px; overflow:hidden; text-overflow:ellipsis;}
.datagrid2 td {vertical-align:top;}

.JPH1, .JPH2, .JPH3, .JPH4, .JPH5{display:block;margin:0px;overflow:hidden;padding:0px; text-overflow: ellipsis;}
.JPH1{width:300px;}
.JPH2{width:280px;}
.JPH3{width:110px;}
.JPH4{width:110px;}
.JPH5{width:85px;}


.catalogue-listing-ttt-Article-Title, .catalogue-listing-ttt-Article-Cat, .catalogue-listing-ttt-Article-Sub, .catalogue-listing-ttt-Article-Published, .catalogue-listing-ttt-Article-Postdate, .catalogue-listing-ttt-Article-Expire, .catalogue-listing-ttt-Article-Action{
padding:10px; vertical-align:top; overflow:hidden;
}
.catalogue-listing-ttt-Article-Title{font-weight:bold;}
.catalogue-listing-ttt-Article-Action{padding:10px 0px 10px 10px!important;}




.datagrid2 tbody td.catalogue-listing-ttt-Article-Title span.txtBlk {width:230px}
.datagrid2 tbody td.catalogue-listing-ttt-Article-Cat span.txtBlk {width:90px}
.datagrid2 tbody td.catalogue-listing-ttt-Article-Sub span.txtBlk {width:90x}
.datagrid2 tbody td.catalogue-listing-ttt-Article-Published span.txtBlk {width:50px}
.datagrid2 tbody td.catalogue-listing-ttt-Article-Postdate span.txtBlk {width:50px}
.datagrid2 tbody td.catalogue-listing-ttt-Article-Expire span.txtBlk {width:50px}



.catalogue-listing-ttl-d1, .catalogue-listing-ttl-d2, .catalogue-listing-ttl-d3, .catalogue-listing-ttl-d4, .catalogue-listing-ttl-d5{padding:10px!important; height:auto!important; white-space:nowrap; font-weight:bold;line-height:120%;background-color:#dfdfdf; color:#000; text-align:left; font-family:Arial, Tahoma, PMingLiu, sans-serif; font-size:11px; padding:5px 10px; height:22px;}
.catalogue-listing-ttl-d1{width:300px}
.catalogue-listing-ttl-d2{width:280px}
.catalogue-listing-ttl-d3{width:110px}
.catalogue-listing-ttl-d4{width:110px}
.catalogue-listing-ttl-d5{width:110px}


/*layout edit panel*/
.dbShop-ui-appLayoutEditPanel {width:990px; margin:0 auto; font-family:Tahoma, Arial, PMingLiu, sans-serif; margin-top:-5px\9; *margin-top:0;}
.dbShop-ui-appLayoutEditPanel_c {width:100%;height:160px; overflow:hidden; background:#535353;}
.dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditMainMenu {width:100px; min-height:160px; *height:160px; overflow-x:hidden; overflow-y:auto; background:#1a1a1a; border-left:1px solid #0c0c0c; float:left;}
.dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditSubMenu {width:100px; min-height:160px; *height:160px; overflow-x:hidden; overflow-y:auto; background:#393939; border-left:1px solid #1a1a1a; float:left;}
.dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditMainMenu ul, .dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditSubMenu ul {width:90px; height:auto; margin:0; padding:5px;}
.dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditMainMenu ul li, .dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditSubMenu ul li {width:90px; height:auto; margin:0; padding:0;}
.dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditMainMenu ul li a, .dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditSubMenu ul li a  {display:block; padding:3px 5px; color:#a0a0a0; font-size:12px; font-weight:bold;}
.dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditMainMenu ul li a:hover, .dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditMainMenu ul li a.on, .dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditSubMenu ul li a:hover, .dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditSubMenu ul li a.on {display:block; padding:3px 5px; color:#FFFFFF; font-size:12px; font-weight:bold;}
.dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditMainMenu ul li a:hover, .dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditMainMenu ul li a.on {background:#393939;}
.dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditSubMenu ul li a:hover, .dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditSubMenu ul li a.on {background:#000000;}
.dbShop-ui-appLayoutEditPanel_c .dbShop-ui-appEditContent {width:788px; float:left;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-actTit {width:771px; border-bottom:1px solid #424242; margin-left:2px; height:25px; *height:35px; padding:5px 5px 5px 10px; *padding:3px 5px 0 10px; *overflow:hidden;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-actTit label {color:#dfdede; font-size:12px; text-align:left; float:left; padding:6px 0;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-actTit .dbShop-ui-btnArea {float:right; height:25px; margin:3px -5px 0 0; padding:0;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-appEditContent_c {width:786px; border-top:1px solid #757575; margin-left:2px; max-height:125px; overflow-x:hidden; overflow-y:auto;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-appLayoutEditPanel_b {background:url(../../images/back_end/bg_boToolBtm.jpg) repeat-x; width:990px; height:5px; clear:both; line-height:0; font-size:1px;}







.catalogue-listing-ttl-Article-Title, .catalogue-listing-ttl-Article-Cat, .catalogue-listing-ttl-Article-Sub, .catalogue-listing-ttl-Article-Published, .catalogue-listing-ttl-Article-Postdate, .catalogue-listing-ttl-Article-Expire, .catalogue-listing-ttl-Article-Action{
padding:10px!important; height:auto!important; white-space:nowrap; font-weight:bold;  line-height:120%; text-align:left!important;background-color:#dfdfdf; color:#000; text-align:left; font-family:Arial, Tahoma, PMingLiu, sans-serif; font-size:11px; padding:5px 10px;	
}
.catalogue-listing-ttl-Article-Title {width:300px;}
.catalogue-listing-ttl-Article-Cat {width:110px;}
.catalogue-listing-ttl-Article-Sub {width:110px;}
.catalogue-listing-ttl-Article-Published {width:90px;padding:10px 10px 10px 10px!important;}
.catalogue-listing-ttl-Article-Postdate {width:90px;padding:10px 10px 10px 10px!important;}
.catalogue-listing-ttl-Article-Expire {width:90px;padding:10px 10px 10px 10px!important;}
.catalogue-listing-ttl-Article-Action {width:300px;padding:10px 10px 10px 10px!important;}








/*Layer*/
.dbShop-ui-nlayer {position:relative; width:400px; font-family: Tahoma,Arial,PMingLiu,Verdana,sans-serif; background:#d8d8d8; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; box-shadow: 0 3px 20px #333333; font-size:12px; height:auto; overflow:visible; padding:8px; text-align:left; }
.dbShop-ui-nlayer h2 {color: #000000; font-size: 15px; font-weight: 700; margin: 10px 10px 10px 5px; text-align: left;}
.dbShop-ui-nlayer .dbShop-ui-wrapper20 {background:#F0F0F0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; padding:15px 15px 15px 13px;}
.dbShop-ui-nlayer p {margin:0; padding:0; color:#444444;}
.dbShop-ui-btnArea {padding:20px 0 15px; text-align:center;}
.dbShop-ui-container_text{margin:10px 0px; line-height:140%;background-color:#FFF; padding:5px 10px;}
.form_title_pop{dispaly:block;float:left;text-align:left;font-size:12px; font-weight:bold;line-height:150%}
.dbShop-ui-selector{dispaly:block;width:250px;float:left;text-align:left;padding:7px 0px 0px 0px;margin-top:10px;}
.dbShop-ui-selector_btn{dispaly:block;width:50px;float:left;text-align:left;padding:0x 0px 0px 0px;margin-top:80px;padding-left:10px;}
.dbShop-ui-selector select { border:1px solid #C5C1BE;border-radius:4px;padding:0px 0px 0px 10px\0!important;padding:10px 10px 10px 10px;}
.dbShop-ui-wrapper20 .datagrid-pop {width:auto;}
.datagrid-pop {border-collapse:collapse;}
.cat-A, .sub-A, .duration-A, .expiry-A, .check-A, .sub-Ar, .cat-Ar {background-color:#DFDFDF; color: #000; font-family: Arial,Tahoma,PMingLiu,sans-serif; font-size:13px; font-weight: bold; height: auto !important; line-height: 120%; padding:10px !important ;text-align: left; white-space: normal; vertical-align: top; overflow:hidden; word-wrap:break-word;border-bottom: 1px dotted #CCC; }
.check-A span{width:20px; display:block;}
.cat-A span{width:150px; display:block;}
.sub-A span{width:150px; display:block;}
.duration-A span{width:75px;*width:70px; display:block;}
.expiry-A span{width:75px;*width:80px; display:block;}
.cat-Ar span{width:170px; display:block;}
.sub-Ar span{width:170px; display:block;}
.checkboxlist-pop{border:1px solid #C5C1BE;background-color:#fff;border-radius:4px;padding:0px 0px 0px 10px\0!important;padding:10px 10px 10px 10px; overflow-y:scroll;}
.r-check-A, .r-cat-A, .r-sub-A, .r-duration-A, .r-expiry-A, .rr-cat-A, .rr-sub-A {background-color:#e7e7e7; color: #000; font-family: Arial,Tahoma,PMingLiu,sans-serif; font-size:13px; font-weight: normal; height: auto !important; line-height: 120%; padding:10px !important ;text-align: left; white-space: normal; vertical-align: top; overflow:hidden; word-wrap:break-word; border-bottom: 1px dotted #CCC;}
.r-check-A span{width:20px;display:block;}
.r-cat-A span{width:150px; display:block;}
.r-sub-A span{width:150px; display:block;}
.r-duration-A span{width:75px;display:block;}
.r-expiry-A span{width:75px; display:block;}
.rr-cat-A span{width:170px; display:block;}
.rr-sub-A span{width:170px; display:block;}

.msBtn {background:url(../../images/back_end/btn_editBtn.png); _background:url(../../images/back_end/btn_editBtn.gif); border:none; text-align:center; color:#FFFFFF; font-weight:700; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; zoom:1;}
a.dbShop-ui-red:link, a.dbShop-ui-red:visited, a.dbShop-ui-red:active, a.dbShop-ui-red:hover {background-position:0 -220px; margin-right:8px; text-decoration:none; border-top:1px solid #6eb0f4; border-left:1px solid #378bd4; border-right:1px solid #378bd4; border-bottom:1px solid #277dc1; color:#FFFFFF; text-shadow:#175fb1 -1px -1px 0; font-size:13px; line-height:140%; padding:5px 10px; *padding:2px 10px; font-family:Tahoma, Arial, PMingLiu, Verdana, sans-serif; zoom:1; -webkit-box-shadow:0 1px 3px #111; -moz-box-shadow:0 1px 3px #111; box-shadow:0 1px 3px #111; white-space:nowrap; cursor:pointer;}
a.dbShop-ui-red:hover {background-position:0 -252px;}
a.dbShop-ui-grey:link, a.dbShop-ui-grey:visited, a.dbShop-ui-grey:active, a.dbShop-ui-grey:hover {background-position:0 -2786px; margin-right:5px; text-decoration:none; border-top:1px solid #b7b7b7; border-left:1px solid #999797; border-right:1px solid #999797; border-bottom:1px solid #8b8888; color:#FFFFFF; text-shadow:#7c7b7b -1px -1px 0; font-size:13px; line-height:140%; padding:5px 10px; *padding:2px 10px; font-family:Tahoma, Arial, PMingLiu, Verdana, sans-serif; -webkit-box-shadow:0 1px 3px #111; -moz-box-shadow:0 1px 3px #111; box-shadow:0 1px 3px #111;}
a.dbShop-ui-grey:hover {background-position:0 -2818px;}

.dbShop-ui-appLayoutEditPanel .dbShop-ui-gFrom { margin:10px;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-formCol {float:left;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-formCol01 {background:url(../../images/back_end/line_v.jpg) right 0 repeat-y; padding:0; margin-right:20px; float:left;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-form_c { margin:0 5px 3px 0}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-lbl {float:left; width:200px; margin:5px 10px 5px 0; vertical-align:middle; text-align:left; color:#FFFFFF;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-lblB {float:left; width:200px; margin:5px 10px 5px 0; vertical-align:middle; text-align:left; color:#FFFFFF; font-weight:bold; }
.dbShop-ui-appLayoutEditPanel .dbShop-ui-txtHandle {float:left;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-txtColor {border-top:1px solid #1E1E1E; border-left:1px solid #414141;  border-right:1px solid #414141; border-bottom:1px solid #626262; border-style:solid; border-width:1px; margin-left:2px; margin-right:7px; width:95px; background:#414141; color:#FFFFFF; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-txtColor input.txtfield {background:#414141; border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; -o-border-radius:4px 0 0 4px; color:#FFFFFF; display:inline; float:left; padding:4px; width:65px; width:57px\9; *width:61px; height:28px; height:20px\9; font-size:13px; line-height:20px; margin-bottom:2px; text-align:left; border:none;}
.dbShop-ui-appLayoutEditPanel .miniColors-trigger {background:url("../../images/miniColors/trigger_edit.png") no-repeat scroll center center; float:left; height:30px; margin:0!important; width:30px; border-radius:0 4px 4px 0; -moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; -o-border-radius:0 4px 4px 0;}



.dbShop-ui-selector{dispaly:block;width:250px;float:left;text-align:left;padding:7px 0px 0px 0px;margin-top:10px;}
.dbShop-ui-selector_btn{dispaly:block;width:50px;float:left;text-align:left;padding:0x 0px 0px 0px;margin-top:80px;padding-left:10px;}
.dbShop-ui-selector select { border:1px solid #C5C1BE;border-radius:4px;padding:0px 0px 0px 10px\0!important;padding:10px 10px 10px 10px;}


/* SEARCH ENGINE */
.pageSearch{float:right;background-color:#fff;border:1px solid #aaa;height:24px;_height:26px;height:26px\9;margin-top:2px}
.pageSearch form{margin:0;padding:0}
.search-field{border:1px solid #fff;font-family:"lucida sans",arial,verdana,tahoma;color:#333;font-size:9pt;padding:2px 5px;padding-top:0\9;_padding-top:0;width:200px}
.search-button{background:#fff url('../../images/back_end/bgsearchfield.gif') 3px 3px no-repeat;cursor:pointer;padding:1px;margin-top:2px;width:25px;color:#666;border:none}


/* PROFIL */
.edit-big-btn{height:30px;overflow:hidden}
.edit-big-btn a{display:block;text-decoration:none;height:30px;width:70px;background:url('../../images/back_end/edit-big.png') 0 0 no-repeat transparent;text-indent:-100000px;}
.edit-big-btn a:hover{text-decoration:none;background:url('../../images/back_end/edit-big.png') 0 -30px no-repeat transparent}
#formpersonal p{padding-left:10px;margin-bottom:10px;display:inline-block;clear:both;width:100%;margin-top:0}
.edit-wrapper{display:block;width:600px;height:240px;overflow:hidden}


/* ADD KATEGORI,SUB,PRODUK */
/*.pageAction{display:block;background-color:#eee;border:1px solid #ccc;border-top:none;padding:10px 20px;*/
.pageAction
{display:block;border:none;padding:10px 0;
/*background-color:#eee;
background-image: linear-gradient(bottom, rgb(181,181,181) 6%, rgb(255,255,255) 77%);
background-image: -o-linear-gradient(bottom, rgb(181,181,181) 6%, rgb(255,255,255) 77%);
background-image: -moz-linear-gradient(bottom, rgb(181,181,181) 6%, rgb(255,255,255) 77%);
background-image: -webkit-linear-gradient(bottom, rgb(181,181,181) 6%, rgb(255,255,255) 77%);
background-image: -ms-linear-gradient(bottom, rgb(181,181,181) 6%, rgb(255,255,255) 77%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.06, rgb(181,181,181)),color-stop(0.77, rgb(255,255,255)));*/
}
.pageAction .button-panel {margin-left:0;}
.formLoader{color:#000}
.formLoader form, .p-general{margin:0;padding:0}
.formLoader p{padding-left:0;margin-bottom:10px;display:inline-block;clear:both;width:100%;margin-top:0}
.formLoader .submit-btn {margin-left:165px;}
.ganti-nama{margin:0px;display:block;clear:both}
.ganti-nama label{float:left;display:inline-block;margin-right:5px;font-size:10pt;font-weight:bold;padding:5px 0;width:160px}
.pageData2{display:block;height:500px;overflow-y:scroll;overflow:scroll\9;background-color:#fff;border:1px solid #ccc;padding-top:10px}
.p-warning{width:500px;margin-top:10px;background:#F00;padding:5px}
.p-notice{margin-bottom:10px;padding:0 0 2px 0;border-bottom:1px solid #333}
.p-warning label{color:#FF0;font-weight:normal;font-size:10pt;}
.p-notice label{color:#333;font-weight:bold;font-size:9pt}
.ganti-nama label strong{color:#F00;font-size:11pt;margin-right:5px}
.ganti-nama input[type="text"],.ganti-nama select{border:1px solid #ccc;padding:5px;font-family:"lucida sans",arial,verdana,tahoma;font-size:9pt;font-weight:normal;color:#333;}
.order-desc{font-weight:normal;color:#333;font-size:9pt;padding:5px 0;display:inline-block;}
.order-desc-ctn{margin:0 0 3px;color:#333;font-size:9pt;clear:both}
.ganti-nama select{margin-top:4px;width:150px}
.upload-images{font-size:10pt;color:#333;padding-left:10px;margin-bottom:3px;font-weight:bold}
.upload-images form input{margin-left:3px}
.ganti-harga{font-size:10pt;display:inline-block;margin:0}
.ganti-harga label{float:left;width:160px}
.ganti-harga input{margin-top:3px;float:left;#margin-top:0}
@media screen and (-webkit-min-device-pixel-ratio:0){.ganti-harga input{margin-top:0}}
.ganti-harga span{margin:0 30px 0 2px;padding:0;float:left;#margin-top:4px}
/*#product_price_promo{margin:10px 0 0;background-color:#ff0;padding:5px 0;width:410px;color:#900}*/
#product_price_promo{background-color:#ff0;padding-top:5px;color:#900}
.notice-opt{color:#F00}
.editcontainer{overflow:hidden}
.gambar-product{display:inline-block;;clear:both;width:100%;margin:0 0 5px;padding-left:10px}
.gambar-product label{display:block;float:left;font-size:10pt;font-weight:bold;margin-right:5px;padding:5px 0;width:160px}
.desc-product{font-size:10pt}
.text-small-general{font-size:8pt;font-weight:bold;color:#333}
#bar-form{margin:0;text-align:right}
#bar-form input{font-size:9pt;font-family:'lucida sans',verdana,tahoma,arial;}
.pageBlank-mid{margin-top:5px;}
.pageBlank-mid .dbShop-ui-keyIcon {margin-right: 5px; vertical-align: -5px;  border-radius: 3px; box-shadow: 0 1px 1px #666666;}
.pageBlank-mid span {vertical-align:10%;}
.desc-product label{font-weight:bold;display:block;padding-bottom:10px;float:left;margin-right:5px;width:160px}
.desc-product div{float:left}
div.wysiwyg{-moz-border-radius:10px;border-radius:10px}
#prdimages{-moz-border-radius:5px;border-radius:5px;display:inline-block;clear:left;padding:10px;border:1px solid #aaa;margin:0 5px 5px 5px;background-color:#FFF;width:600px\9;display:block\9;float:left\9;clear:none\9;width:600px;*width:430px}
#prdimages img{margin-right:10px;width:90px;height:90px;}
#prdimages img,#prdimages form{float:left}
.prior-img{display:inline-block;float:left;margin:5px 0}
.prior-img label{cursor:pointer;display:inline-block;width:300px;*width:260px}
.prior-img label input{float:left;margin-right:5px;margin-left:0}
.prior-img label span{font-size:9pt;color:#333;display:block;float:left;margin-top:1px}
.prior-img label span:hover{color:#F00}
a#edit-image{display:block;width:120px;height:30px;background:url('../../images/back_end/edit-img.png') 0 0 no-repeat transparent;text-indent:-100000px;margin:0px 0px 0px 100px}
a.delete-image{display:block;width:85px;height:30px;background:url('../../images/back_end/hapus-big.png') 0 0 no-repeat transparent;float:left;text-indent:-100000px;margin:-34px 5px 0 -175px;position:absolute;*margin-left:-130px}
a.delete-image:hover{background:url('../../images/back_end/hapus-big.png') 0 -30px no-repeat transparent}
.submit-btn{display:block;margin:20px 0 0}
.save-btn{display:inline-block;float:left}
.submit-btn input,.save-btn input{display:block;width:95px;height:30px;cursor:pointer;text-indent:-1000000px;font-size:0px;color:#fff;border:none;background:url('../../images/back_end/submit-btn.png') 0 0 no-repeat transparent}
.submit-btn input:hover,.save-btn input:hover{background:url('../../images/back_end/submit-btn.png') 0 -30px no-repeat transparent}
.simpan-product{margin-left:10px;display:inline-block;clear:both\9;}
.simpan-product p{margin:0;padding:0}
.back-btn{display:inline-block;position:absolute;margin:-30px 0 0 100px}
.backto-btn{display:inline-block;float:left;margin-left:10px}
.back-btn a,.backto-btn a{display:block;width:98px;height:30px;background:url('../../images/back_end/back-btn.png') 0 0 no-repeat transparent;text-indent:-1000000px}
.back-btn a:hover,.backto-btn a:hover{background:url('../../images/back_end/back-btn.png') 0 -30px no-repeat transparent}
.contoh-isi{clear:left;color:#666666;display:block;font-size:8pt;margin-left:165px;margin-top:3px}
.p-general{margin:0px;display:block;clear:both}
.p-general label{float:left;display:inline-block;margin-right:5px;font-size:10pt;font-weight:bold;padding:5px 0;width:160px}
#overlay-subkategori span,#status-konfirmasi{font-size:10pt;font-weight:bold;text-align:center;}

.button-panel{margin-left:10px;display:inline-block;clear:both\9;}
.button-panel p{margin:0;padding:0}
.formItem{font-size:10pt}
.formItem label{font-weight:bold;display:block;padding-bottom:10px;float:left;margin-right:5px;width:160px}
.formItem div{float:left}

/* FANCYBOX */
#fancybox-outer{border:1px solid #333\9;}

/* GANTI PASSWORD */
.ganti-pass{margin:0px;display:block;clear:both;margin-bottom:20px}
.ganti-pass label{float:left;display:inline-block;margin-right:5px;font-size:10pt;font-weight:bold;padding:5px 0;width:200px}
.ganti-pass input{border:1px solid #ccc;padding:5px 10px;font-family:"lucida sans",arial,verdana,tahoma;font-size:9pt;font-weight:normal;color:#333;-moz-border-radius:10px;border-radius:10px;height:25px\9;
background-image: linear-gradient(bottom, rgb(181,181,181) 6%, rgb(255,255,255) 77%);
background-image: -o-linear-gradient(bottom, rgb(181,181,181) 6%, rgb(255,255,255) 77%);
background-image: -moz-linear-gradient(bottom, rgb(181,181,181) 6%, rgb(255,255,255) 77%);
background-image: -webkit-linear-gradient(bottom, rgb(181,181,181) 6%, rgb(255,255,255) 77%);
background-image: -ms-linear-gradient(bottom, rgb(181,181,181) 6%, rgb(255,255,255) 77%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.06, rgb(181,181,181)),color-stop(0.77, rgb(255,255,255)));}
.ganti-pass select{margin-top:4px;width:150px}


/* USER LEVEL */
.catalogue-adm{text-align:left;font-weight:bold;padding:5px}
.catalogue-adm a{margin-left:10px;float:left;padding-left:20px;background:url('../../images/back_end/user-icon.png') left center no-repeat transparent}
a.menu-edit-adm{display:block;height:20px;width:47px;text-indent:-1000000px;margin-top:-5px;margin-right:5px;float:left;background:url('../../images/back_end/edit-general.png') 0 0 no-repeat transparent}
a.menu-edit-adm:hover{background:url('../../images/back_end/edit-general.png') 0 -20px no-repeat transparent}
.Action .btnAdd-general span{display:block;width:129px;height:30px;background:url('../../images/back_end/tambah-general.png') 0 0 no-repeat transparent;text-decoration:none;text-indent:-1000000px;cursor:pointer}
.Action .btnAdd-general span:hover{background:url('../../images/back_end/tambah-general.png') 0 -30px no-repeat transparent}
.back-btn-general{display:inline-block;margin:-40px 0 0 115px;position:absolute}
.back-btn-general-alt{display:inline-block;margin:10px 0 0 10px;position:relative;}
.backto-btn-general{display:inline-block;float:left;margin-left:10px}
.back-btn-general a,.backto-btn-general a,.back-btn-general-alt a{display:block;width:98px;height:30px;background:url('../../images/back_end/back-btn.png') 0 0 no-repeat transparent;text-indent:-1000000px}
.back-btn-general a:hover,.backto-btn-general a:hover,.back-btn-general-alt a:hover{background:url('../../images/back_end/back-btn.png') 0 -30px no-repeat transparent}
.catalogue-general{text-align:left;cursor:default;padding:5px 5px 5px 10px}


/* ACCORDION */
.ui-accordion-icons .ui-accordion-header a{background: url("../../images/back_end/main-menubar.jpg") repeat-x scroll left center #000000;padding:4px}


/* LISTING BANK */
.images-bank{display:inline-block;width:135px\9;border:1px solid #aaa;background-color:#fff;padding:5px;margin-left:175px;-moz-border-radius:5px;border-radius:5px}
.images-bank img{width:125px;height:auto}
.catalogue-bank{text-align:left;font-weight:bold;padding:5px}
.catalogue-bank a{margin-left:10px;float:left;padding-left:25px;background:url('../../images/back_end/bank-icon.png') left center no-repeat transparent}


/* ORDER TABEL */
.datagrid2a{border-collapse:collapse;margin-left:10px;width:98%}
.datagrid2a thead{font-size:8pt;font-weight:bold;color:#fff}
.datagrid2a tbody tr{background-color:#eee}
.datagrid2a tbody tr:hover{background-color:#ddd}
.datagrid2a tbody td{font-size:10pt;border:1px solid #444;word-wrap:break-word;width:350px;}
.datagrid2a tbody td a{color:#333;cursor:pointer;width:inherit;display:block;word-wrap:break-word;}
.datagrid2a tbody td a:hover{color:#900;text-decoration:none}
.mata-uang{margin:0;float:left;padding-left:5px}
.catalogue-listing-ttle{padding:5px;border:1px solid #222;background-color:#333;color:#fff;
background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(97,97,97) 100%);
background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(97,97,97) 100%);
background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(97,97,97) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(97,97,97) 100%);
background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(97,97,97) 100%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(0,0,0)),color-stop(1, rgb(97,97,97)));text-shadow:-1px -1px #000, -1px -1px #000}
.catalogue-listing-subttl{padding:5px;border:1px solid #222;background-color:#ccc;color:#000}
.datagrid2a tfoot tr td{font-size:9pt;font-weight:bold;padding-bottom:7px}
.ui-dialog .ui-dialog-content{font-size:10pt;font-weight:bold;text-align:center}
.quots{display:block;font-size:9pt;margin-top:5px;}

/* PAGINATION */
#paging{clear: both; display:none;padding:2px 0;text-align:center; font-weight:normal; font-size:12px; padding:5px 0; margin:0; margin-top:10px\9; color:#666666;background-color:#DFDFDF;}
#paging a:link, #paging a:visited, #paging a:active, #paging a:hover {color:#666666; padding:0 10px; margin:2px; line-height:130%; background:none; text-decoration:none; border-right:1px solid #666666;}
#paging a:hover {text-decoration:underline; color:#CC0000; background:none;}
#paging a.previous:link, #paging a.previous:visited, #paging a.previous:active, #paging a.previous:hover {color:#666666; padding:0 10px; line-height:100%; background:none; text-decoration:none; border:none;}
#paging a.previous:hover {text-decoration:underline; color:#CC0000; background:none;}
#paging a.next:link, #paging a.next:visited, #paging a.next:active, #paging a.next:hover {color:#666666; padding:0 10px; line-height:100%; background:none; text-decoration:none; border:none;}
#paging a.next:hover {text-decoration:underline; color:#CC0000; background:none;}
#paging a.last:link, #paging a.last:visited, #paging a.last:active, #paging a.last:hover {color:#666666; padding:0 10px; line-height:100%; background:none; text-decoration:none; border:none;}
#paging a.last:hover {text-decoration:underline; color:#CC0000; background:none;}
#paging strong{ padding:0 15px 0 10px; margin:2px; cursor:default; text-decoration:underline; color:#CC0000; border-right:1px solid #666666;}
#paging a.last:link strong, #paging a.last:visited strong, #paging a.last:active strong, #paging a.last:hover strong, #paging strong.last { padding:0; margin:2px; cursor:default; text-decoration:underline; color:#CC0000; border-right:none;}
#paging strong.last {padding:0 10px;}


/* ERROR AND INFO BOX */
/*div.cms_error {text-align:left;font-size:12px;background-color:#FF6666;border:1px solid #000000;color:#FFFFFF;padding:10px;margin:0px 0px 10px 0px;}
div.cms_error li {margin-left:10px;}*/
div.cms_error { background-color: #FFD1D1;border: 1px solid #F8ACAC;border-radius: 5px 5px 5px 5px;padding-left:10px;margin-bottom:10px;}
div.cms_error ul {margin: 10px 0px 10px 0px;}
div.cms_error li {color: #555555;}
/* div.cms_info {text-align:left;font-size:12px;background-color:#99CC33;border:1px solid #336600;color:#003300;padding:10px;margin:0px 0px 10px 0px;} */
div.cms_info { background-color: #EAF7D9;border: 1px solid #BBDF8D;border-radius: 5px 5px 5px 5px;padding-left:10px;padding-top:12px;padding-bottom:12px}
/*div.cms_info li {margin-left:10px;}*/
div.cms_info p {margin:0px;}
div.cms_info ul {margin: 0px;}
div.cms_info li {color: #555555;}
td, th{font-size:12px;}
.dbShop-ui-remind {color:#999999; font-size:11px;; line-height:130%;}
.formLoader p.dbShop-ui-remind {margin-left:165px; margin-top:-5px;}

td.catalogue-ttl a{word-wrap: break-word;}
td.catalogue-ttl{width:700px;}
td.catalogue-ttl span{width:inherit;display:block;}
td.catalogue-product{/*width:220px;*/ width:470px;}
td.catalogue-product a{width:inherit;word-wrap:break-word;}

/*Layer*/
.dbShop-ui-nlayer {position:relative; width:400px; font-family: Tahoma,Arial,PMingLiu,Verdana,sans-serif; background:#d8d8d8; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; box-shadow: 0 3px 20px #333333; font-size:12px; height:auto; overflow:visible; padding:8px; text-align:left; }
.dbShop-ui-nlayer h2 {color: #000000; font-size: 15px; font-weight: 700; margin: 10px 10px 10px 5px; text-align: left;}
.dbShop-ui-nlayer .dbShop-ui-wrapper20 {background:#F0F0F0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; padding:15px 15px 15px 13px;}
.dbShop-ui-nlayer p {margin:0; padding:0;}
.dbShop-ui-btnArea {padding:20px 0 15px; text-align:center;}

.msBtn {background:url(../../images/back_end/btn_editBtn.png); _background:url(../../images/back_end/btn_editBtn.gif); border:none; text-align:center; color:#FFFFFF; font-weight:700; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; zoom:1;}
a.dbShop-ui-red:link, a.dbShop-ui-red:visited, a.dbShop-ui-red:active, a.dbShop-ui-red:hover {background-position:0 -220px; margin-right:8px; text-decoration:none; border-top:1px solid #6eb0f4; border-left:1px solid #378bd4; border-right:1px solid #378bd4; border-bottom:1px solid #277dc1; color:#FFFFFF; text-shadow:#175fb1 -1px -1px 0; font-size:13px; line-height:140%; padding:5px 10px; *padding:2px 10px; font-family:Tahoma, Arial, PMingLiu, Verdana, sans-serif; zoom:1; -webkit-box-shadow:0 1px 3px #111; -moz-box-shadow:0 1px 3px #111; box-shadow:0 1px 3px #111; white-space:nowrap; cursor:pointer;}
a.dbShop-ui-red:hover {background-position:0 -252px;}
a.dbShop-ui-grey:link, a.dbShop-ui-grey:visited, a.dbShop-ui-grey:active, a.dbShop-ui-grey:hover {background-position:0 -2786px; margin-right:5px; text-decoration:none; border-top:1px solid #b7b7b7; border-left:1px solid #999797; border-right:1px solid #999797; border-bottom:1px solid #8b8888; color:#FFFFFF; text-shadow:#7c7b7b -1px -1px 0; font-size:13px; line-height:140%; padding:5px 10px; *padding:2px 10px; font-family:Tahoma, Arial, PMingLiu, Verdana, sans-serif; -webkit-box-shadow:0 1px 3px #111; -moz-box-shadow:0 1px 3px #111; box-shadow:0 1px 3px #111;}
a.dbShop-ui-grey:hover {background-position:0 -2818px;}
.dbShop-ui-container_text{margin:10px 0px; line-height:140%;background-color:#FFF; padding:5px 10px;}

/*tooltips*/
.dbShop-ui-favTag {padding:2px; width:17px; height:17px; display:block; background:url(../images/icons.gif) no-repeat 2px -19px; zoom:1; z-index:10; text-decoration:none;}
.dbShop-ui-favTagOn {padding:2px; width:17px; height:17px; display:block; background:url(../images/icons.gif) no-repeat 2px 2px; zoom:1; z-index:10; text-decoration:none}
.dbShop-ui-favTag:hover, .dbShop-ui-favTagOn:hover {text-decoration:none;}
.dbShop-ui-favTag:hover .dbShop-ui-toolTips, .dbShop-ui-favTagOn:hover .dbShop-ui-toolTips {display:block;}
.dbShop-ui-toolTips {position:absolute; color:#666666; font-size:11px; font-weight:normal!important; line-height:13px; left:0; display:none; z-index:100;}
.dbShop-ui-toolTips .dbShop-ui-top {width:103px; height:auto; padding:16px 10px 3px 10px; _padding:16px 11px 3px 10px;  background:url(../images/bg_tipsTop_sr.png) no-repeat;  _background:url(../images/bg_tipsTop_sr.gif) no-repeat; font-family:Tahoma, Arial, PMingLiu, Verdana, sans-serif;}
.dbShop-ui-toolTips .dbShop-ui-btm {width:122px; height:7px; background:url(../images/bg_tipsBtm_s.png) no-repeat; *background:url(../images/bg_tipsBtm_s.gif) no-repeat; font-family:Tahoma, Arial, PMingLiu, Verdana, sans-serif;}
.dbShop-ui-mToolTips {position:absolute; color:#ffffff; font-size:11px; line-height:120%; z-index:99999!important; *zoom:1; *width:50px; _width:50px; text-shadow:none;}
.dbShop-ui-widArea .dbShop-ui-mToolTips {width:250px;}
.dbShop-ui-mTipsBRt {}
.dbShop-ui-mTipsBLt {text-align:left;}
.dbShop-ui-mToolTips .dbShop-ui-tipsCnt {background:#53b5f6; margin-top:-5px; padding:5px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; text-align:left; z-index:10; clear:both; -webkit-box-shadow:0 1px 3px #111111; -moz-box-shadow:0 1px 3px #111111; box-shadow:0 1px 3px #111111; *border-right:1px solid #666666; *border-bottom:1px solid #666666; font-weight:normal!important; *width:75px;}
.dbShop-ui-mToolTips .dbShop-ui-tipsPtr {display:block; width:7px; height:7px; _font-size:5px; _line-height:2px; _height:0px;}
.dbShop-ui-mTipsTLt .dbShop-ui-tipsPtr {margin-right:5px; float:right; background:url(../../images/ar_tooltips.gif) no-repeat -61px 0;  *background:url(../images/ar_tooltips.gif) no-repeat -20px 0;}
.dbShop-ui-mTipsTRt .dbShop-ui-tipsPtr {margin-left:5px; float:left; background:url(../../images/ar_tooltips.gif) no-repeat -68px 0;  *background:url(../images/ar_tooltips.gif) no-repeat -20px 0;}
.dbShop-ui-mTipsBLt .dbShop-ui-tipsPtr {margin-left:5px; float:left; background:url(../../images/ar_tooltips.gif) no-repeat -47px 0;  *background:url(../images/ar_tooltips.gif) no-repeat -20px 0;}
.dbShop-ui-mTipsBRt .dbShop-ui-tipsPtr {margin-right:5px; float:right; background:url(../../images/ar_tooltips.gif) no-repeat -54px 0;  *background:url(../images/ar_tooltips.gif) no-repeat -20px 0;}
.dbShop-ui-mTipsTLt .dbShop-ui-tipsCnt, .dbShop-ui-mTipsTRt .dbShop-ui-tipsCnt {*line-height:100%; *text-align:center; *margin:0; *padding:2px 2px 5px 2px;}
.dbShop-ui-mTipsBLt .dbShop-ui-tipsCnt, .dbShop-ui-mTipsBRt .dbShop-ui-tipsCnt {*line-height:100%; *text-align:center; *margin:0; *padding:3px 2px 6px 2px;}

/*Error message*/
.dbShop-ui-eMsg {position:absolute; color:#FFFFFF; font-size:11px; line-height:120%; z-index:99999!important; *zoom:1; *width:50px; _width:50px;}
.dbShop-ui-eMsgBRt {}
.dbShop-ui-eMsgBLt {text-align:left;}
.dbShop-ui-eMsg .dbShop-ui-eMsgCnt {background:#f54f52; margin-top:-5px; padding:5px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; text-align:left; z-index:10; clear:both; -webkit-box-shadow:0 1px 3px #111111; -moz-box-shadow:0 1px 3px #111111; box-shadow:0 1px 3px #111111; *border-right:1px solid #b04244; *border-bottom:1px solid #b04244; font-weight:normal!important; *white-space:nowrap; *width:150px;}
.dbShop-ui-eMsg .dbShop-ui-eMsgPtr {display:block; width:7px; height:7px; _font-size:5px; _line-height:2px; _height:0px;}
.dbShop-ui-eMsgTLt .dbShop-ui-eMsgPtr {margin-right:5px; float:right; background:url(../../images/ar_tooltips.gif) no-repeat -15px 0;}
.dbShop-ui-eMsgTRt .dbShop-ui-eMsgPtr {margin-left:5px; float:left; background:url(../../images/ar_tooltips.gif) no-repeat -20px 0;}
.dbShop-ui-eMsgBLt .dbShop-ui-eMsgPtr {margin-left:5px; float:left; background:url(../../images/ar_tooltips.gif) no-repeat -10px 0;}
.dbShop-ui-eMsgBRt .dbShop-ui-eMsgPtr {margin-right:5px; float:right; background:url(../../images/ar_tooltips.gifg) no-repeat -5px 0;}
.dbShop-ui-eMsgTLt .dbShop-ui-eMsgCnt, .dbShop-ui-eMsgTRt .dbShop-ui-eMsgCnt {*line-height:100%; *text-align:center; *margin:0; *padding:2px 2px 5px 2px;}
.dbShop-ui-eMsgBLt .dbShop-ui-eMsgCnt, .dbShop-ui-eMsgBRt .dbShop-ui-eMsgCnt {*line-height:100%; *text-align:center; *margin:0; *padding:3px 2px 6px 2px;}

/* add by developer */
#windownbg {
    background: none repeat scroll 0 0 #000000;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

span.compulsory {color:#FF0000;padding:0px 5px 0px 0px;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
body {-webkit-text-size-adjust: none;}
.dbShop-ui-mngTab {margin:15px 20px -67px 20px;}
.dbShop-ui-appLayoutEditPanel .dbShop-ui-txtColor input.txtfield {}
.dbShop-ui-feedLinkSel {margin-top:-4px; margin-bottom:-5px;}
}
